[2021-04-09 23:00] #318 closed, assigned to nobody

[2021-04-09 23:01] seancorfield commented on #318
See the tests for it in V2: https://github.com/seancorfield/honeysql/blob/v2/test/honey/sql_test.cljc#L150-L165

[2021-04-09 23:02] seancorfield commented on #319
Fixed on **v2** branch. Will be in next alpha (or beta1).

[2021-04-09 23:02] #319 closed, assigned to seancorfield

[2021-04-10 01:07] seancorfield commented on #314
Docs updated for V2.

[2021-04-10 01:07] #314 closed, assigned to nobody

[2021-04-10 06:07] #313 closed, assigned to nobody

[2021-04-10 06:21] seancorfield commented on #309
Tests added, docstrings updated.

[2021-04-10 06:21] #309 closed, assigned to nobody

[2021-04-10 06:28] seancorfield commented on #300
Added a caveat in the Clause Reference for `:insert-into` warning about this. No cross-checking will be performed.

[2021-04-10 06:28] #300 closed, assigned to nobody

[2021-04-10 06:42] seancorfield commented on #316
Check on entity name added to V2. Currently, that check cannot be turned off.

[2021-04-10 06:42] #316 closed, assigned to nobody

[2021-04-10 07:40] seancorfield commented on #276
@kwrooijen Looking over Gungnir's code, it looks like you only need to be able to hook into the infix operator portion of the expression handling? If that's the case, then providing a hook into the formatting engine around this line would seem to satisfy your needs: https://github.com/seancorfield/honeysql/blob/v2/src/honey/sql.cljc#L1112

I'm thinking of a dynamic var, bound to `identity` by defa

[2021-04-10 07:42] kwrooijen commented on #276
Hey Sean, my laptop is currently broken and I'm in the middle of a move. I'll get back to this as soon as I can😬. Thanks for looking into this!

[2021-04-10 07:44] seancorfield commented on #276
Sorry to hear that -- and good luck with your move! No rush on feedback. I'm pretty sure this will be a purely accretive change so it's not tied to HoneySQL V2's prerelease stages.

[2021-04-10 16:33] seancorfield opened #320 "Consider pre-compile/pre-render"
From Slack (Ben Sless): "something I've been wondering about regarding honeysql for a while is if there's any way to render a string in advance and pass it parameters as symbols. From what I've seen there's no way to avoid calling format every time, but I could have missed it."

Me: "It’s not easy though: there are some constructs that don’t lend themselves to it in all cases — the two that spring

[2021-04-10 16:35] seancorfield commented on #320
Perhaps both of those could be mitigated by some syntax that constrains the number of elements and non-`nil` values respectively? Or perhaps produce strings with special placeholders so that only those pieces of the overall string needed to be generated for a final format?

[2021-04-10 17:57] seancorfield commented on #320
Tagging @bsless per Slack request.

[2021-04-10 18:02] seancorfield commented on #315
Other cases to consider:
* `[:in :col []]`
* `[:in :col [nil]]`

[2021-04-10 23:46] seancorfield commented on #146
Having reached Beta 1 with the new formatting engine, it's clear to me that specifying the possible structure of the DSL using Clojure's Spec is pretty much impossible. SQL is sufficiently complex -- and the DSL also sufficiently complex -- that a "complete" Spec would be very complex and likely to produce very poor "explain" messages (and also likely be very slow). A minimal Spec probably could b

[2021-04-10 23:46] #146 closed

[2021-04-10 23:50] seancorfield commented on #146
I should also have mentioned that it's also pretty much impossible to try to restrict the DSL to something that produces valid SQL, given the somewhat ad hoc differences between SQL dialects (just flipping back and forth between SQL Server and PostgreSQL documentation for the same statement was enough to make my head spin -- let alone trying to figure out what is also valid for MySQL and for the m

[2021-04-11 20:05] seancorfield commented on #310
Need `:filter` and `:within-group` as special syntax. Both take a series of expression / clause pairs.

[2021-04-11 23:05] seancorfield commented on #310
Implemented, along with `ORDER BY` as an expression.

[2021-04-11 23:05] #310 closed, assigned to nobody

[2021-04-11 23:07] seancorfield commented on #315
@brjann I'd love to get your feedback on the changes I've made to support this (on the **v2** branch, it was added after Beta 1).

[2021-04-11 23:51] #308 closed, assigned to nobody

[2021-04-12 01:05] seancorfield commented on #278
An EDN file that looks like this would work:

[code]

The big open question then would be: how do we deal with these EDN files? Should libraries just describe what should go into your `honeysql.edn` file? If a library relies on such a declarative extension but that library is pulled in, transitively, and you don't know... I guess whatever library depends on it should document that, up the dependen

[2021-04-12 18:51] brjann commented on #315
Thanks @seancorfield , I really appreciate this!

I have looked at the tests for the cases that include one or more `nil` values and they look exactly like I suggested. Two thoughts:
1. In MySQL an empty `IN()` statement is an error. This is a pain sometimes when I want exactly the effect that you propose, for the clause to match nothing (i.e., `WHERE FALSE`). So I always have to remember to wrap

[2021-04-12 18:59] brjann commented on #315
Regarding my first thought. Maybe there is actually no valid case where IN() should not be interpreted as matching no rows.

[2021-04-12 19:11] seancorfield commented on #315
Yeah, I'm on the fence about #1 -- but it sort of falls out of `WHERE col IN (NULL)` because if you lift the `NULL` check out, you're left with `(col IS NULL OR col IN ())` so you have to eliminate the `OR` clause in that case. But there are definitely arguments in favor of leaving `WHERE col IN ()` alone and making it an error so users must explicitly choose how to handle it. Once you take that s

[2021-04-12 19:30] brjann commented on #315
#1. Sure. But I do have a specific use case where `NULL` / `nil` is a valid value of a column that has a specific meaning. But it may be too much of a corner case. I have actually written my own `in*` handler now to cover this use case.

#2. I agree, supporting tuples would be very magical. But wouldn't become combinatorial though? One would just move every `nil` containing tuple out and check it

[2021-04-12 20:10] seancorfield commented on #315
You're right that #2 wouldn't become combinatoric but in the case where you have a lot of tuples in the collection and, say, half of them have `nil` in one slot or the other, then the naive expansion is going to be one `IN` for half of them and a separate `OR` for each of the other ones that contain `nil` -- which could be a pretty large expansion of SQL code -- or a "simplification engine" that t

[2021-04-12 20:19] brjann commented on #315
Yes. That is probably the case. So silently passing that `nil` through may be a bad idea. And it has it advantages that I can identify this specific case by `:in*`. Anyway, I really appreciate that you entertained the idea and followed through with tests and all.

[2021-04-12 22:07] seancorfield commented on #315
I've reverted the changes and I'm going to close this out. I'm probably going to add a `:checking` option (default none/off) that would allow for a mode where HoneySQL does various additional checks on data and throws exceptions. The cases here could be: `IN ()` always being wrong and `IN (NULL,?)` likely being wrong.

[2021-04-12 22:07] #315 closed, assigned to nobody

[2021-04-12 22:11] seancorfield opened #321 "Add checking mode to "lint" certain unusual constructs"
Perhaps `:checking :none | :warn | :error` to dynamically enable a mode where HoneySQL performs additional checks and throws exceptions for "strange" stuff.

The initial idea came out of feedback on Slack around #315 and suggested an option for throwing an exception on an `IN` expression having an empty set of values -- always an error in SQL -- but perhaps also having a more stringent level that

[2021-04-13 16:37] seancorfield opened #322 ""where" with implicit "and" and explicit "or" switches to "or""
[code]

[2021-04-13 19:55] #322 closed, assigned to seancorfield

[2021-04-13 19:56] seancorfield commented on #322
Fixed in Beta 2.

[2021-04-22 06:57] hoxu opened #323 "v2: INSERT... ON CONFLICT does not support unique index inference for multiple columns"
At least I could not find a test case for this.

Example SQL:

[code]

https://www.postgresql.org/docs/current/sql-insert.html#SQL-ON-CONFLICT

Emphasis mine:

[2021-04-22 07:38] seancorfield commented on #323
Definitely a bug in my interpretation of what it should allow. Will fix for the next Beta release.

[2021-04-23 02:17] seancorfield commented on #323
Fixed on **v2** if you want to try it out via git.

[2021-04-23 02:17] #323 closed, assigned to nobody

[2021-04-23 05:14] seancorfield commented on #321
Added `:checking :none | :basic | :strict` with `IN ()` and `IN (NULL)` as the only checks so far.

[2021-04-23 05:14] #321 closed, assigned to seancorfield

[2021-05-01 19:49] seancorfield opened #324 "insert-into helper doesn't work when merged into another statement"
In the `table cols statement` arm, initial `data` is not supported.

[2021-05-01 19:57] #324 closed, assigned to seancorfield

[2021-05-03 21:05] kwrooijen commented on #276
Sorry for the late reply.

It looks like the line you're referring to is a bit off now because of new commits. But I think you're pointing to the `format-expr` function?

You're right, I'm only applying these transformations to comparison infix operators. I'm not sure how this `format-expr` works but I had to create a bit of a "hack" to make sure transformations only applied once (see https://gith

[2021-05-05 05:36] seancorfield commented on #276
The comparison ops are not variadic in V2 -- only `:and :or :+ :* :||` are currently variadic -- so I think most of your `recurred?` logic wouldn't be necessary. I have to be honest and say I don't really understand exactly what Gungnir is trying to do, but I _think_ given `[:= :email "foo"]` and a `before-read` of `str/lower-case`, it would want to produce `["email = ?" (str/lower-case "foo")]` -

[2021-05-07 05:04] seancorfield commented on #276
Given the open questions, I'm going to move ahead with an RC for 2.0 and target this integration for 2.1. I think there's a lot of scope for interesting integrations beyond Gungnir but I want to make sure that whatever I add satisfies _at least_ Gungnir's requirements.

[2021-05-10 18:40] seancorfield opened #326 "Join/Select/On does not surface parameters"
From Slack:

[code]

PostgreSQL (of course).

Figure out possible syntax space from PG docs and then figure out how to support this.

[2021-05-10 19:08] seancorfield commented on #326
See https://www.postgresql.org/docs/current/sql-select.html -- ON/USING is optional.

[2021-05-11 05:47] #326 closed, assigned to seancorfield

[2021-06-08 10:50] orestis opened #327 "offset weird behaviour"
Hey there, I was migrating some HoneySQL v1 code as a first foray and bumped into this:

Normal:
[code]

Unexpected but good, since `nil` offset would produce bad SQL (but the error is not so helpful)
[code]

Unexpected and also produces truly invalid SQL:
[code]

My preference would be for offset (and limit, and potentially more) to be ignored when nil. It will remove a lot of conditionals  we ha

[2021-06-08 11:05] orestis opened #328 "count-distinct support?"
Normal:

[code]

Broken:

[code]

Expected (and v1 behaviour):
[code]

[2021-06-09 13:25] orestis opened #329 "Re-introduce `call` function from honeysql1"
While I think the nested vector/seq convention for function calls (and so many other things) seems to work fine, migrating codebases from honeysql1 is a bit painful because in those cases we use `core/call`. So migrating the code becomes a chore of either:

1. Manually replace the calls to `call` with a vector.
2. Define a project-level `call` function and replace the reference

There's a second p

[2021-06-09 16:19] seancorfield commented on #329
3. Do a find'n'replace to turn `core/call` into `vector` (from `clojure.core`) 😄

I will add this. I just have to think about how/where to document it because I don't think I want to encourage the use of it.

[2021-06-09 16:23] orestis commented on #329
I guess it could be a deprecated or undocumented function (that doesn’t show up on cljdoc) :)

[2021-06-13 01:08] seancorfield commented on #329
I have added this to `honey.sql` and marked it `^:no-doc` so that it will not appear in the documentation. It _is_ mentioned as a note in the "Differences" page so folks migrating from 1.x can learn about it.

[2021-06-13 01:08] #329 closed, assigned to seancorfield

[2021-06-13 01:16] #328 closed, assigned to seancorfield

[2021-06-13 01:26] seancorfield commented on #327
This is a bit of a tricky one. Right now, there's an inherent assumption that a key in the DSL cannot have a `nil` value so the parsing logic draws no distinction between "unknown clause" and "clause has no value" -- which it really should -- but allowing _some_ clauses to have `nil` values but not others would be pretty complicated and really isn't a path I want to go down.

I think the best I ca

[2021-06-13 01:49] seancorfield commented on #327
I decided to just update that exception: it now says `These SQL clauses are unknown or have nil values`

[2021-06-13 01:57] #327 closed, assigned to seancorfield

[2021-06-13 02:02] seancorfield commented on #327
OK, the `(h/offset nil)` issue was a bug in _all_ single-argument helpers and is fixed as well:
[code]

[2021-06-17 17:56] john-shaffer opened #330 "Joins against a table named "entity" result in surprising/inconsistent behavior"
Version: 2.0.0-rc3

[code]

This throws because honeysql tries to destructure `:entity` as if it were a vector. This is fixed by replacing `:entity` with `[:entity :entity]`.

But this similar code does not throw:
[code]

I'm not sure what the desired behavior is here, but I think that it should at least be consistent. Is the desired behavior to throw or to accept `"entity"` as the table name?

[2021-06-17 18:48] john-shaffer commented on #330
It looks like I misunderstood the syntax, as this does work correctly:

[code]

Can we either accept the vector-of-vector syntax or throw a more informative error? I'd be happy to make a PR, just need guidance on how you want it handled.

(I'd also like to add a multiple join example to the docs, so making a note here).

[2021-06-17 19:52] seancorfield commented on #330
How's this:

[code]

[2021-06-18 17:43] seancorfield opened #332 "Improve select/cross-join examples"
Make it clearer how to break down complex SQL into a "mental AST" to arrive at the correct DSL in data form.

An example:

[code]

`:cross-join` has a single expression: an alias pair. The first part of that alias pair is `[:lateral ..]` and the second part is the nested "function call" of `[[:raw ..]]`.

`:cross-join [ [expr [AS] alias] ]` where `[AS]` is just intended to show how the aliased exp

[2021-06-19 02:49] john-shaffer commented on #330
Thanks! That looks perfect. I made a PR adding an example to the "big complicated map" in the README, as that was the first place I looked for an example and it seems like a very good spot for it.

[2021-06-19 03:33] #330 closed, assigned to seancorfield

[2021-06-26 09:18] borkdude commented on #288
@seancorfield You could consider enabling "Discussions" on this repo. This has the benefit that answers to questions are better found using web searches and also enable folks to join who aren't on chat platforms.

[2021-06-26 18:01] seancorfield commented on #288
https://github.com/seancorfield/honeysql/discussions/

[2021-07-13 17:34] seancorfield opened #337 "Tests no longer need cljs.test and refer-macros"
See https://github.com/clj-commons/rewrite-clj/blob/52f429e09429a6e942837fabb481045698cba54f/test/rewrite_clj/zip_test.cljc#L4 for an example

[2021-07-15 15:24] viebel commented on #299
@seancorfield What king of safety does V2 provide in terms of SQL injection?

[2021-07-15 18:40] seancorfield commented on #299
@viebel All literal values in the DSL expression should be lifted out to parameters (unless you deliberately use `:inline` or `:raw`). Then the JDBC library you use -- `next.jdbc` or `clojure.java.jdbc` -- will create a `PreparedStatement` from the SQL (which will have `?` placeholders for all those parameters) and then it will "set" each parameter value into that `PreparedStatement` before execut

[2021-07-16 02:27] #337 closed, assigned to nobody

[2021-07-16 03:12] seancorfield commented on #320
After giving this quite a bit of thought, I'm going to close it out with no action.

I think you can achieve what you want in the limited cases where it is possible by using dummy values and `format`ting just once, and then reusing that SQL string with a different set of parameter values as needed later on:

[code]

with the caveats that `IN` will require the same number of params each time and an

[2021-07-16 03:12] #320 closed, assigned to nobody

[2021-07-17 19:55] seancorfield opened #338 ":fetch should generate FETCH ? ONLY"
Need to add tests for this!

[2021-07-17 21:49] seancorfield commented on #332
Updated `:cross-join` docs -- need to improve `:select` docs and perhaps add a new section to the general reference page?

[2021-07-18 00:03] seancorfield commented on #338
Needs `fetch next N rows only`. Also `offset N rows`. So that needs to be affected by the dialect since MySQL can't have that. And for consistency `offset` shouldn't really have `rows` if `limit` is also present and there's no machinery for that right now.

[2021-07-18 01:00] #338 closed, assigned to seancorfield

[2021-07-18 21:18] seancorfield commented on #332
`:select` has also been updated. Still thinking about the general reference section and mental models/ASTs.

[2021-07-18 22:09] seancorfield opened #339 "Clarify that mixing JSON and SQL needs clear semantic delineators"
Could use named parameters instead? Or remember to use `:lift` (where v1 needed a different escape hatch).

[2021-07-18 23:36] #339 closed, assigned to nobody

[2021-07-19 01:29] seancorfield commented on #332
I'm going to close this out for now. A general AST/mental model section is still a good idea but I'm not there yet in terms of writing that...

[2021-07-19 01:29] #332 closed, assigned to nobody

[2021-07-22 05:11] k3nj1g opened #340 "Enhance keep-hyphen logic to allow - in operators"
Is there any way we could register operators to work with json without register-fn! in custom way?
For example, "@@"  operator i have registered like
[code]

I think its totally ok, because symbol @ is reserverd for derefing and couldn't be used for keyword.

But what about "->" and "->>"? I think we should might register them with `sql/register-op!`

Thank you for your work btw.

[2021-07-22 06:43] seancorfield commented on #340
It took me a while to understand the problem here: if you try to register `:->` and `:->>` as operators, the leading `-` is converted to space when the SQL is formatted. Is that what you're asking about?

As for `@@`, one possibility is:

[code]

[2021-07-22 13:56] k3nj1g commented on #340
It would be more convenient to register the operator using with additional param.
`(sql/register-op! atat {:keep-hyphen? true})`

[2021-07-22 18:23] seancorfield commented on #340
There's already some logic in place to handle certain exceptions to the "replace hyphen with space" logic -- it just isn't smart enough right now. If I enhance that to only replace hyphens that are between alphanumerics, I believe that will solve that aspect of this issue.

Are you OK with the `atat`/`@@` workaround?

[2021-07-22 19:36] seancorfield commented on #340
[code]
Something like that works to replace all hyphens that are adjacent to "word" characters (I'm sure this could be improved but my regex-fu has failed so far).

[2021-07-23 02:49] #340 closed, assigned to nobody

[2021-07-24 04:39] zerg000000 opened #341 "Customize/Config positional/named parameter"
In JDBC world, we use `?` `:name` for positional parameter and named parameter.

For some db like PostgreSQL, the native query is using `$1`, `$2` for positional parameter.

Is honeysql intended to support them?

[2021-07-24 04:41] seancorfield commented on #341
No. The numbered parameters will not be supported. Only `?` (positional) and named parameters. This was discussed and denied in a ticket early in the 2.x design phase.

[2021-07-24 04:41] #341 closed, assigned to nobody

[2021-07-24 04:51] zerg000000 commented on #341
@seancorfield May I know the related ticket? Since I cannot search for any or I don't know the proper keyword to search.

[2021-07-24 05:33] seancorfield commented on #341
I don't remember. I'd have to spend time searching for it just like you would.

[2021-07-26 12:39] orestis commented on #340
Just for Google help: If you're looking to support the Postgres JSON/JSONB operators `->` and `->>`, this issue (and the associated fix) is what you're looking for. The fix works great as far as I can see, all you need is:

[code]

[2021-07-26 17:51] seancorfield commented on #340
Thanks, @orestis ! I assume `@@` is also variadic?

[2021-07-26 18:26] orestis commented on #340
I don't think so @seancorfield : https://www.postgresql.org/docs/12/functions-textsearch.html the arguments there are `tsvector` and `tsquery` so I think it's binary. I'm not using those text search operators myself though.

[2021-08-09 06:49] vemv commented on #146
Hi,

I wonder if it would be reasonable to reopen this issue under a humbler goalpost?

It is easy to comprehend that SQL can't be reasonably speced as a whole. However that doesn't remove the possibility of specing various defns of honeysql's impl.

To give a concrete example, today I faced this stacktrace:

[code]

Nothing too bad, one can quickly make sense of it (expected a coll, got keyword).

[2021-08-09 17:27] seancorfield commented on #146
I'd be open to PRs to add a new `honey.sql.specs` ns with `instrument`/`unstrument` fns (see `next.jdbc` for a reference model), that provides optional Specs for some internal parts of HoneySQL.

Since HoneySQL requires a minimum Clojure 1.9, I'd be OK with `honey.sql` requiring that `specs` ns and including the `fdef`'s inline above each definition (so it is reasonable/easy to Spec private functi

[2021-08-11 00:23] vemv commented on #146
Nice, will keep in mind!

Probably for a couple months I'll see if I can implement a few fdefs that would help me in my daily work, defining them outside of honeysql for easy iteration. I'd contribute them as the last step.

If someone else beats me to contributing a PR I'll be happy as well.

[2021-08-11 07:01] devurandom opened #344 "UPDATE with JOIN for MySQL dialect: Column in field list is ambiguous"
[code]

Produces:
[code]

MySQL will complain:
[code]

The reason is that `deleted_at` needs to be prefixed with `subscriptions`. When I use the following string instead, MySQL accepts it:
[code]

I already tried to enforce this in the code above by namespacing the keyword, but for some reason HoneySQL did not adopt that into the final string.

[2021-08-12 04:29] seancorfield commented on #344
I'll have to do some research across multiple databases. This is currently the way it is because at least one database (maybe several) does not allow qualified names in `SET` clauses, as I recall.

[2021-08-12 11:01] devurandom commented on #344
Would it be possible to use qualified names just for MySQL for now? My tests show that MySQL 8 supports this.

[2021-08-12 15:47] seancorfield commented on #344
As I said, I will do some research across multiple databases and decide on the best solution for this problem because HoneySQL must support a wide variety of databases. My baseline for MySQL support is 5.7. I need to figure out how changing the behavior of `SET` would factor into the existing dialect support system. I will probably take a look at this over the weekend, which is likely to be my nex

[2021-08-13 01:14] seancorfield commented on #344
OK, I'm starting to look into this now and came across #317 which is why _qualified_ keywords have their namespace portion dropped in `SET` statements: PostgreSQL is a lot more popular with Clojurians than MySQL and is generally closer to "Standard SQL" and essentially the default mode in HoneySQL.

Then I looked through the tests, figuring I must have a test for #317 and indeed I do: https://gith

[2021-08-13 01:26] #344 closed, assigned to nobody

[2021-08-14 22:20] devurandom commented on #344
Thanks!

[2021-08-25 22:59] lread commented on #290
From a chat with @seancorfield: at this point we really only need to do v2.

[2021-08-27 15:28] vushu opened #345 "Unexpected result when using sql/call with :unique"
using version
`        com.github.seancorfield/honeysql {:mvn/version "2.0.0-rc5"}
`
[code]

Actual result:
  CREATE TABLE user (email VARCHAR(60) UNIQUE EMAIL)

Expected result:
  CREATE TABLE user (email VARCHAR(60) UNIQUE (email))

[2021-08-27 20:24] seancorfield commented on #345
See https://cljdoc.org/d/com.github.seancorfield/honeysql/2.0.783/doc/getting-started/sql-special-syntax-#index-unique

The first argument to `unique` is assumed to be the name given to the constraint. You should pass `nil` if the constraint is unnamed:

[code]

[2021-08-27 20:24] #345 closed, assigned to nobody

[2021-08-30 15:25] seancorfield opened #347 "Provide example of alter table add primary key"
[code]
It's a combination of https://cljdoc.org/d/com.github.seancorfield/honeysql/2.0.783/doc/getting-started/sql-clause-reference#add-index-drop-index and https://cljdoc.org/d/com.github.seancorfield/honeysql/2.0.783/doc/getting-started/sql-special-syntax-#foreign-key-primary-key -- I'll create an issue to add an example and cross-link these.

[2021-08-31 02:15] #290 closed, assigned to nobody

[2021-08-31 16:44] seancorfield opened #348 "Add some sort of support for CREATE INDEX"
There's no standard for this aspect of DDL it seems, but here's:
* PostgreSQL https://www.postgresql.org/docs/current/sql-createindex.html
* SQL Server https://docs.microsoft.com/en-us/sql/t-sql/statements/create-index-transact-sql?view=sql-server-ver15

They're different (of course) but have some common elements. It's not clear what HoneySQL syntax should be for this because there are some words

[2021-08-31 16:46] seancorfield commented on #348
MySQL https://dev.mysql.com/doc/refman/5.7/en/create-index.html -- yet more differences.

[2021-08-31 20:15] tomconnors opened #349 "Add a global quoting option"
It would be handy if honeysql exposed a function for globally controlling whether or not to quote, since setting the dialect w/ `set-dialect!` doesn't do that.

[2021-08-31 22:59] seancorfield commented on #349
I'll give this some thought.

My initial reaction is no -- I don't want to add a global quoting flag that would interact with what happens when you specify `:dialect` and/or `:quoted` as options to the `format` function.

Right now, if you specify `:dialect` as an option to `format`, you can still opt out of quoting by _also_ passing `:quoted false`, or you can specify `:quoted true` to opt in if

[2021-09-02 14:22] naskomit opened #350 "Special function %count-distinct doesn't work in v2"
Hi,

Congrats for the great library, which makes SQL generation so much easier!!!

Is it possible to generate the following clause using v2?

SELECT COUNT (DISTINCT `a`), COUNT (DISTINCT `b`) FROM `table1`

It used to be possible using %count-distinct.a & %count-distinct.b, but these don't seem to function any more in v2

Cheers

[2021-09-02 14:35] naskomit commented on #350
I just found out the new syntax:
[code]
as described in https://github.com/seancorfield/honeysql/blob/develop/doc/special-syntax.md#distinct

[2021-09-02 14:35] #350 closed, assigned to nobody

[2021-09-05 16:27] seancorfield opened #351 "Cache generated SQL"
If `:cache` provided, cache SQL based on the set of keys in `:params`. Only works for named parameters.

[2021-09-08 10:25] evilsneer opened #352 "Add support for "as-is" function calls for case-sensitive contexts (ClickHouse, BigQuery)"
It makes trouble when working with some sql-oriented dbs.

Example:

`{:select [[[:domain :ref]]]} `
produces
`SELECT DOMAIN(ref)`

[2021-09-08 21:00] seancorfield commented on #352
Can you provide a concrete example of a database/JDBC driver combination where this causes a problem, so that I can set up a repro test case?

[2021-09-08 21:39] evilsneer commented on #352
sure
clickhouse with [ru.yandex.clickhouse/clickhouse-jdbc "0.3.1"]

[2021-09-08 22:29] seancorfield commented on #352
Never heard of it. Looks like I can run it via Docker: https://hub.docker.com/r/yandex/clickhouse-server/

Can you provide a short Clojure script that, starting with an empty default instance of ClickHouse via that Docker container, creates a database, a table, and then does something that breaks specifically because of the uppercasing of the function?

That will give me a good testing framework s

[2021-09-08 22:46] evilsneer commented on #352
I have got sql for this

[code]
`SELECT DOMAIN("ref") from fuzz` - won't work with

expected

`SELECT domain("ref") from fuzz`

[2021-09-09 00:16] seancorfield commented on #352
Much appreciated @evilsneer -- I'll take a look at this during my next OSS window (which probably won't be for a week or two, just to set expectations).

[2021-09-09 17:33] seancorfield opened #353 "Strings not handled correctly for CREATE TABLE"
In order to get through the namespaced/dotted-name handling for keywords/symbols in `format-entity` you are supposed to be able to use a string and get a literal, multi-segment, quoted name.

However, since the introduction of `destructure-create-items` to handle additional syntax, strings are not passed through correctly and, even then, `format-entity` does not handle more than two segments in a

[2021-09-09 18:50] cyppan commented on #281
I'm trying to use the Bigquery DDL syntax to create / update my tables and it looks like the honey extensions point are not enough (add-column and with-columns)
To make it work, I'm forced to introduce new clauses that mimic the original add-column and with-columns but with special handling for adding structures (`my_struct STRUCT<name STRING, description STRING, ...>`) and arrays (`my_array ARRAY

[2021-09-09 19:00] seancorfield commented on #281
This feels like an overly complicated approach since it is just the _type_ portion that needs to expand to `STRUCT<>` or `ARRAY<>` so you should only need functions for that part and then you wouldn't need special handling for `with-columns` or `add-columns`.

I don't have time to dig into this at the moment but will try to find some time in a week or two to revisit this.

[2021-09-10 17:34] cyppan commented on #281
Oh yes there is no need to override the with-columns clauses how dumb I am..
I thought it didn't work because I was trying with `(with-columns [[:bigquery/array-column :my_array :string] ...])` but the right way to do it is `[:my_array [:bigquery/array-column :string]]` which makes the function correctly executed 🎉

I still need to override the add-column clause though because it does not support

[2021-09-10 18:16] cyppan commented on #353
I'm surprised about the quotes around the table name, is it valid sql? (it's not valid bigquery standard sql at least)

[2021-09-10 22:58] seancorfield commented on #353
Using a string triggers quoting according to whatever dialect is selected -- the reason being that you normally only use strings when you want to either circumvent the `-` to `_` translation or you have a table/column name that is not representable as a Clojure symbol/keyword.

The default dialect is ANSI which uses double-quoting, as does PostgreSQL.

Looks like BigQuery expects backticks which i

[2021-09-10 23:17] seancorfield commented on #281
The original target for HoneySQL was vendor-neutral and supposedly ANSI-compatible but with 2.0 I am supporting a variety of dialects and have greatly expanded the core ANSI dialect support, as well as having support for MySQL and (some support for) Oracle -- and supporting PostgreSQL in the default ANSI dialect, even where PG diverges.

Looks like `add column if not exists` came to PostgreSQL som

[2021-09-10 23:18] seancorfield opened #354 "add column if not exists / drop column if exists"
PostgreSQL supports these (as of 9.6, possibly earlier). Google BigQuery also supports these.

[2021-09-10 23:19] seancorfield commented on #281
See #354

[2021-09-10 23:21] seancorfield commented on #281
I will also add the array/struct syntax from this ticket. I like the namespaced-keyword approach but I wonder if any other databases have those types too? (and therefore the namespace should not be tied to BigQuery)

[2021-09-11 08:09] cyppan commented on #353
Oh ok I didn't set the dialect indeed, I understand better how you handle the different engines syntaxes now, thank you, it works as expected on "develop".

[2021-09-11 08:26] cyppan commented on #281
Good to know

Postgres (at least) supports arrays too (https://www.postgresql.org/docs/9.1/arrays.html) but with a different syntax (ex integer[] vs array<integer> in BQ). But I think for now structs are only a bigquery thing.
So if I follow your logic, the array formatting difference could maybe be handled by the dialect setting (and so the function should not be namespaced) but BQ / Postgres hav

[2021-09-11 09:32] cyppan opened #355 "Alter table support for multiple alter options (Ex: multiple add column statements)"
At least Mysql, Postgres and BigQuery support syntaxes like this:
[code]

AFAIU The DSL currently only supports one alter statement in the `:add-column` clause. It would be nice if the sql-helpers/add-column was additive instead.

[2021-09-11 18:09] seancorfield commented on #281
Currently, the dialect mechanism doesn't influence functions so that will require some thought before I go down that path.

[2021-09-11 18:11] seancorfield commented on #355
I'll give this some thought, thank you.

[2021-09-15 18:19] mrkam2 commented on #327
I ran into a similar issue converting our codebase to HoneySQL v2. In particular, `offset` and `limit` helpers were conveniently skipping corresponding clauses from SQL when `nil` value was passed to them. With v2, this caused the exception. By looking at a source code a found a very ugly workaround to achieve the same behavior:

[code]

Based on your thoughts above, you're not planning on support

[2021-09-15 18:46] mrkam2 opened #358 "Possible migration guide improvements"
Things I ran into during migration to v2 that would be nice to add to the migration guide:
- `format-predicate` is now `format-expr`,
- `offset` and `limit` helpers no longer support `nil` values,
- it wasn't straightforward to find replacements for the API that was gone, partially because the migration guide doesn't reference specific API replacements. I. e. searching by the following API words g

[2021-09-15 18:49] mrkam2 opened #359 "`limit` and `offset` helper funcitons have incorrect arglists"
`limit` and `offset` arglists are missing the first map argument being currently defined as:
[code]
This causes eastwood linter errors in our project for otherwise valid code:
[code]

[2021-09-15 19:00] mrkam2 opened #360 "Add support for "id = ANY(array-of-ids)" operator"
Originally in our project and for HoneySQL v1 I added support for `[:any :id ids]` operator which translated this into `["id = ANY(?)" ids]` where ids was a postgres array object rather than anything that converts into `"ANY(?, ?, ?)". Sometimes we use it with thousands of array values, so the latter isn't a good option for us.

Here is a v1 snippet of this:
[code]
where `->pg-array` is a helper f

[2021-09-15 19:20] seancorfield commented on #360
`format-expr` doesn't have the full context for resolving lifted expressions.

You are correct that you can do this directly in v2 with no extensions:

[code]

[2021-09-15 19:30] seancorfield commented on #327
Please open a new issue about `[]` in that context for me to look at next time I'm doing OSS work (in a few weeks).

[2021-09-15 19:34] seancorfield commented on #358
`format-expr` is not quite the same as `format-predicate` but will substitute for it in most cases. I don't know that `format-predicate` was ever really documented, but `format-expr` is: https://cljdoc.org/d/com.github.seancorfield/honeysql/2.0.783/api/honey.sql#format-expr

The v2 API is thoroughly documented. A lot of what you're referring to in v1 was undocumented and/or internal implementation

[2021-09-15 19:34] #358 closed, assigned to nobody

[2021-09-15 19:39] seancorfield commented on #359
I've always said Eastwood is wrong to use `:arglists` metadata for linting instead of the actual argument lists. This is a long-standing problem with Eastwood. `clj-kondo` does this properly.

`:arglists` is intended to provide guidance for humans -- all of the helpers are variadic with `[& args]` and all of the `:arglists` explicitly provided are intended to show the non-DSL arguments. That is no

[2021-09-15 19:39] #359 closed, assigned to nobody

[2021-09-15 19:48] mrkam2 commented on #359
What do you mean by "non-DSL arguments"? It's not clear from the documentation that it accepts both 1 or 2 arguments and ignores everything beyond 2nd argument, or even 1st, if it is not a map.

[code]

I find this as confusing for humans as it confuses eastwood.

[2021-09-15 19:52] mrkam2 commented on #360
What does it missing? Or how can it be provided?

A quick example shows that `format` can be confused as well:

[code]

[2021-09-15 19:56] mrkam2 opened #361 "`limit` and `offset` do not accept `nil` value but happy with `[]`"
In v1, `(limit nil)` or `(offset nil)` where interpreted as not having corresponding clauses. In v2, those throw `These SQL clauses are unknown or have nil values: :limit` exception upon formatting (as discussed in https://github.com/seancorfield/honeysql/issues/327).

An ugly workaround is to use `[]` instead:

[code]

Would be great to support `nil` and not support `[]`.

[2021-09-15 19:56] mrkam2 commented on #327
Opened https://github.com/seancorfield/honeysql/issues/361

[2021-09-15 20:03] mrkam2 commented on #358
Does this count as documentation? https://cljdoc.org/d/honeysql/honeysql/1.0.461/api/honeysql.format#format-predicate

Could you please be more specific?

`ToSql`: https://cljdoc.org/d/honeysql/honeysql/1.0.461/doc/readme#why-does-my-parameter-get-emitted-as-
`fn-handler`: https://cljdoc.org/d/honeysql/honeysql/1.0.461/doc/readme#extensibility
`to-sql` is given as an example in both of these.

[2021-09-15 20:44] seancorfield commented on #358
Almost none of the public vars had docstrings so, no, that does not count as "documentation". There was nothing beyond the readme and the source code for the 1.x codebase, unfortunately, and the general lack of docstrings and the very patchy coverage of things in the readme makes a 1:1 migration guide pretty much impossible -- as I said above.

The migration guide says, of the v1 API: "The array,

[2021-09-15 20:45] seancorfield commented on #327
Thanks!

[2021-09-15 20:47] seancorfield commented on #360
As the documentation says, you must use `:lift` for parameters that are data structures:
[code]

[2021-09-15 20:47] #360 closed, assigned to nobody

[2021-09-15 20:53] cyppan commented on #353
I'm facing other problems with the `:from` clause, I don't know how I should specify my table name
[code]

Update: (sql/format {:from :a.b.c}) works as expected
[code]

[2021-09-15 21:01] seancorfield commented on #353
Like with `select`, you need nesting to identify a function call (`:raw`) from an alias, and `from` takes a sequence of such things:
[code]

[2021-09-15 21:05] seancorfield commented on #353
With the *develop* version of HoneySQL, your original example works without strings:
[code]

[2021-09-15 21:17] mrkam2 commented on #360
I just realized that it was my registered `:any` function that was corrupting all the experiments for me. Once I removed it, it started working:

[code]

[2021-09-15 21:33] cyppan commented on #353
Oh sorry I wasn't on develop anymore indeed thank you 🙏

[2021-09-16 20:38] mrkam2 commented on #359
@seancorfield bump

[2021-09-16 20:39] mrkam2 commented on #361
Current API requires something like this:
[code]

Is there a better alternative?

[2021-09-17 00:00] seancorfield commented on #361
My preference is:
[code]

[2021-09-17 00:02] seancorfield commented on #359
I honestly don't know what to say in response to this given the examples in the docs that show the helpers having the DSL data structure threaded through them.

[2021-09-17 18:56] mrkam2 commented on #361
Nice option, thanks for sharing!

[2021-09-17 19:12] mrkam2 commented on #359
If eastwood were using real argument list, it would have never noticed any issues if this function was incorrectly used with 3 or more arguments, for example. It does a good job of using `:arglists` as the source of more specific information about the real argument options.

Moreover, clojure docstrings become insufficient as user have to go to examples and other documentation to figure out how th

[2021-09-21 17:33] evilsneer opened #362 "Can't use params with [:inline x]"
Produces some of

```[:= 1 [:inline [:param :sources]]] -> "1 = PARAM SOURCES"```

I use global {:inline true}, but still..

[2021-09-21 17:55] evilsneer opened #363 "Inlining does not support vectors or hash maps"
[code]

converts to

[code]

where is no delimiter

[2021-09-21 19:12] seancorfield commented on #363
I don't understand what you think is wrong here. How are you calling `format` and what output would you expect?

[code]

[2021-09-21 19:14] seancorfield commented on #362
You can't inline parameters. I'll make a note in the docs that is not possible. Parameter substitution happens at the end of formatting. Inline substitution happens during the parse/build phase.

[2021-09-21 19:34] evilsneer commented on #362
But it works fine when `(sql/format hm {:inline true})`

[2021-09-21 19:45] evilsneer commented on #363
Sorry, forgot a part, my bad. I called
[code]

it is a little overcomplicated for example, I understand, but point is:
1 - it needs :inline true because "->"-functions - looks that "body" of them needs to be fully inline almost at all db, that I use
2 - when [] inlined - there is separator (comma) missing

[2021-09-21 20:22] seancorfield commented on #363
The inline logic doesn't support vectors at all right now. What you're getting is just `pr-str` of the Clojure value -- so the strings have double quotes which is not correct for SQL (strings should have single quotes).

[2021-09-21 20:23] seancorfield commented on #363
I've updated the issue title to reflect what's really missing here.

[2021-09-21 20:26] seancorfield commented on #362
The `:inline` special syntax and the `:inline` option are not the same thing (by design). As noted in the other ticket, inlining data structures is not supported and the `:inline` _syntax_ doesn't format its argument: it just treats it as a Clojure value.

[2021-09-22 11:53] tomasd opened #364 "Operators with `@` character"
`honey.sql/register-op!` expects operator to be a keyword. In postgresql there are couple of operators (e.g. [range](https://www.postgresql.org/docs/current/functions-range.html) or [text search](https://www.postgresql.org/docs/current/functions-textsearch.html)) which contains special character `@`. Unfortunately clojure reader does not support `@` in the keyword:

[code]

The only way to current

[2021-09-22 18:40] seancorfield commented on #364
What I've recommended to other PostgreSQL users is:

[code]

Something like this should be added to the (extensive) PostgreSQL section in Tips & Tricks.

[2021-09-24 18:25] mrkam2 commented on #359
@seancorfield bump

[2021-09-24 18:26] seancorfield commented on #359
I've already said "I honestly don't know what to say in response to this". Stop being rude and entitled.

[2021-09-24 20:52] mrkam2 commented on #359
I'm sorry, I didn't mean to be rude or entitled. I pinged you in case you've missed my last comment.

[2021-09-25 23:16] seancorfield commented on #359
I want to be crystal clear that this issue is closed and I will have no further discussion on this.

Eastwood has had issues with arglists dating back around seven years at this point and has generally dealt with it by accruing custom configuration to deal with third-party libraries that provide `:arglists` metadata for human readable hints, that don't match actual `defn` argument lists. You can s

[2021-09-25 23:22] seancorfield commented on #361
Since the change to prevent `nil` arguments to clauses in general was an explicit and deliberate one (so folks don't accidentally get SQL with "missing" clauses) and there is a good idiom for handling optionality in threading forms -- as shown above with `cond->` -- I'm closing this out.

[2021-09-25 23:22] #361 closed, assigned to nobody

[2021-09-25 23:32] #364 closed, assigned to nobody

[2021-09-25 23:49] seancorfield commented on #363
I'm modifying the `sqlize-value` internal function to support vectors, so the above `sql/format` call now works as follows:

[code]

I'm still thinking about what to do with the `:inline` syntax.

[2021-09-26 00:01] seancorfield commented on #363
I decided to make `[:inline x]` behave exactly like `(format-expr x)` but with `*inline*` bound to `true` which is the equivalence the documentation implies -- and there's no documentation that contradicts that semantic so I don't think this could be a breaking change for anyone.

[2021-09-26 00:06] #363 closed, assigned to nobody

[2021-09-26 00:08] seancorfield commented on #362
Per #363 I decided to make `:inline` syntax work like localized `:inline true` options so this works as expected now. Thank you!

[2021-09-26 00:08] #362 closed, assigned to seancorfield

[2021-09-26 00:11] #353 closed, assigned to seancorfield

[2021-09-26 00:29] #349 closed, assigned to nobody

[2021-09-26 00:29] seancorfield commented on #349
I've added an optional `:quoted true` (or `:quoted false`) argument to `set-dialect!`.

[2021-09-26 00:30] seancorfield commented on #352
I'm still thinking about how best to tackle this since it is non-trivial.

[2021-09-26 00:36] #347 closed, assigned to nobody

[2021-09-26 21:04] tomconnors commented on #349
Thanks!

[2021-10-03 12:33] zohar-cyc opened #365 "set clauses (UNION/UNION ALL, etc) are parenthesized, which breaks sqlite (See #141)"
I see there was an issue (#141) before the rewrite.

[2021-10-03 17:09] seancorfield commented on #365
I don't understand what you're asking here. Please provide an example and show the expected and actual output.

[2021-10-03 20:16] seancorfield opened #366 "For an `insert`, sometimes you want `default` instead of `null` for `nil`/missing columns"
From Slack:

Yes, my issue was with the sql generated by honeysql. If I take the data:

[code]

Where the first field has an id (already exists in the database) and the second one has no id (yet to be created) I give those fields to honeysql through:

[code]

The generated insert statement creates

[code]

Where the `NULL` leads to an error due to a missing value for the primary key. If it was ins

[2021-10-03 20:17] seancorfield commented on #366
You might even have a situation where you want `NULL` inserted for some `nil` columns (or missing columns), and `DEFAULT` for other columns in the same `INSERT` statement so how would HoneySQL know? There would have to be some way for you to tell it which columns should map to `DEFAULT` is `nil`/missing. That might be the best approach, on a per-call (to format) basis, as some sort of option with

[2021-10-04 04:28] seancorfield commented on #365
OK, I think you're referring to this (which is a regression from 1.x):

[code]

I'll work on this in the coming week, as I'm on vacation.

[2021-10-04 05:18] #365 closed, assigned to seancorfield

[2021-10-04 05:23] seancorfield commented on #366
Looking at this, it's important to note that if you use arrays of column values, we prepend `nil` to rows that are two shorter and we do not know which column values belong to which column names/labels at the point we render the SQL, so this mapping to `DEFAULT` can _only_ happen for the sequence of hash maps style of `VALUES`.

[2021-10-04 05:26] seancorfield commented on #366
I'm leaning toward `:values-default-columns` as the option name and a set of column names (keys) that must identically match the given column names for which a missing value should produce `DEFAULT` instead of `NULL`.

[2021-10-04 23:09] #366 closed, assigned to seancorfield

[2021-11-09 21:40] ianmcorvidae opened #369 "cljdoc shows confusing (to me) documentation for some helpers due to :arglists metadata"
I was looking at https://cljdoc.org/d/com.github.seancorfield/honeysql/2.1.818/api/honey.sql.helpers#limit (and other helpers, as I found later), and it led me down a wrong path. Since it listed only `(limit limit)` as an argument list, I mistakenly believed that the `limit` function could not be used within a threading macro unless it was the first function call within the threading (since it did

[2021-11-19 11:33] valerauko opened #370 ":nest doesn't seem to work as documented"
The README suggests that `:nest` could be used to explicitly wrap conditions in a WHERE in parens. It doesn't seem to work in certain conditions.

Discussion [thread on Clojurians Slack](https://clojurians.slack.com/archives/C66EM8D5H/p1636037757002200)

[2021-11-19 11:37] valerauko opened #371 ":not doesn't wrap in parens"
`:not` doesn't wrap its arguments in parens, which can result in weird clash of operator precedence in the resulting SQL.

I'd suggest just explicitly wrapping _everything all the time_...

## Repro
[code]
### Current
[code]
### Expected
[code]

Slack [discussion thread](https://clojurians.slack.com/archives/C66EM8D5H/p1636037757002200)

[2021-11-19 12:31] valerauko commented on #371
This can be worked around with `[[:nest [:not ,,,]]]` (double wraps around `:nest`)

[2021-11-19 14:57] seancorfield commented on #370
[code]

[2021-11-19 14:58] seancorfield commented on #371
See also #370

[2021-11-20 04:32] valerauko commented on #370
If the double `[[]]` is okay then I guess it'd do just documenting that in the readme with an example

[2021-11-20 04:34] seancorfield commented on #370
I'm not sure why it behaves that way -- I'm not sure whether that's "expected" behavior (that just needs documentation) or not (in which case there's a bug).

[2021-11-27 06:30] #371 closed, assigned to seancorfield

[2021-11-27 06:40] #370 closed, assigned to seancorfield

[2021-11-27 06:52] valerauko commented on #371
@seancorfield is be1df97b2baaa03fa3f3f0c47101ef58763a72f6 a safe fix? Doesn't it break table definitions with NOT NULL in them?

[2021-11-27 19:19] seancorfield commented on #371
There are tests and "doc tests" with `[:not nil]` and they all still work 😸

The key here is that it uses `{:nested true}` so it only parenthesizes "complex" expressions, not simple ones.

Unlike `:nest` which _always_ puts `(` `)` around its formatted operand.

[2021-11-27 19:46] seancorfield commented on #371
[code]

[2021-11-27 19:58] valerauko commented on #371
Got it! Looking forward to the release when it's done

[2021-11-27 22:26] seancorfield commented on #371
Probably early this coming week -- I want to get a couple of DDL enhancements in and maybe some doc updates too. You can use the 2.1.999-SNAPSHOT to test if you want (or a git dep). Every commit to develop pushes a snapshot to Clojars.

[2021-11-27 23:23] seancorfield commented on #355
This is supported as of 2.1.818 (I don't remember specifically adding support for this, but there are examples in the docs and those pass the tests):

[code]

[2021-11-27 23:23] #355 closed, assigned to seancorfield

[2021-11-27 23:27] #354 closed, assigned to seancorfield

[2021-11-27 23:50] seancorfield commented on #369
Only about half of the helper functions have `:arglists`. The rest just have generic `& args` style arities (which is the underlying arity of every helper function.

I am adding the following text to the `honey.sql.helpers` _namespace_ docstring:

  All helper functions are inherently variadic. Typical
  usage is threaded, like this:

[code]

  Therefore all helpers can take an existing DSL expres

[2021-11-27 23:50] #369 closed, assigned to nobody

[2021-11-28 00:07] seancorfield commented on #371
2.1.829 is on Clojars. The DDL enhancements went easier than I expected.

[2021-11-28 00:07] seancorfield commented on #370
It was a bug. It's fixed in 2.1.829.

[2021-11-28 08:17] valerauko commented on #370
Thanks!

[2021-11-28 08:17] valerauko commented on #371
Thanks!

[2021-12-02 15:17] Caluminus opened #372 "select-distinct-on helper function merges incorrectly"
When merging 2 select-distinct-on functions, I would expect for the "distinct-on" fields from both functions to be aggregated, so that the distinct-on fields from function 1 and 2 are all distinct-on in the resulting SQL generated. However, merging just seems to chain the arguments of the two functions, meaning that you lose the distinct-on modifier for fields in the 2nd function.

Example below:

[2021-12-02 18:26] seancorfield commented on #372
Definitely a bug. Thank you for catching it and reporting it. I suspect it will affect a few other helpers that wrap certain special DSL elements...

[2021-12-02 23:20] #372 closed, assigned to seancorfield

[2021-12-02 23:21] seancorfield commented on #372
This is fixed on **develop**. I still need to review other helpers and see if any others need special treatment.

I also need to consider whether merging two _different_ types of `select` clauses should be an error or should be handled in an "intelligent" manner.

[2021-12-03 21:20] seancorfield commented on #372
This will be in 2.1.833.

[2021-12-04 07:00] seancorfield opened #373 "What does it mean to merge different kinds of selects?"
Right now, each type of select is considered a completely different clause so "merging" them simply doesn't work. You can merge `select` with itself. You can merge `select-distinct-on` with itself (since #372 got fixed). You can merge `select-distinct` with itself. You cannot merge `select-top` or `select-distinct-top` with itself (because the first argument is "special" and merging just concatena

[2021-12-15 06:20] dekelpilli opened #374 "Boolean equality comparisons should use "IS NOT" instead of "<>""
`x <> true` only returns rows where `x` is false, rather than rows where `x` is false + rows where `x` is null.

Say I have the following table and data:
[code]

Say I want to filter based on the yesno column:
[code]
The problem is that `SELECT * FROM testing WHERE yesno <> TRUE` would only return the row with ID = 2, whereas I would expect that query to return 2 and 3. In contrast, `select * from

[2021-12-15 09:48] iarenaza commented on #374
According to ANSI-SQL92, any comparison with `NULL` results in an `unknown` result (section 8.2, sub-section "General Rules", paragraph 1.a). That is, neither true, nor false. And according to the ternary logic of ANSI-SQL92 (section 8.12, sub-section "General Rules", paragraph 2), `NOT unknown` results in `unknown` too. So `x <> true` results in `unknown` for the rows where `x` is `NULL`. Again,

[2021-12-15 17:54] seancorfield commented on #374
@iarenaza That's what I would have expected but @dekelpilli seems to be saying that `WHERE yesno <> TRUE` and `WHERE yesno IS NOT TRUE` do not behave the same, which surprises me.

I was under the impression that `IS` and `=` were synonymous and `IS NOT` and `<>` were synonymous.

[2021-12-15 23:54] dekelpilli commented on #374
@seancorfield As @iarenaza said, `x <> true` will give unknown for rows where x is NULL because `NOT unknown` results in `unknown`. This is consistent with my testing and with this comment - https://stackoverflow.com/a/9825992/9854326. On further investigation, I see this behaviour isn't unique to boolean values, but `is/is not` isn't supported for other value types:

[code]

[2021-12-16 00:25] seancorfield commented on #374
That is, indeed, an interesting wrinkle in how things work. I'll have to think carefully about how to support that without breaking anything else...

[2021-12-17 04:00] seancorfield commented on #374
I've confirmed this works on MySQL. Given that `:is` and `:is-not` exist today and are synonyms for `:=` and `:<>` in the grammar, changing them unconditionally is potentially breaking, so this is going to need to be handled via some sort of global flag I think as well as a `format` option.

[2021-12-20 09:30] shay-rf opened #375 "Nesting with union all extra parens"
Hi, I am building a query for BigQuery with union all and I am facing the following issue:
- If I just pass the queries as input to union-all, those queries are not considered nested and there are no wrapping parens ( cause a syntax error on execution )
- If I wrap each query with {:nest q}, then it wraps it twice. First due to the explicit nest and second because it is a nested query.

Not sure i

[2021-12-21 17:54] seancorfield commented on #375
Looks like my fix for #370 was a bit over-zealous. The syntax without nesting is correct for most databases (and if you do wrap the selects in parentheses, it is a syntax error for some databases) so it's unfortunate that BigQuery seems to require parentheses.

I'll get this fixed in the next few days and cut a new release.

[2021-12-22 06:54] #375 closed, assigned to seancorfield

[2021-12-22 16:29] shay-rf commented on #375
Thank you so much! 🙏

[2021-12-23 20:07] seancorfield commented on #374
Existing code in the wild relies on `[:= :col nil]` and `[:<> :col nil]` so that behavior (special-cased in HoneySQL) needs to be retained -- mapping (in)equality to `IS (NOT) NULL` tests.

I don't know whether existing code relies on the current commutativity regarding `nil` but that might as well be kept too (or perhaps become a lint check?).

I don't know how much code relies on `[:is :col nil]

[2021-12-23 20:08] seancorfield commented on #374
It could also be argued that the current behavior of `[:is-not :col true]` and `[:is-not :col false]` is just broken and changing that behavior would simply be fixing a bug. At least `:is-not` is fairly easy to grep for in source code.

[2021-12-23 20:13] seancorfield commented on #374
Data point: using https://grep.app/search?q=%3Ais-not&filter[lang][0]=Clojure does not find `:is-not` used for any other expression than `[:is-not sql-expr nil]` so none of those usages would be broken by this change.

[2021-12-23 21:32] #374 closed, assigned to seancorfield

[2021-12-23 21:34] seancorfield commented on #374
I have decided to just remove the (incorrect) aliasing of `:is` and `:is-not` and treat this purely as a bug fix. The changelog explicitly notes the change in behavior.

[2022-01-06 09:28] shay-rf commented on #281
+1 for inherently supporting "SELECT * EXCEPT" and "SELECT * REPLACE"
Those select flavors are getting used a lot.
I tried to look into setting these up via the clause extensions but most of the functionality of handling the select and the helper as wells are under private functions. Unless I miss something implementing this from the external API not seems right.
Currently, I am resolving this exp

[2022-01-07 03:58] seancorfield commented on #281
Given that there's already an `EXCEPT` clause that means something different, I'm going to need to come up with some other approach for dealing with `* EXCEPT ... REPLACE ...` and variants of it. I'll look at how I handle `*` (which is already a special case) and maybe having a vector beginning with `*` could be parsed for `:except` and/or `:replace` with their respective syntax. _[Although this h

[2022-01-07 07:04] seancorfield commented on #281
@shay-rf @littleli Please take a look at PR #376 which adds support for BigQuery's except/replace syntax and provide feedback.

[2022-01-07 15:16] shay-rf commented on #281
Thanks! The syntax makes sense and this seems to work properly.
The use case that is not working is when there is a prefix to the * - for example :aaa.*
This works : (h/select [:* :except [:a :b :c]])
But this one not: (h/select [:aaa.* :except [:a :b :c]])

[2022-01-07 19:35] seancorfield commented on #281
Ah, yes, good catch! PR updated to support that.

[2022-01-07 20:19] shay-rf commented on #281
Cool, it seems to work properly.

[2022-01-07 20:58] seancorfield commented on #281
@littleli @markaddleman @cyppan PR #376 now includes support for `ARRAY<>` and `STRUCT<>` syntax. See the tests in that PR (and the updates to the docs) for details -- specifically this commit https://github.com/seancorfield/honeysql/pull/376/commits/99ce051a9d1c6b7c75d1dc75435a04e96fde4a42. Feedback welcome.

[2022-01-07 21:33] seancorfield commented on #281
FYI:

I'm probably going to draw a line under this work early next week and merge this PR and cut a release -- and close this ticket.

I'll ask that any additional BigQuery compatibility requests are raised as individual tickets (since the initial ask here was very broad and mostly just pointed me at Google's docs to read).

[2022-01-07 23:54] corasaurus-hex opened #377 "Helper for converting maps to where clause"
It would be nice to have a helper for converting a map to a where clause structure.

For example, if you had `{:id 1 :status_id 2}` and wanted to convert it to `[:and [:= :id 1] [:= :status_id 2]]` you could write this yourself:

[code]

But that seems like the sort of thing that would fit in really nicely as a helper, I think.

[2022-01-08 00:45] seancorfield commented on #377
I think maybe `map->cond` is more indicative of the functionality since it'll get used as the condition (in a where clause).

I think `:where (sql/as-where data)` seems a bit odd (repeat of `where`).

Maybe just `condition`? So we'd have `:where (sql/condition data)` or perhaps that's too verbose.

[2022-01-08 03:36] corasaurus-hex commented on #377
I feel like map->cond is better, but if we're going with condition it would be nice if it included something about equality, that it's making it an :and :=

[2022-01-08 03:46] seancorfield commented on #377
`map->:and:=` 😄 `map->and=`

What about `map=` ? So we'd have `... :where (map= data) ...` or `(-> ... (h/where (map= data)) ... )`

[2022-01-08 05:28] seancorfield commented on #278
I no longer think this is a good idea.

[2022-01-08 05:28] #278 closed, assigned to nobody

[2022-01-08 06:50] corasaurus-hex commented on #377
I like `map=`! it's slick and brief and contains the core of what the function does

[2022-01-08 07:17] #377 closed, assigned to seancorfield

[2022-01-08 07:18] seancorfield commented on #281
PR #376 merged. Please open new issues for additional, specific BigQuery compatibility issues.

[2022-01-08 07:18] #281 closed, assigned to nobody

[2022-01-08 07:38] seancorfield commented on #373
I'm beginning to wonder if having a generic `:select+` might be a good idea, where the first argument is a sequence of qualifiers to use, and merging it could handle the logic in some sort of intuitive way. That wouldn't address the `select-distinct`/`select` merge, although perhaps `select+` could check if there's a `select` in the DSL and "upgrade" it to a `select+`?

[code]

[2022-01-08 07:44] seancorfield commented on #351
If `:cache` provided, assume a `clojure.core.wrapped` cache (atom), and perform a (dynamic) `lookup-or-miss` using the structure as a key, else format it (without `:cache`) and store the generated SQL.

There are good arguments for caching embedded parameters but also good arguments for disallowing them entirely. Perhaps default to disallow but provide an option to allow them?

[2022-01-12 18:44] shay-rf commented on #281
Thanks a lot Sean for setting this up. I just found out that the following is also supported:
SELECT * EXCEPT (a, b) REPLACE (123 as c)

That is to remove few columns and replace values for other columns. A classical 2-for-Tuesday case :(
I hit this when performing union on multiple queries, and doing except on a column and then re-introduce that column messes the order of the columns for the unio

[2022-01-12 19:05] seancorfield commented on #281
@shay-rf You mean like this test: https://github.com/seancorfield/honeysql/blob/develop/test/honey/bigquery_test.cljc#L18-L19

[2022-01-12 19:21] shay-rf commented on #281
Yes! I am so glad this is covered :)
Thanks!

[2022-01-20 21:06] seancorfield commented on #351
Fixed via #378

[2022-01-20 21:06] #351 closed, assigned to seancorfield

[2022-01-21 20:39] shay-rf opened #380 "Register a clause using existing formatter"
When I try to register a new clause via:
(sql/register-clause! :qualify :having :window )

It raises an exception "The formatter must be a function or existing clause"
Since (fn?  #'honey.sql/format-on-expr )  returns false

[2022-01-21 21:03] seancorfield commented on #380
This also affects `register-fn!`.

[2022-01-21 21:05] #380 closed, assigned to seancorfield

[2022-01-21 21:05] seancorfield commented on #380
Available to test on **develop**.

[2022-01-22 07:16] shay-rf commented on #380
Thanks! a short followup question -
Now that I have :qualify registered, is there a way for a user to setup a helper function somehow? I mean, I can just assoc - but I wonder if there is a way to get the other ergonomics from the helper of the original clause I mimic.

For example:
(-> (h/select :*) (h/from :foo) (h/where [:= :a "a"]) (my-qualify [...] )

[2022-01-22 20:50] seancorfield commented on #380
There isn't anything _public_ right now, but you could do:

[code]

Most helper functions look like that, or else use `generic-1` for clauses that don't "merge", such as `update`, `delete`, `truncate` (`generic-1` does an `assoc` inserting an empty map if the first argument is not a map).

I could make those public (with better names) and document them -- open a new issue if you think that's worth

[2022-01-22 21:01] shay-rf opened #381 "Allow creating helper functions for user registered clauses"
As per https://github.com/seancorfield/honeysql/issues/380 :
Once a clause has been registered to mimic existing clause, the usage of that clause is foreign to the surrounding code.

It would be nice if the ergonomics of the existing helpers can be exposed and made public to allow reuse.

Example:
(sql/register-clause! :qualify :having :window )
Usage:
(-> (h/select :*) (h/from :foo) (h/where [:=

[2022-01-24 05:12] seancorfield commented on #381
I definitely would not want `register-clause!` or `register-fn!` to automatically create a helper in the calling namespace (I don't think that's what you're suggesting but I want to clarify that this should be explicit).

Possibilities include:
* exposing versions of `generic` and `generic-1` with better names as public functions in `honey.sql.helpers`
* providing machinery in `honey.sql` to defin

[2022-01-24 20:03] shay-rf commented on #381
For me, option 1 sounds proper - to allow users to participate in the helpers arena. And a bit more telling names for the public functions would assist with that.
A macro would be fine too.

[2022-01-28 21:38] shay-rf opened #382 "Support BigQuery CASE expr flavor"
BigQuery supports two flavors of CASE.
The regular is analogous to Clojure's 'cond' - where we provide pairs of condition and expression, with the optional default expression at the end.

The second flavor is similar to Clojure's 'case' - where we provide a single expression and then pairs of value and expression, with the optional default expression at the end.
https://cloud.google.com/bigquery/d

[2022-01-28 22:36] seancorfield commented on #382
I'm happy to add support for this. `:case` is currently "special syntax" so I'll make that into a reusable function and add `:case-expr` (which I think is more expressive and more accurate than `:case-val` since it accepts an expression).

[2022-01-30 01:12] seancorfield commented on #382
How does this look @shay-rf ?

[code]

[2022-01-30 01:19] #382 closed, assigned to seancorfield

[2022-01-30 10:40] shay-rf commented on #382
Works perfectly :)
Thanks!

[2022-01-31 06:31] #381 closed, assigned to seancorfield

[2022-02-01 13:32] shay-rf opened #383 "Add support for CREATE FUNCTION syntax (ANSI, BigQuery)"
The first, which is a smaller issue - is how can I express a function creation:
For example:
CREATE FUNCTION my_dataset.multiply_by_three(x INT64) AS (x * 3);
Or:
CREATE `other-project`.other_dataset.other_function(x INT64, y INT64) AS (x * y * 2);
Or:
CREATE TEMP FUNCTION AddFourAndDivide(x INT64, y INT64)
  RETURNS FLOAT64
  AS ((x + 4) / y);
https://cloud.google.com/bigquery/docs/reference/stan

[2022-02-01 14:08] shay-rf commented on #383
To provide more examples of the issue:
(h/select [[:my.your.fn 1 3] :aa])
=> SELECT MY.YOUR.DDD(1, 3) AS `aa`
Change the names into capital

(h/select [[:my-proj.your.fn 1 3] :aa])
=> SELECT MY PROJ.YOUR.FN(1, 3) AS `aa`
Also Introduces a space in the project name

[2022-02-01 20:10] seancorfield commented on #383
Is BigQuery case-sensitive? SQL is not supposed to be case-sensitive so uppercase function names should not be a problem (but some dialects are, weirdly, case-sensitive for user-defined names). As for the `-` to space transform, yes, that's required for a lot of (SQL) constructs that are function-like but are multiple words. See #352 for more discussion on the naming transforms.

The `%` call form

[2022-02-01 20:39] shay-rf commented on #383
The SQL itself is not case-sensitive - such as the UDF function name itself. But the fully qualified name prefix is. So, the name of the project must be all lowercase and the dash is part of its name. Same for dataset.
Basically, the same name handling as done for "from" clause applies here. So if a table fully qualified name is :
:my-proj.my_dataset.my-table => resolved into : `my-proj`.`my_datas

[2022-02-01 20:54] seancorfield commented on #383
There's no easy way to do this with HoneySQL at the moment. I'll have to give it some thought. As noted in #352 changing how vectors-as-functions are treated would likely break all sorts of stuff for other situations so some specific new syntax may need to be added for this sort of thing.

[2022-02-02 02:45] seancorfield commented on #352
BigQuery is another use case for this.

[2022-02-02 02:46] seancorfield commented on #383
@shay-rf I'm going to treat this as two separate tickets:

* #352 will tackle the case-sensitive/`-` transform aspect of the function _call_,
* #383 (this ticket) will tackle the `CREATE FUNCTION` aspect.

I'm going to update the title of this ticket to reflect that.

[2022-02-03 06:07] seancorfield commented on #352
**develop** now supports function keywords that start with `'` to produce literal names:

[code]

Note: there is no literal symbol equivalent to this (although you could do `(symbol "'domain")`):

[code]

/cc @shay-rf

[2022-02-03 06:35] #352 closed, assigned to seancorfield

[2022-02-03 06:39] seancorfield commented on #383
**develop** has addressed #352 so now you can have:

[code]

[2022-02-03 06:51] seancorfield commented on #383
The `CREATE FUNCTION` syntax is too wildly variable to be supported in any meaningful way:
* https://www.ibm.com/docs/en/informix-servers/12.10?topic=statements-create-function-from-statement
* https://docs.teradata.com/r/Teradata-Database-SQL-Data-Definition-Language-Syntax-and-Examples/September-2015/User-Defined-Function-Statements/CREATE-FUNCTION-SQL-Form-and-REPLACE-FUNCTION-SQL-Form
* https:

[2022-02-03 06:51] #383 closed, assigned to seancorfield

[2022-02-03 07:00] shay-rf commented on #383
Thanks!
The only issue that blocks me from using the fully qualified name function call is the dash.
BQ will not accept:
SELECT my-proj.your.fn(1, 2) AS aa

It expects the quoting form like "from":
SELECT `my-proj`.`your`.fn(1, 2) AS aa

[2022-02-03 07:12] seancorfield commented on #348
Since there is already `ALTER TABLE` and `ADD INDEX` I'm going to close this out as "won't fix" due to the syntax variability (just as I closed out a `CREATE FUNCTION` ticket).

[2022-02-03 07:28] seancorfield commented on #383
Ah, GitHub is munging your examples because you're not putting code in triple-backtick blocks.

Functions are never normally split/quoted but I can modify the new `:'` behavior to support that I suspect -- you'll have to be explicit with a dialect or quoting option.

[2022-02-03 07:33] shay-rf commented on #383
I always run in the context of
[code]

So, the "from" clause fully qualified table name is resolved to something like
[code]

[2022-02-03 07:52] seancorfield commented on #383
OK, I'm updating it so this is the behavior for `:'`:

[code]

**develop** is updated to reflect this -- please try again.

[2022-02-03 08:09] shay-rf commented on #383
Works perfectly :)

[2022-02-03 08:44] evilsneer commented on #352
it is nice! but mb it’s makes sense to switch this behaviour by passing specified opt to h/format? so hsql code will be more portable between sql backends?

[2022-02-04 03:19] seancorfield commented on #352
@evilsneer You posted a comment and seem to have deleted it -- was your question answered?

[2022-02-04 09:33] evilsneer commented on #352
Yes, i thought about some use cases with swapping sql backends below hsql. But at second thought think it’s not such useful, so differences of hsql representation btw backends is ok i guess

[2022-02-09 17:46] mccraigmccraig opened #385 "uuids should be formatted as strings"
as this fragment shows:
[code]
`java.util.UUID` instances are formatted without quotes - they should be quoted as a string, at least for postgresql

a possible wrinkle: postgresql seems to like its uuids to be formatted as strings in queries. i don't know if that is universal. i do know that cassandra/cql (which is roughly a sql subset), takes its uuids without string quotes. if that pattern is re

[2022-02-09 18:13] seancorfield commented on #385
I don't think many people use `:inline true` except for getting SQL to paste into their console tool because it's potentially dangerous (SQL injection) if the inline encoding doesn't correctly escape quotes etc, so I'm going to just treat this as a bug and fix it by wrapping the string version of the UUID in single quotes.

If anyone using `:inline true` with a different database gets tripped up b

[2022-02-09 18:20] #385 closed, assigned to seancorfield

[2022-02-09 18:22] seancorfield commented on #385
A new SNAPSHOT build should be available on Clojars in a few minutes or you can depend on that SHA as a git dep. If you need a full Clojars release instead, LMK and I'll cut a new release.

[2022-02-15 09:57] philoskim opened #386 "Foreign key DDL support"
I want to translate the following sql statement to honeysql.

[code]
So I tried it as follows.

[code]
What I want is `FOREIGN KEY company-id REFERENCES company(id))`, not `foreign_key COMPANY_ID REFERENCES COMPANY(ID))`.

How can I achieve what I want?

[2022-02-15 16:40] seancorfield commented on #386
I think the closest you'll get right now is `[:foreign :key ...]` but that won't format case as you'd expect. I'll have to look at the syntax that supports `primary key` etc and add something equivalent for `foreign key`.

[2022-02-15 16:46] seancorfield commented on #386
Ah, it looks like `[[:foreign-key :company-id] [:references :company :id]]` will get you very close:

[code]

(I may be able to tweak the casing of `company(id)` in the future)

[2022-02-15 16:48] seancorfield commented on #386
`:foreign-key` is supported and documented but is currently expected to be an annotation on the column definition itself (see https://cljdoc.org/d/com.github.seancorfield/honeysql/2.2.861/doc/getting-started/sql-special-syntax-#column-descriptors which could certainly have better examples).

[2022-02-16 02:30] philoskim commented on #386
Thanks for your quick reply!

Given your explanation that `:foreign-key` is supported and documented but is currently expected to be an annotation on the column definition itself, I tried it as follows.

[code]
The result is not what I expected, which is `REFERENCES company(id)`. Is this a bug?

* honeysql version: 2.2.861

[2022-02-16 04:25] seancorfield commented on #386
Isn't that exactly what I said above about the casing of `company(id)`?

[2022-02-16 04:58] philoskim commented on #386
The casing of the example here (https://cljdoc.org/d/com.github.seancorfield/honeysql/2.2.861/doc/getting-started/sql-special-syntax-#constraint-default-references) is properly handled. So I asked about it.

[2022-02-16 05:30] seancorfield commented on #386
Looks like a doc bug. What I showed above matches what you experienced and is how the code currently works.

When/if I can fix the way `:references` works -- per my comment above -- the docs will magically become correct there 😄

[2022-02-17 12:24] evilsneer commented on #352
Hi again! Should it works already?

I have

` [com.github.seancorfield/honeysql "2.2.861"]`

and

[code]

[code]

[code]

I see there is upcoming `2.2.next` according to Changelog, any plans about release date?=)

[2022-02-17 17:29] seancorfield commented on #352
It's available on **develop** via git deps. It has not yet been released. See https://github.com/seancorfield/honeysql/blob/develop/CHANGELOG.md

[2022-02-21 07:38] bsless opened #387 "Dehyphen improvements"
the dehyphen docstring mentions there's probably a faster solution.
The equivalent solution in JVM regex would be: `(str/replace s #"(?!\w)-(?=\w)" " ")`
Javascript also support lookahead/back, but with different syntax https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Regular_Expressions/Assertions
Rough benchmarks show this regex is 2x faster on the JVM

[2022-02-22 02:54] seancorfield commented on #387
I looked at that doc page and the syntax looks the same as for the JVM regex -- what am I missing?

[2022-02-22 03:07] seancorfield commented on #387
Heh, somewhat to my surprised, I changed `dephyphen` to not loop, with the intent that I could write some failing tests first, that the new regex would handle correctly instead.

So here's `dehyphen`:
[code]

and here are the tests:

[code]

and... they all pass straight away... so the loop was never required apparently.

[2022-02-22 11:01] bsless commented on #387
This is weird, why isn't it working as expected?
[code]
EDIT: I get it, it's an edge case where the word is one character long

[2022-02-22 16:41] Ramblurr opened #388 "merge-join is it working properly?"
This could likely be a PEBKBAC, but I've spent some time looking at the small amount of code around the merge helpers, and I'm not convinced it's working as intended.

[code]

I'd expect this to produce:

[code]

But it actually produces:

[code]

When the latter is passed to `format`, we get the error:

[code]

[2022-02-22 20:05] seancorfield commented on #388
There is no `merge-join` in HoneySQL 2.x. The following works on 2.x:

[code]

The following also works on 2.x:

[code]

I _think_ 1.x only supported the latter syntax (but required `merge-join` for at least the second `join` there).

[2022-02-22 20:05] #388 closed, assigned to nobody

[2022-02-23 05:05] seancorfield commented on #387
Yeah, took me a while to realize that's what the issue was:

[code]

[2022-02-23 05:14] seancorfield commented on #387
FWIW, the regex you provided causes these failures (which the previous loop/regex did not):

[code]

[2022-02-23 05:19] seancorfield commented on #387
This variant seems to work: `(str/replace s #"(\w)-(?=\w)" "$1 ")`

[2022-02-23 05:19] #387 closed, assigned to seancorfield

[2022-02-23 05:30] seancorfield commented on #387
I'm not going to cut a new release just for this fix unless someone trips over the single character edge case.

[2022-02-24 15:34] rafaeldelboni opened #389 "Support ONLY keyword (Inheritance)"
Hey we are using postgresql's [Inheritance](https://www.postgresql.org/docs/14/ddl-inherit.html) and we need to extend honey to add the keyword ONLY to make selects like `SELECT * FROM ONLY table_name` needed to get data from the top level of the tables that have Inheritance.

This is what we did currently:
[code]
ps: The example is not complete, since you can add `ONLY` in the front of the table

[2022-03-01 20:47] seancorfield opened #392 "with materialized cte"
### Discussed in https://github.com/seancorfield/honeysql/discussions/391

<div type='discussions-op-text'>

<sup>Originally posted by **k3nj1g** March  1, 2022</sup>
Can you help with register clause for materialized cte? For query like:

[code]
</div>

See discussion for whether this should be a specialized `:with-materialized` or whether this should be the start of adding metadata support to pr

[2022-03-21 14:39] p-himik opened #394 "Quoted identifiers should have quote characters within them escaped"
Started in https://clojurians.slack.com/archives/C03RZGPG3/p1647861579763639

[code]

As can be seen from the above, if user input makes its way into the SQL map as an identifier (column name in this case), it will create an opportunity for SQL injections.

I mentioned in the Slack thread that I don't think it's a job for HoneySQL. But after looking at how some databases handle it, it actually see

[2022-03-22 10:59] holyjak commented on #394
Honey already supports escaping identifiers with `(honey/format ... {:quoted true})` so this would imply the addition of checking the identifiers and replacing the quote within them, correct?

[2022-03-22 11:20] p-himik commented on #394
`{:quoted true}` enables quoting, but not escaping. It will not affect the example SQL statement above at all, in part because string identifiers are always quoted - even if you pass `{:quoted false}`.

[2022-03-22 11:25] holyjak commented on #394
I see. Automatically escaping the quote character inside should-be-identifiers when either using string identifiers or explicitely asking for `:quoted true` makes sense to me. It looks as a reasonable security choice.

[2022-03-24 07:00] cmal opened #395 "oracle does not support `tablename as a` syntax"
`select a.name from tablename as a where rownum < 2` throws `ORA-00933` whereas `select a.name from tablename a where rownum < 2` works.

[2022-03-24 09:08] seancorfield commented on #395
Have you specified `:dialect :oracle`?

[2022-03-24 09:25] seancorfield commented on #395
See https://john.shaffe.rs/honeysql/?q=%7B%3Aselect%20%3A*%20%3Afrom%20%5B%5B%3Atable%20%3At%5D%5D%20%3Awhere%20%5B%3A%3C%20%3Aid%20100%5D%7D%20&opt=%7B%3Adialect%20%3Aoracle%20%3Aquoted%20false%7D%20 for example.

[2022-03-24 09:25] #395 closed, assigned to nobody

[2022-03-25 00:30] dekelpilli opened #396 ":in and :not-in clause values get cached even when using parameters"
It seems that there is a bug where `:in` and `:not-in` clauses are cached in their entirety regardless of how the parameters are passed in:

[code]

As you can see, this can result in queries being generated with incorrect parameters.

Version: 2.2.868

[2022-03-25 10:35] cmal opened #397 "Can we have left-outer-join clause?"
Can we have left-outer-join clause?

[2022-03-25 14:42] seancorfield commented on #397
Why? What item does that solve that you can't already do with the existing join clauses that are supported?

[2022-03-25 16:38] seancorfield opened #398 "Add PostgreSQL JSON operators by default?"
`->`, `->>`, and various others are a bit of a pain to use without registering them all or using `:raw`.

[2022-03-26 01:15] pinkfrog9 commented on #398
The docs here at postgrestutorial explains the -> and ->> operator in a really concise way:
https://www.postgresqltutorial.com/postgresql-json/

[2022-03-26 03:59] seancorfield commented on #398
https://www.postgresql.org/docs/current/functions-json.html lists a **lot** of operators, including several that cannot be written directly as Clojure keywords (or symbols) so I'll need a convenient way for PG users to get at these using symbolic names.

I think I might add a new `honey.sql.pg-json` namespace that not only registers the myriad operators but also provides nice, symbolic names for s

[2022-03-26 04:49] seancorfield commented on #398
@introom If you work with **develop** version and `require honey.sql.pg-json` you should find all the PG JSON operators defined automatically. I need to document all this new stuff.

[2022-03-26 04:58] pinkfrog9 commented on #398
Hi @seancorfield , thanks for the update!  Minor question, why honey.sql.pg-json instead of honey.sq.pg ?  pg-json sounds too fine-grained.

[2022-03-26 05:13] seancorfield commented on #398
Because most PostgreSQL stuff is already supported directly. This new namespace is specifically because there are JSONB operators that have "unwritable" names -- and I don't want those four names in `honey.sql` since they are a PG-specific workaround for **JSON** operators, i.e., not general PostgreSQL stuff.

[2022-03-26 15:21] dekelpilli commented on #398
Thanks for this, this will be very convenient and help reduce some boilerplate code for PG JSON(B) operations.

Just a heads up, `:->` should probably be variadic (to support `[:-> :column_name "top-level-key" "nested-key" "etc-key"]`)

[2022-03-26 15:27] seancorfield commented on #398
Ah, good point @dekelpilli - thank you! I'll update that shortly. Should any of the others be variadic? (I can't really tell from the docs)

[2022-03-26 15:32] seancorfield commented on #398
Looks like `||` should probably be variadic as well? Not many operators seem to return json(b) where I'd expect the same operator to be repeated?

[2022-03-26 18:59] seancorfield commented on #398
I'm coming around to having vars in `honey.sql.pg-json` for **all** of the ops, even though only four of them really need it. I'll have to think carefully about docstrings and overall documentation enhancements.

[2022-03-26 20:17] dharrigan opened #399 "Typo in docs about returning multiple values for postgresql"
Hi!

From Slack (https://clojurians.slack.com/archives/C66EM8D5H/p1647640298838559)

I think there may be a slight typo, here: `https://cljdoc.org/d/com.github.seancorfield/honeysql/2.2.868/doc/getting-started/postgresql-support#returning`

namely the example of `(returning [:did :dname])`.

I believe in the documentation `https://cljdoc.org/d/com.github.seancorfield/honeysql/2.2.868/api/honey.sql

[2022-03-26 20:57] #399 closed, assigned to seancorfield

[2022-03-26 21:08] seancorfield commented on #397
Just to note, `:left-join` produces `LEFT JOIN` which in SQL is equivalent to `LEFT OUTER JOIN` -- `OUTER` is optional in the left and right joins, and `FULL` is optional in the (full) outer join.

Plain old `JOIN` is equivalent to `INNER JOIN` and that's the only case where HoneySQL supports an alias: `:join` is treated as if it were `:inner-join`.

I don't see much point in adding longer clause

[2022-03-26 21:08] #397 closed, assigned to nobody

[2022-03-26 21:16] seancorfield commented on #398
It turns out that `#>`, `#>>`, and `#-` all need a name without the `#` so for now I'm using `hash` for `#`.

[2022-03-26 21:34] dharrigan opened #400 "Support TABLE clause (for use with CREATE TABLE AS)"
Hi,

From Slack (https://clojurians.slack.com/archives/C66EM8D5H/p1647902883353929). Original author is Nick Stares:

Hello, I'm trying to generate the following (postgres) SQL with honeysql:

[code]
I've been playing around with argument orderings to create-table-as but no luck

[code]

I can't figure out how I'm supposed to order the symbols in the argument vector.

[2022-03-26 22:45] seancorfield commented on #400
`TABLE display_impressions_reach_by_line_test` is equivalent to `SELECT * FROM display_impressions_reach_by_line_test` and once that is understood, you can do this:

[code]

As a convenience, I'll add a `:table` clause.

[2022-03-26 22:48] seancorfield commented on #400
I'm tagging this with documentation to remind me to update the create table as docs with an example using the new table clause once it is implemented.

[2022-03-26 23:31] seancorfield commented on #394
It doesn't help anyone who isn't quoting identifiers so escaping the (closing) quote character inside a quoted identifier feels like a band-aid to me: it potentially stops some injections for people who are making sure they quote all the time, but the underlying problem is really that "suspicious" characters are getting into the SQL at all.

HoneySQL already throws an exception if a would-be ident

[2022-03-26 23:54] p-himik commented on #394
IMO anyone who allows user input to be used as identifiers _must_ quote them and escape them. There's simply no reason not to. This issue is specifically for that case.
And when user input doesn't make its way to identifiers, the developer should be responsible for what they put there and whether they quote+escape it or not.

So the proposed solution is to just automatically escape all identifiers

[2022-03-26 23:55] seancorfield commented on #400
The following will work with that change:

[code]

[2022-03-26 23:58] #400 closed, assigned to seancorfield

[2022-03-27 01:34] seancorfield commented on #394
Fair enough. I'll update the summary of this issue to be a bit more specific then -- and this particular change is fairly straightforward. I'll give the documentation some thought in that area too.

[2022-04-01 00:34] #394 closed, assigned to nobody

[2022-04-01 00:36] seancorfield commented on #394
It turns out HoneySQL 1.x used to do this so now HoneySQL 2.x does exactly the same as HoneySQL 1.x did 😄

[2022-04-01 00:54] camsaul opened #401 "Support custom dialects"
The default dialects cover most real-world use cases but there are situations where people might need to do something beyond these. Here are some motivating examples:

- H2 uppercases unquoted identifiers by default. For historic reasons related to Liquibase, Metabase H2 application DBs use all-uppercase identifiers. We have a custom dialect whose quote function combines the `:ansi` quote function

[2022-04-01 01:28] camsaul opened #402 "`:insert-into` should support abitrary functions for table"
For consistency with `:from` and join clauses, the left-hand-side of a `[source-identifier alias]` pair should support arbitrary functions.

For example, suppose I define a custom `::identifier` function:

[code]

I can use this in a `FROM` clause like so:

[code]

However it does not work inside an `INSERT INTO` clause:

[code]

[2022-04-01 01:33] camsaul commented on #402
Maybe this is a simpler/more motivating example. Something like `:raw` doesn't work either:

[code]

[2022-04-01 01:35] seancorfield commented on #402
I'm marking this as a bug for now but I'll confirm that opinion after looking at the code next week.

[2022-04-01 01:37] seancorfield commented on #402
For my own notes, here's the error:

[code]

[2022-04-01 07:48] holyjak commented on #398
This is unrelated to json but what about the regexp operators `~*` and `~`? Currently we do

[code]

[2022-04-01 15:12] ieugen opened #403 "Generate SQL with arrays / support (document?) inline for *format-expr*"
Originally asked on CLojurians slack https://clojurians-log.clojureverse.org/honeysql/2022-04-01 .

Is there an inline version of `(sql/format-expr [:array (range 5)])`  ?
Or another way to generate an inline SQL for `update my_table set tags = ARRAY['tag1,'tag2'] where ....` ?

Context:

I'm trying to generate an SQL file for lots of data that I can then bulk import as a transaction.
The file sho

[2022-04-01 15:53] ieugen commented on #403
I got a reply from Sean with a solution that works.
[code]
That was not obvious to me.
I tried initially with params but `:array :?tags` ( :array with params) does not work.
[code]
and got
[code]

[2022-04-06 00:03] seancorfield opened #404 "Document special array constructor for PostgreSQL"
See https://www.postgresql.org/docs/current/sql-expressions.html#SQL-SYNTAX-ARRAY-CONSTRUCTORS

Add something to PG Tips & Tricks!

"It is also possible to construct an array from the results of a subquery. In this form, the array constructor is written with the key word ARRAY followed by a parenthesized (not bracketed) subquery. For example:"

[code]

You can create this syntax with `[:'ARRAY {:s

[2022-04-06 00:08] seancorfield commented on #404
[code]

[2022-04-06 00:53] seancorfield opened #405 "Support numbered parameters"
The PostgreSQL node client doesn't support `?` only `$N` parameters:

https://node-postgres.com/features/queries

[2022-04-06 00:56] stevenproctor commented on #405
Happy to help with this as needed

[2022-04-06 01:32] seancorfield commented on #403
Given that `[:array ..]` introduces an array *literal*, the named parameter approach can only be made to work if it _forces_ inline rendering of the parameter value -- which wouldn't match the semantics of named parameters anywhere else in HoneySQL.

I think what I will do here is clearly document for the `:array` syntax, that you must provide a sequence of actual values -- not a named parameter -

[2022-04-06 01:36] seancorfield commented on #403
It looks like there is a precedent: `format-in` performs an auto-unwrap of a named parameter to produce a list of placeholders. However, that also breaks caching and introducing the same auto-unwrap here would also break caching. I need to give this some thought.

[2022-04-14 18:51] falberto commented on #402
I'm facing the same issue, I have a complex table name that I need insert:

Works:
[code]
`=> ["SELECT field1, field2 FROM \"_COMPLEX-SCHEMA-NAME\".\"COMPLEX-TABLE-NAME.dev.report/V_SERVER_INFO\""]`

--------
Don't:
[code]
`=> expected symbol, found: class clojure.lang.PersistentVector`

[2022-04-23 20:21] #404 closed, assigned to seancorfield

[2022-04-23 22:12] #402 closed, assigned to seancorfield

[2022-04-23 22:15] seancorfield commented on #402
Be aware of the nesting needed because this is an aliased context (like `:select`):

[code]

[2022-04-23 22:39] seancorfield commented on #398
I'm adding the four regex operators (`!~` and `!~*` as well as the two @holyjak mentioned).

Accordingly, I'm renaming the namespace to `honey.sql.pg-ops` since it is a general PostgreSQL operators utility now.

[2022-04-23 22:40] #398 closed, assigned to seancorfield

[2022-04-23 22:54] #396 closed, assigned to seancorfield

[2022-04-23 23:05] seancorfield commented on #396
Because `IN ()` expressions are expanded inline, it is not safe to cache such statements if you use named parameters. If you use a regular sequence expression in that context, it is safe. The unsafe case will now throw an exception.

I may revisit this in the future.

[code]

[2022-05-01 04:44] seancorfield commented on #401
One of the issues to figure out here is that dialects in HoneySQL (2.x) are more than just a quoting function:

[code]

And this may change over time as new differences in behavior between dialects are discovered and need to be addressed.

For now, I could document that a dialect is a hash map with at least a `:quote` function and make the `strop` function public (it doubles-up the closing "quote"

[2022-05-01 05:12] seancorfield commented on #401
You can try this out on **develop** or in the latest 2.2.999-SNAPSHOT (be aware I'm switching to 2.3.x for the upcoming release so the next snapshot will be 2.3.999-SNAPSHOT).

It still needs tests and docs but you should be able to do something like:

[code]

(although I guess you may want the `sql/upper-case` function exposed as public to avoid locale issues?)

[2022-05-02 00:34] #401 closed, assigned to seancorfield

[2022-05-02 00:35] seancorfield commented on #401
Bug fixes, docs, and tests available on **develop** now or in the latest **2.3.999-SNAPSHOT**.

[2022-05-02 07:20] seancorfield commented on #403
Using `:in` with a named parameter (via `:params`) throws an exception if you try to use caching. It's fine if you are not using caching. I'm inclined to take the same approach here: allow named a parameter as the argument to `:array` and unwrap it if you are not attempting to cache the statement, just as `:in` allows.

[2022-05-02 15:30] seancorfield opened #406 "MODIFY COLUMN is MySQL-specific"
It's ALTER COLUMN in all the other databases.

Add `:alter-column` and make it dialect-specific. Add docs that indicate `:modify-column` is MySQL-only (and deprecated).

[2022-05-11 16:20] seancorfield opened #407 "Support FOR SYSTEM_TIME on table names"
See https://mariadb.com/kb/en/system-versioned-tables/#:~:text=SELECT%20*%20FROM%20t%20FOR%20SYSTEM_TIME%20ALL%3B

At least part of that appears to be ANSI SQL.

[2022-05-11 16:25] seancorfield commented on #407
Also https://www.sqlshack.com/how-to-query-data-in-a-system-versioned-temporal-tables-in-sql-server/

[2022-05-20 16:30] rschmukler opened #408 "Support next.jdbc/execute-batch!"
It would be nice if Honeysql could generate the shape of data required by `next.jdbc/execute-batch!` with a single `VALUES (...)` expression and then a sequence of parameter-groups corresponding to rows, allowing a call such as the following:

[code]

Currently I have a workaround (for anyone who might find it useful) that does some basic string manipulation to create this but it would be great if

[2022-05-20 16:45] dfrugg opened #409 "Doc Check Breaks Compiler Option"
https://github.com/seancorfield/honeysql/blob/2e9b395b31373d5265dab5153f300ea095349553/src/honey/sql/helpers.cljc#L1029

Attempting to use the compiler option -Dclojure.compiler.elide-meta=[:doc] , but compilation fails with that option if honeysql is in the application.  It looks like it is due to some code that ensures all public functions have doc strings.

[2022-05-20 16:49] seancorfield commented on #409
I think you are the first person I've run across who uses that option to elide docs in production but I will figure out how to make that check conditional (I'll probably check a known Var for `:doc` metadata and only do the `assert` if that is present, which should omit the check for folks like you).

[2022-05-20 16:50] rschmukler commented on #408
Closing this issue after some discussion with @seancorfield in the clojarians slack. We are better off extending `next.jdbc.sql/insert-multi!` to support a sequence of maps and batched execution rather than dealing with all of the complexities that can arise in honeysql. Worth noting that the `-format-batch-insert` helper I wrote above works for my use case but will likely fail in more complex cas

[2022-05-20 16:50] #408 closed, assigned to nobody

[2022-05-20 17:45] dfrugg commented on #409
It's probably a rare edge case.  I'm really just playing with compiler options to see results in size and performance, but thought it was interesting that it failed.  I like the idea of asserting there are docs on public functions.  Wonder if it would work as a unit test:

[code]

[2022-05-20 17:46] #409 closed, assigned to seancorfield

[2022-05-20 17:50] seancorfield commented on #409
You can try it out via git deps or https://clojars.org/com.github.seancorfield/honeysql/versions/2.3.999-SNAPSHOT

[2022-05-22 01:09] dfrugg commented on #409
Worked like a charm.  Thank you.

[2022-05-26 12:18] raicotop opened #410 "Documentation wrongly suggest to use vector for :insert-into"
I was working with the library and used something very similar to:
https://github.com/seancorfield/honeysql/blob/91e75a7edfae86995f607fdc6ddc0ad51ef91e6d/README.md?plain=1#L235

Using the example:
`(let [sql-map {:insert-into [:properties]
               :values [{:name "John", :surname "Smith", :age 34}
                        {:name "Andrew", :surname "Cooper", :age 12}
                        {

[2022-05-26 16:24] seancorfield commented on #410
Since that assertion does not exist in HoneySQL 2.0 (indeed, that _file_ `format.cljc` does not exist in 2.0), you must be using 1.0?

The README for 1.0.x can be found here: https://github.com/seancorfield/honeysql/tree/v1 and it links to the 1.0.x docs on cljdoc.org -- it's entirely possible there are bugs in the 1.0.x docs since it wasn't automatically checked (all the examples in the 2.0.x doc

[2022-05-26 16:24] #410 closed, assigned to nobody

[2022-06-22 11:19] raghavio opened #411 "Anything to convert the raw sql to honeysql data structure?"
Hello. I was wondering if there's any tool that could parse raw sql to honeysql data structures.

[2022-06-22 17:21] seancorfield commented on #411
Not that I know of. Similar questions have been asked several times before but the problem is a hard one: you would need a full SQL parser to do this and SQL is a very complex language with a lot of vendor-specific variations.

[2022-06-22 17:21] #411 closed, assigned to nobody

[2022-06-22 17:31] namenu commented on #411
Here's my crumpy trial -> https://github.com/namenu/yenoh ([demo](https://namenu.github.io/yenoh/))

It can only parse a very tiny portion of the SQL syntax.
I have to stop implementing further because of MySQL's ill-defined, complex spec..

[2022-06-24 17:00] seancorfield opened #412 "Improve documentation/navigation"
Not everything should be nested under Getting Started and we should probably have all the `format` options on a separate page at this point.

We may want to break up and/or rename a few other pages too.

[2022-06-24 20:58] slipset opened #413 "Add checking for `hh/where` when `(seq clauses)` is `nil`"
[code]
Is a potential foot gun when `(seq xs)` is `nil`, since it translates to `DELETE FROM foo`
It would be nice to add detection for this in the `:checking` functionality described in https://cljdoc.org/d/com.github.seancorfield/honeysql/2.2.891/doc/getting-started?q=checking#format-options

I'd be happy to work on a PR for this
Having looked at the code, I might have been a bit optimistic with

[2022-06-25 00:03] seancorfield commented on #413
You can't do the checking in the helpers -- not everyone uses them and there are many ways to build the data structure that is the DSL.

The checking needs to be added to the formatters for `:delete-from` and `:update` in a way that will catch when there are no qualifying conditions, but I will need to do quite a bit of digging/analysis of SQL syntax implications before I can do that.

As usual, w

[2022-07-01 10:04] ieugen commented on #403
So not sure what happened, (I believe i updated to latest honeysql),
I had to update my code to convert the set to a vector:
[code]
Otherwise I would get this error:
[code]

[2022-07-01 14:39] seancorfield commented on #403
A set is not sequential - it has no defined order. HoneySQL is pretty consistent about requiring sequential values everywhere.

[2022-07-01 17:10] ieugen commented on #403
Thanks, in the case above we are abusing the Array data type in postgres to hold a set.
Ordering is not important.
It surprised me in the sense that it was a change that I noticed.

[2022-07-06 05:43] #412 closed, assigned to seancorfield

[2022-07-15 15:33] vharmain opened #414 "Is it possible to use `case` expression in `order-by`?"
I would like to be able to sort by different fields based on a condition. This is supported at least in Postgresql.

[code]

I tried to express this in HoneySQL V2:

[code]

..which yields weird results

[code]

From the docs I can read that _`:order-by` accepts a sequence of one or more ordering expressions._ but apparently I want to use a "normal expression" instead of an "ordering expression" i

[2022-07-15 17:57] seancorfield commented on #414
It's like `:select`, you need extra nesting:
[code]
Because `:order-by` takes a sequence of order expressions, and an order expression can be:
* a column name (implicitly `:asc`ending)
* a pair of column name and direction (`:asc` or `:desc`)
* a pair of an expression and (optional) direction

I'll update the docs to make that clearer.

[2022-07-15 18:13] #414 closed, assigned to seancorfield

[2022-07-21 19:21] kwrooijen opened #415 "add-column / drop-column for multiple fields"
(postgres specific?)

It's currently not possible to add / drop multiple columns using honeysql

[code]

## Expected
[code]

## HoneySQL Version 1

[code]

[2022-07-28 21:41] corasaurus-hex opened #416 "Registering new clauses before loading honeysql helpers causes assertion error"
If a library or an application registers sql clauses before honeysql helpers is loaded then this assertion will fail:

https://github.com/seancorfield/honeysql/blob/v2.2.891/src/honey/sql/helpers.cljc#L1031-L1036

To test this you can start up a repl using `clj -Sdeps '{:deps {com.github.seancorfield/honeysql {:mvn/version "2.2.891"}}}'` and then use the following code:

[code]

And this will give

[2022-07-29 00:07] austb opened #418 "Differences between IN queries between v1 and v2"
Hi, I'm in the process of upgrading from honeysql v1 to v2. We make use of a lot of queries with `IN` expressions, and I'm curious if this change is intentional between the two versions of honeysql, and if so, if I have the proper workaround.

[code]
In v1 it works in the way that we intended, creating an `IN` statement using two columns. However in hsql v2 it turns the columns into a function cal

[2022-07-29 00:17] seancorfield commented on #418
Interesting. I had no idea that multi-column `IN` expressions were legal SQL nor that HoneySQL (v1) used to produce them correctly.

The "doubly nest" for function calls is only in `SELECT` (and similar contexts that support aliasing) -- purely to distinguish between `[:a :b]` meaning `a AS b` and `[[:a b]]` meaning `A(b)` -- the full form is `[[:a :b] :c]` meaning `A(b) AS c` but the alias can be

[2022-07-29 00:30] austb commented on #418
Thanks! That makes sense.

[2022-07-29 02:58] #418 closed, assigned to seancorfield

[2022-07-29 03:00] seancorfield commented on #415
I checked on some other databases -- including my "home" MySQL -- and, yeah, HoneySQL's behavior here is just wrong.

[2022-07-29 03:42] #416 closed, assigned to nobody

[2022-07-29 04:31] seancorfield commented on #415
This looks reasonably straightforward for drop but hard for add -- I'll have to give this some thought...

[2022-07-29 22:41] #406 closed, assigned to seancorfield

[2022-07-29 22:53] seancorfield commented on #403
After thinking about this on and off for a few months, I've decided that it isn't worth the extra complexity to make `:array` also dereference named `:params` like `:in` because: a) it adds more exceptions to caching b) it adds more code to HoneySQL 😄 c) it adds more special cases to document and d) I'm not sure that `ARRAY[..]` syntax in PostgreSQL is used widely enough to warrant this addition (

[2022-07-29 22:53] #403 closed, assigned to seancorfield

[2022-07-29 23:10] seancorfield commented on #413
Adding checks to `:delete`, `:delete-from`, and `:update` for a non-empty `:where` clause is relatively straightforward but I don't want `:checking :basic` or `:checking :strict` to invalid legal code so I'm asking on Slack about it.

[2022-07-29 23:24] seancorfield commented on #415
It's not even straightforward for drop since you can optionally have `:if-exists` as a guard -- and there's currently no way to provide that "per item" without making the drop formatting substantially more complex and hard to document. Not discounting it -- just need to think harder about it.

[2022-08-04 09:21] orestis commented on #413
We are using `:delete-from` with no where clause, in a single place: a full-sync ETL pipeline that first clears all the rows, then re-inserts them from the source DB. I wouldn't mind having to add a `:where [:= 1 1]` or similar, assuming that has no performance implications in most DBs.

I think doing some checking is a good way to avoid messing up during REPL excursions.

[2022-08-04 12:30] slipset commented on #413
@orestis for such a use case, `truncate table foo` might be a better solution.

[2022-08-05 03:45] robhanlon22 commented on #392
Interested in helping out here! It would be nice to support `AS NOT MATERIALIZED` as well. I would be partial to adding `:with-materialized` and `:with-not-materialized` given that programmatically working with metadata adds more overhead both cognitively and logically, i.e. it's not as easy to use simple map operations for transformations/merging/etc.

[2022-08-05 16:54] robhanlon22 commented on #392
I thought about this a bit more and I realized a limitation of introducing `:with-materialized` and `:with-not-materialized` (and also `:with-recursive`) is that it's not possible to freely mix all three types together because SQL only supports a single `WITH` clause per (sub)query.

An alternative to using metadata could be providing a third "argument" within the `:with` vector:

[code]

[2022-08-05 17:14] robhanlon22 opened #419 "`sqlize-value` does not SQLize Dates, Instants, etc. correctly"
Since `sqlize-value` falls back to `str` when the type is not specially handled, some things that need to be quoted aren't:

[code]

I see that there's a special case for `java.util.UUID`s but it does seem like adding special cases could quickly get unwieldy. Would it be excessive to introduce a protocol that allows for extension of `sqlize-value`? Otherwise adding fixes will quickly become a game

[2022-08-05 18:47] seancorfield commented on #419
Yeah, at this point it probably makes sense to turn that into an extension point.

[2022-08-05 18:56] seancorfield commented on #392
I haven't yet taken the time to dig into the grammar for `WITH` to see just what syntax is possible but I believe it can have multiple parts -- which HoneySQL already supports -- so it's not clear to me (yet) how best to approach this ticket.

[2022-08-05 21:31] robhanlon22 commented on #392
Did a bit of digging:
- WITH and WITH RECURSIVE are different clauses, i.e. RECURSIVE is not a modifier to the CTE.
- AS MATERIALIZED and AS NOT MATERIALIZED can be specified on a CTE-to-CTE basis within a single WITH.

[2022-08-07 05:57] #413 closed, assigned to seancorfield

[2022-08-07 05:58] seancorfield commented on #413
This has been added as a `:basic` check.

[2022-08-07 06:45] #419 closed, assigned to seancorfield

[2022-08-17 00:45] #392 closed, assigned to seancorfield

[2022-08-18 00:44] imxingquan opened #421 "how can I generate `replace into table` valeus use honeysql with mysql8"
https://dev.mysql.com/doc/refman/8.0/en/replace.html
REPLACE INTO tableName
the old row is deleted before the new row is inserted

[2022-08-19 22:45] seancorfield opened #422 "Security: Make it clearer that you really need :quoted true to avoid injection via table/column names"
If you have a dialect set as the default, `:quoted false` is the default and if you pass through user input as keywords (or symbols) for table/column/function names etc, those could be used to produce malicious SQL.

Also, make it clear that using arbitrary strings as aliases would also allow that.

[2022-08-23 20:21] seancorfield commented on #422
Suggestion: auto-quote suspicious looking entities unless `:quoted false` (so make quoting a tristate value).

[2022-08-23 22:12] camsaul opened #423 "Support `INSERT INTO table DEFAULT VALUES` syntax"
It's not completely out of the ordinary to have a table with something like

[code]

where all `NOT NULL` columns either have an auto-generated value or a default value.

Suppose you want to insert a row into that table without specifying any values. H2 supports the syntax

[code]

but Postgres fails with an error like

[code]

when you use that statement. Postgres, however, does support

[code]

[2022-08-23 22:54] seancorfield commented on #423
Does PostgreSQL and/or H2 have a syntax for inserting multiple rows where some rows are default-valued and some are specified completely?

See https://github.com/seancorfield/honeysql/blob/develop/test/honey/sql_test.cljc#L159-L179 for examples of multi-row inserts.

[2022-08-24 00:02] camsaul commented on #423
@seancorfield Postgres and H2 supports the default keyword to tell it to use the default value for a specific column:

[code]

In H2, you can use `DEFAULT` for an entire row, like this:

[code]

but that doesn't work in Postgres and as far as I know there is no native equivalent.

[2022-08-24 00:20] seancorfield commented on #422
Updated PR #424 with a first pass on documentation as well as the auto-quoting of "unusual" entities.

[2022-08-24 00:22] seancorfield commented on #421
I'll add `:replace-into` under the `:mysql` dialect as an "alias" for `:insert-into` (since it has the same syntax) so it will produced `REPLACE INTO` instead of `INSERT INTO`.

[2022-08-24 00:31] seancorfield commented on #423
And I just confirmed that MySQL (and possibly others) does not support `DEFAULT VALUES`. I had a feeling it wouldn't be very portable and couldn't be easily synthesized across dialects.

What I'm going to do:
* if `:values` has a single value of `:default`, it will generate `DEFAULT VALUES`
* if `:values` has a **row** value of `:default`, it will generate `DEFAULT` for that whole row (the H2 case

[2022-08-26 17:57] robhanlon22 opened #425 "`:interval` formatter returns invalid Postgres SQL"
`(sql/format-expr [:interval 30 :days])` is returning `INTERVAL 30 DAYS`, which is not valid Postgres SQL:

[code]

It should instead return `INTERVAL '30 DAYS'`:

[code]

Not sure if this applies to other SQL dialects.

[2022-08-26 18:15] seancorfield commented on #425
That's definitely dialect-specific. In MySQL, it's `INTERVAL 30 DAY` (no quotes, strictly singular). I'll have to do some research on what different databases do with `INTERVAL`.

[2022-08-27 16:53] seancorfield commented on #425
PostgreSQL seems to be using the `INTERVAL 'string'` syntax where the `'string'` is a general specification of an interval. Currently, HoneySQL does not allow a string there. I think my preferred approach here would be to "just" fix the issue of HoneySQL not accepting a string there so you can specify an arbitrary string.

Could you confirm that the following SQL works in PostgreSQL (as a call to

[2022-08-28 21:36] robhanlon22 commented on #425
After doing a bit of testing it looks like Postgres doesn't allow prepared statement syntax with intervals! Interesting. I think the best approach that one can take is `[:cast "30 days" :interval]`, which is what I've been doing as (what I thought was) a workaround. This might be a nice thing to document. Side note, it looks like intervals are not a data type in MySQL, just a syntactic construct,

[2022-08-28 21:45] seancorfield commented on #425
Thanks for checking on that @robhanlon22 -- I'll turn this into a documentation issue and make a note of it in both the PG tips & tricks and under the `:interval` syntax itself. There should be no problem using `:interval` as a data type in DDL since it will be treated as a SQL keyword in that context.

[2022-09-02 05:24] #425 closed, assigned to seancorfield

[2022-09-02 05:52] seancorfield commented on #423
To avoid ambiguity with a _column_ named `default`, the third case has to use `[:default]` (which already works).

[2022-09-02 06:09] SongKJ00 opened #426 "How can I put a specifix syntax between select and columns?"
I'm trying to register [MySQL optimizer hints ](https://dev.mysql.com/doc/refman/8.0/en/optimizer-hints.html) by referring to [Extending HoneySQL](https://github.com/seancorfield/honeysql/blob/develop/doc/extending-honeysql.md).

According to the [MySQL reference manual](https://dev.mysql.com/doc/refman/8.0/en/optimizer-hints.html), the optimizer hints should be placed between the select statement

[2022-09-02 19:17] seancorfield commented on #426
The best you're going to be able to do is use `:raw` to provide that sort of stuff (including the column selection). This is far too database-specific for me to want to support it in HoneySQL in any other way.

[2022-09-02 19:17] #426 closed, assigned to nobody

[2022-09-04 16:56] seancorfield commented on #423
Added documentation to `values` clause.

[2022-09-04 16:56] #423 closed, assigned to seancorfield

[2022-09-04 16:57] seancorfield commented on #422
Closing as documented sufficiently for release.

[2022-09-04 16:57] #422 closed, assigned to seancorfield

[2022-09-04 17:21] #421 closed, assigned to seancorfield

[2022-09-07 18:06] maxrothman opened #427 "Add a way to set the checking mode globally"
[`set-dialect!`](https://cljdoc.org/d/com.github.seancorfield/honeysql/2.3.928/api/honey.sql#set-dialect!) allows dialect and quoting options to be set globally, but other options like `:checking` cannot be set globally. It would be nice if at least `:checking`, but possibly other [options](https://cljdoc.org/d/com.github.seancorfield/honeysql/2.3.928/doc/all-the-options#format-options) could also

[2022-09-08 16:12] irigarae opened #429 "UPDATE with INNER JOIN in wrong order"
Hi,

I tried doing a join on an update with the latest version `com.github.seancorfield/honeysql {:mvn/version "2.3.911"}`

[code]

and the order is not as I would expect. Is there a way to have INNER JOIN before SET (maybe using something like `:join-by`), or maybe it's a bug?

I would have expected

[code]

Thanks

[2022-09-08 16:31] seancorfield commented on #429
Are you on MySQL? Did you select `:dialect :mysql`? MySQL has a non-standard precedence for `SET` compared to all the other databases so the `:mysql` dialect changes the order of the `:set` clause.

[2022-09-08 16:40] irigarae commented on #429
Yes, I’m on MySQL, but no, I did not set up the dialect. Indeed, that was it. Thank you!

[2022-09-09 06:20] #429 closed, assigned to nobody

[2022-09-11 21:23] seancorfield commented on #427
I've added `set-options!`, which can set defaults for `:checking`, `:inline`, `:quoted`, and `:quoted-snake`.

I need to think about how/where exactly it needs documenting (beyond just the docstring) so I'll keep this issue open until I've completed that work. Feel free to try out the latest **develop** version or the latest SNAPSHOT on Clojars and provide feedback.

[2022-09-11 21:28] seancorfield commented on #427
Looks like I messed that up a bit and now quoting is on by default. Will fix shortly.

[2022-09-11 22:26] seancorfield commented on #427
Fixed: https://clojars.org/com.github.seancorfield/honeysql/versions/2.3.999-SNAPSHOT

[2022-09-11 23:43] maxrothman commented on #427
Wow, that was a fast turnaround! I’ll see about getting our usage upgraded and trying this out.

[2022-09-12 03:00] #427 closed, assigned to seancorfield

[2022-09-12 03:42] seancorfield opened #430 "with-columns should have escape hatch for capitalization"
The current logic -- that always capitalizes all but the first expression in a column spec -- is somewhat problematic and has no way to specify a literal type that should not be capitalized (see #428 for examples).

The `sql-kw` function allows for keywords that start with `'` to be passed through exactly as-is which supports function usage (and a few other things) but `format-var` does not suppor

[2022-09-12 03:48] seancorfield commented on #430
In addition to `format-var` needing to support that escape hatch, `with-columns` itself needs to be adjusted so it doesn't then reformat such an expression, removing the `(upper-case)` call _in some as yet unspecified situations_.

[2022-09-12 04:06] seancorfield commented on #430
Example:
[code]
I need to decide whether/where to document this since I think I deliberately left it undocumented when 2.2.868 was released.

[2022-09-12 19:45] #430 closed, assigned to seancorfield

[2022-09-12 20:55] seancorfield commented on #415
Multiple columns are now supported in `:drop-column`. I'm still thinking about how to support this for alter/modify/add column without breaking anything...

[2022-09-13 01:53] #415 closed, assigned to seancorfield

[2022-09-20 16:33] robhanlon22 opened #431 "`(where false)` is not equivalent to `{:where false}`"
This works:

[code]

This disregards the `false`:
[code]

It can be worked around like this:
[code]

But it would be best if the behavior was consistent. Appears to be an impedance mismatch between SQL and Clojure :)

[2022-09-20 16:39] robhanlon22 commented on #431
I can look into this but I am a bit concerned to muck around too much with the `generic` function in `helpers.clj`.

[2022-09-20 20:21] #431 closed, assigned to nobody

[2022-09-22 16:56] MawiraIke opened #433 "Allow `with expr AS ident` syntax in WITH clause"
As discussed in #428 , the expression passed to `WITH` clause in ClickHouse can be a string, which is not currently supported. When the expression is a string, the order of `WITH` clause is `with expr AS ident` and not the current `with ident AS expr`.
I have created a [PR](https://github.com/seancorfield/honeysql/pull/432) that will allow for both variants of ClickHouse i.e
`with expr AS ident` a

[2022-09-23 12:41] liwp opened #434 "pg array constructor (:'ARRAY) gets quoted when :quoted is true"
I'm trying to use the pg "array constructor" as described [here](https://github.com/seancorfield/honeysql/blob/develop/doc/postgresql.md#working-with-arrays), eg:

[code]

But when I pass `:quoted true` to `sql/format` the `ARRAY` gets quoted as well:

[code]

And pg doesn't like it (second example):

[code]

My workaround is to format the subquery first with `:quoted true`, then write the `ARRAY`

[2022-09-23 16:37] seancorfield commented on #433
Note: I'm going to leave this open until I've wordsmithed the docs a bit and updated the CHANGELOG. Thank you for the PR!

[2022-09-25 23:59] seancorfield commented on #434
Yeah, I recently extended the `:'` "escape" syntax to another context and noticed this difference so I'm giving it some hammock time to try to decide what's the right thing to do here...

[2022-09-30 17:50] seancorfield opened #435 "Document that create clauses can take a sequence of keywords"
[code]
In particular, `(create-table :temp :foo)` produces `CREATE TEMP TABLE foo`

[2022-10-01 17:11] #435 closed, assigned to seancorfield

[2022-10-01 17:25] seancorfield commented on #434
I consider this a bug but have not yet decided how to fix it.

[2022-10-06 07:04] Kauko opened #436 "Support embedded user and password in JDBC URLs"
[Slack thread](https://clojurians.slack.com/archives/C1Q164V29/p1664971423799489)

`clojure.java.jdbc` supported a format for JDBC URLs where the user and password are embedded into the URL, like this:

[code]

Currently `next.jdbc` only supports the following format:

[code]

The format is listed [here](https://www.postgresql.org/docs/current/libpq-connect.html#LIBPQ-CONNSTRING), but it's not lis

[2022-10-06 18:03] Kauko commented on #436
Opened this to the wrong repository :D

https://github.com/seancorfield/next-jdbc/issues/229

[2022-10-06 18:03] #436 closed, assigned to nobody

[2022-10-10 14:11] liwp commented on #434
Thanks for the update! As I wrote, we have a workaround so it's not urgent for us.

[2022-10-12 09:32] sheluchin opened #437 "Producing PostgreSQL's `ON DISTINCT CASCADE` DDL for foreign keys"
I am looking to create a foreign key with referential integrity as so:

[code]

[Documentation.](https://www.postgresql.org/docs/14/ddl-constraints.html#DDL-CONSTRAINTS-FK)

The closest I've been able to come up with:

[code]

but this ends up wrapping the cascade part in parens like `ON DELETE(CASCADE)`, which is not the desired result. Is there any way to achieve the Postgres syntax with HoneySQ

[2022-10-17 23:53] maxrothman opened #438 "Support full TRUNCATE syntax (cascade, identity)"
Postgres’ TRUNCATE command supports two additional options that are not supported in HoneySQL: CASCADE/RESTRICT, and RESTART IDENTITY/CONTINUE IDENTITY. It’d be great to have them supported!

Doc link: https://www.postgresql.org/docs/current/sql-truncate.html

[2022-11-04 07:25] kolstae commented on #438
Also the ability to truncate multiple tables would be great.

[2022-11-05 06:42] seancorfield commented on #438
`:truncate` now accepts either a table name or a sequence with a table name followed by options that should work for all the various database-specific syntax allowed here. It does not allow for truncating multiple tables (I do not plan to support that).

[2022-11-05 06:42] #438 closed, assigned to seancorfield

[2022-11-05 18:06] seancorfield opened #439 "Improve column specification support in a generic way"
DDL can be extremely vendor-specific and that means that column specifications (in `CREATE`/`ALTER` `TABLE commands, for example) can contain pretty much anything.

You can't even say a "column specification" always begins with a column name since `PRIMARY KEY` and `CONSTRAINT` and all sorts of things can also appear (detecting the difference between a _column_ specification and a constraint etc s

[2022-11-05 18:07] seancorfield commented on #437
I'm going to close this in favor of #439 where I want to track all column specification work and find a generic solution to this sort of thing.

[2022-11-05 18:07] #437 closed, assigned to seancorfield

[2022-11-05 18:08] seancorfield commented on #386
I'm going to close this in favor of #439 where I want to track all column specification work and find a generic solution to this sort of thing.

[2022-11-05 18:08] #386 closed, assigned to seancorfield

[2022-11-06 00:05] seancorfield commented on #437
The fix I have for #439 would work for your example as follows:

[code]

If you want just `REFERENCES foo`, omit `:id` like this: `[:references :foo]`

[2022-11-06 00:10] seancorfield commented on #386
With the fix I'm working on for #439 your example becomes:

[code]

Note that `:foreign-key` and `:references` are "function-like" expressions.

[2022-11-06 00:15] #439 closed, assigned to seancorfield

[2022-11-06 00:26] seancorfield commented on #439
I deliberately punted on the `SQL KEYWORD entity_name` case for now. Specific keywords can be added to the Special Syntax handling as `function-1` (or `function-1-opt`) as they come up.

[2022-11-07 08:26] slipset opened #440 "Support for multiple tables in `truncate`"
It seems to me from the examples bit of the [postgres docs for truncate](https://www.postgresql.org/docs/current/sql-truncate.html) that postgres accepts multiple tables to truncate, whereas honey does not?
[code]
It would be nice if honeysql supported this. Not at all important, as workarounds are available :)

[2022-11-08 01:46] valerauko opened #441 "First call to format with :dialect may fail"
[code]
Then from the next call on it'd succeed.
[code]

https://github.com/seancorfield/honeysql/blob/23be700b7eb74ff75096bc5c8324634a8e2b9e84/src/honey/sql.cljc#L107-L110

Maybe the :clause-order-fn is called at the wrong time and/or the clause dictionary is deref'd before it so it's not updated for the first call?

## Workaround

* using set-dialect! before any format calls
* not using :mysql

[2022-11-08 05:36] seancorfield commented on #441
Your deduction of the bug is spot on: the argument to `:clause-order-fn` is the base clause order so it has already been derefed and passed in before `register-clause!` does its thing.

[2022-11-08 05:38] #441 closed, assigned to seancorfield

[2022-11-08 05:44] valerauko commented on #441
Thanks for the blazing fast fix! <3

[2022-11-08 05:49] seancorfield commented on #441
Let me know if it actually solves the problem for you _without introducing any new problems_! There should be a new SNAPSHOT you can depend on from Clojars or you can test against git deps.

[2022-11-08 06:59] valerauko commented on #441
I can confirm the first call to format with :dialect now works! (And I don't see anything breaking.) Thanks!

[2022-11-17 15:53] seancorfield opened #442 "values helper should accept one or more hash maps"
Currently, `values` expects a sequence of either hash maps or sequences (column values) and returns `{:values <arg>}`.

Based on how many other helpers work, intuition would expect `(values map1 map2 map3)` to return `{:values [map1 map2 map3]}`.

Enhance it to support this and update the docs and examples around it.

[2022-11-18 04:35] seancorfield commented on #442
It turns out this is harder than it looks.

The `values` helper is (currently) a `generic-1` so it always treats it as a single argument. We can change that easily but...

...while we can clearly treat multiple arguments as a sequence of rows, the single argument case is tricky. A single argument with all hash maps could still be a row where all columns are JSON, and similarly for a single argumen

[2022-11-18 06:40] #434 closed, assigned to seancorfield

[2022-11-21 00:01] #433 closed, assigned to seancorfield

[2022-11-27 13:02] zerg000000 commented on #405
@seancorfield Hi

I created a POC #444 for discussion. The changes invoked is a bit big and will break the extension api.
May I know what is the initial thoughts of how to implement this on your mind?

[2022-11-28 05:39] seancorfield commented on #405
I have a design in my head for a solution to this that breaks nothing but there are a couple of edge cases that require a bit more hammock time.