[2013-04-09 15:33] gfredericks opened #1 "SELECT DISTINCT foo ON (bar)"
I was trying to generate a `SELECT DISTINCT ON (bar) foo` recently and the only mechanism I could figure out was:

[code]

which feels like unintended usage, but at least works (at least because SQL isn't case-sensitive).

Is there a better way to do this, or a straightforward design as a new feature that I could add?

[2013-04-09 15:37] gfredericks opened #2 "Quoted column names"
My table has a column called `version` which (in postgres at least) needs to be quoted in a lot of usages. Since honeysql doesn't quote column names by default, I think the only two options are `(sql/raw "\"version\"")` or referring to `:tablename.version` (which is tricky when the table name itself isn't known till runtime). Am I missing anything?

[2013-04-12 16:43] djpowell opened #3 "Case-preserving function calls"
In SQL Server, I make C# calls in SELECT and WHERE clauses.
These function names are case sensitive.

It would be handy if `fn-handler` `:default` didn't upper-case the name of the op.

Would you be interested in removing the upper-casing, or making it an option?

[2013-05-09 10:13] kenrestivo opened #5 "Intervals and casts"
Is there any way to render Postgres style ::interval and other custom types of colums?

i.e.

[code]

Which is valid Postgres SQL, but I have no idea how to render it in HoneySQL.

[2013-05-09 10:16] #5 closed, assigned to nobody

[2013-08-06 17:54] #3 closed, assigned to nobody

[2013-08-06 20:19] #2 closed, assigned to nobody

[2013-08-06 20:30] #1 closed, assigned to nobody

[2013-08-22 22:12] e0d opened #6 "SQL dialects"
Interesting project.  Is there a a thought a supporting SQL dialects?  What DB's have you been targeting so far?

[2013-09-03 17:10] doffltmiw opened #7 "Support for insert, update and delete"
Could you add support for insert, update and delete queries?

I think this library is simple and well aligned with clojure's philosophy, and want to use it instead of korma, which is too much for me. But lacking CUD support is keeping me from switching to this library.

[2013-10-02 18:20] cjauvin opened #10 "Adding a subquery aliasing example to the doc"
First let me thank you for your very nice library. I am in the process of learning Clojure by porting parts of a Python webapp backend I wrote, and I've been drawn to it with arguments like "declarative data manipulation over ORM", "plain data structures over objects", which are exactly in line with how I've been thinking for a while, without being able to really articulate it. In fact Honey SQL s

[2013-10-03 16:07] cjauvin opened #11 "Adding ILIKE support"
I don't know what's your stance on adding non-standard SQL support, but I would suggest adding PG's ILIKE operator. If not, I know I can always define it myself using `defmethod`.

[2013-10-06 14:25] yatesco opened #12 "Support 'is null' and 'is not null'"
Loving this tool - really!

Can you please add support for [:null :a] and [:not-null :a] for building up where clauses.  I can of course already do [:= :a null] but as we all know null != null.

Thanks a bunch.

[2014-01-21 16:57] dubiousdavid opened #13 "Multiple Joins?"
How do you do multiple joins of the same type (inner, left, right, etc.)?

[2014-01-21 17:02] #13 closed, assigned to nobody

[2014-01-21 20:57] dubiousdavid opened #14 "Nicer function calling syntax"
It would be really cool to use the following convention for function calls:

[code]

[2014-01-28 17:41] fdhenard opened #15 "No clause exists for MS SQL Server SELECT TOP <n> FROM... for limiting"
I would like to add this clause, and thought that I should start with an issue.    Some background to this can be found here: https://github.com/jkk/honeysql/issues/6#issuecomment-23174297

This will be my first pull request on github.  If I take too long on this, feel free to step on my toes.

[2014-02-24 03:56] devn opened #18 "Appropriate way to write foo_bar::regclass?"
What is the best way to write `[:= :attrelid (pg/raw (str "'" table_name "'::regclass"))]`?

[code]

Thanks,
Devin

[2014-02-26 17:16] #12 closed, assigned to nobody

[2014-02-27 18:49] #18 closed, assigned to nobody

[2014-07-09 18:29] geraldodev opened #23 "how to translate lower((ts_lexize('unaccent'," p "))[1])"
Hi,

Very good library, I'm going to use it a lot.

I have played with sql/call and sql/raw trying to translate the expression above.
The problems are
1) the extra parethesis are necessary and sql/call needs a name/keyword
2) the [1] is necessary because is a vector, if I inject  it using sql/raw inside sql/call there ll be a ',' separating.

What I'm looking for is a way to use honey in cases lik

[2014-09-17 17:21] galdolber opened #29 "WARNING: update already refers to: #'clojure.core/update in namespace: honeysql.helpers, being replaced by: #'honeysql.helpers/update"

[2014-10-22 17:13] hlship opened #30 "Support for INSERT using SELECT"
I have yet to find a HoneySQL syntax to generate the following:

[code]

For example:

[code]

gets all jumbled up, because the SELECT comes before the INSERT INTO.

[code]

[2014-11-24 11:19] schmir opened #32 "handling of nil argument in merge-where"
merge-where with a nil first argument gives a bad result. This will trigger a syntax error when converted to sql:

<pre>
user=> (merge-where nil [:= :foo 1])
{:where [:and nil [:= :foo 1]]}
</pre>

Compare this to the result when given an empty map as first argument:

<pre>
user=> (merge-where {} [:= :foo 1])
{:where [:= :foo 1]}
</pre>

[2014-12-01 15:26] mccraigmccraig opened #33 "more INSERT ... SELECT"
INSERT INTO where one of the inserted columns is a subquery is supported with :

    (-> (insert-into :user_profile_to_role)
          (values [{:user_profile_id user-id
                    :role_id         (-> (select :id)
                                         (from :role)
                                         (where [:= :name role-name]))}])

and INSERT INTO where all of the inserted colum

[2015-02-05 18:58] MichaelBlume opened #39 "Project status"
Hi,

I'm curious to know whether this project is currently being maintained -- it's been three months since the last commit and a year since the last release.

[2015-02-05 20:55] niquola commented on #39
It just done :)
We use it in many projects, perfect library!

[2015-02-05 21:09] MichaelBlume commented on #39
I completely agree it's a wonderful library =)

If what's in master branch is done, it would still make sense to cut one last release so that people can use the changes now in master.

There's a number of pulls that haven't been merged yet. Mine, #38, speeds up SQL generation ~5x with no change in behavior. Some of the other pulls look interesting, though I haven't given any a thorough review.

Ri

[2015-02-18 12:24] emil0r commented on #39
Also wondering.

[2015-02-24 02:23] MichaelBlume commented on #39
Well, I've gone and put up a fork at https://www.github.com/MichaelBlume/honeysql and it has a Clojars release containing the stuff currently in master: https://clojars.org/michaelblume/honeysql/versions/0.4.4

Later tonight I'll start auditing the outstanding pull requests for inclusion in the fork -- 0.4.5 should follow shortly.

[2015-02-24 06:18] piranha commented on #39
:+1:

[2015-02-25 15:42] jkk commented on #39
Hey guys. Sorry for the slow progress on cutting releases and getting pull requests merged. I've got very limited time these days, and wasn't using Clojure in my day job for a while.

I just recently began using it again. Planning to bring this repo up to snuff as soon as I can. Got some ideas for improving the DSL namespace, among other things.

I'm not opposed to adding more contributors to the

[2015-03-03 10:01] ddellacosta commented on #39
Like Michael Blume we have our own fork we use in production, and furthermore we have been considering releasing the fork under a new name because we assumed this project was dead.

I think our team would be happy to act as contributors one way or the other, but I think we're feeling a bit burned: the last pull request I made got duplicated and finally ignored and unmerged, so I closed it--it date

[2015-03-03 16:39] fdhenard commented on #39
Thanks @ddellacosta!  I would be behind a fork, or agree that @jkk needs to add committers.  I think this library is one of the most useful for Clojure/SQL, and would love to see more support around it.

[2015-03-03 18:55] jkk opened #42 "Make clause order extensible"
Most aspects of honeysql are extensible through multimethods, but clause order is not. Figure out how to provide a priority number that can be used to position custom clauses relative to each other

[2015-03-03 18:58] #42 closed

[2015-03-03 19:09] jkk commented on #39
I've added @MichaelBlume and @ddellacosta as collaborators on the project. I'll hopefully have some time this week to help look through pull requests. If you guys want to coordinate or just start merging no-brainer requests, feel free. I'll cut a release too. Not sure how shared access to clojars works. Will look into that.

[2015-03-03 19:39] MichaelBlume commented on #39
Awesome, thanks =)

[2015-03-04 01:42] ddellacosta commented on #39
That's great!  I'll start commenting on stuff and proposing some merges for anything that seems reasonable.  Thanks Justin!

[2015-03-04 05:25] MichaelBlume commented on #39
You mentioned sharing access to clojars -- if you'd like, I think you can
go to https://clojars.org/groups/honeysql and add our clojars usernames.
Mine's michaelblume. Thanks again!

On Tue, Mar 3, 2015, 5:42 PM Dave Della Costa <notifications@github.com>
wrote:

[2015-03-04 15:41] jkk commented on #39
@MichaelBlume @ddellacosta I've added you guys to clojars too. Thanks for diving in and getting your hands dirty with issues and pull requests. I'll give my input on things as I'm able. So far I like the direction -- small extensible core, focus on ANSI SQL, backwards compat, and possibly providing engine-specific extensions in separate namespaces

[2015-03-04 15:44] ddellacosta commented on #39
@jkk Great--so far seems like everyone is on the same page--will keep the principles you've highlighted in mind as we move forward.  Thanks for bringing more folks in as collaborators!

[2015-03-05 05:33] ddellacosta commented on #30
Since this is redundant with #33 and there is a pull request now (#50) with a proposal for solving this, going to close this one.

[2015-03-05 05:33] #30 closed

[2015-03-05 05:34] ddellacosta commented on #29
Resolved by #41, closing.

[2015-03-05 05:34] #29 closed

[2015-03-05 05:35] ddellacosta commented on #6
@jkk Can/should we close this one?  Seems like it's just a dead comment thread at this point.

[2015-03-05 05:37] jkk commented on #6
yep

[2015-03-05 05:37] #6 closed

[2015-03-05 05:38] ddellacosta commented on #7
Think this has been resolved for a while, see #22 (README updates) and originally #9.

[2015-03-05 05:38] #7 closed

[2015-03-05 05:40] ddellacosta commented on #11
Since this is PG-specific and we're trying to stick to ANSI SQL stuff for now, and can be easily added using a custom formatter, I'm going to close this.

For the record, we've added this to our own system like so:

[code]

[2015-03-05 05:40] #11 closed

[2015-03-05 05:42] ddellacosta commented on #14
Think this with #17 needs some more serious discussion...

[2015-03-05 05:47] ddellacosta commented on #15
Looks like this one has been resolved with (Menthalion's workaround)[https://github.com/jkk/honeysql/issues/15#issuecomment-52159339]--closing.

[2015-03-05 05:47] #15 closed

[2015-03-05 06:15] piranha commented on #14
That would be certainly nicer than current `:%now`. But, to be honest, I use `(sql/call :now)` everywhere right now and it's mostly ok... It would be easier to read `'(now)`, but I'm not sure how recognizable will it be from the parser's standpoint.

[2015-03-05 09:47] emil0r commented on #39
:+1:

[2015-03-05 13:12] ddellacosta commented on #23
@geraldodev I realize this is rather old and you've probably figured out how to do this already--but here's one way to solve it with HoneySQL as is:

[code]
...and then, for example:

[code]

[2015-03-05 13:12] #23 closed

[2015-03-05 13:23] ddellacosta commented on #32
I think that if you want to propose a fix for this it should address the semantics of all helpers vs. just merge-where, as any one of them can presumably generate badly formed SQL--as it stands, I think the assumption is that it's on the library user to ensure their SQL is properly formed.

@jkk and other contributors, curious what you think--I'm inclined to close this one.

[2015-03-05 20:30] MichaelBlume commented on #32
I could see just saying that all the helpers should raise if called with nil, apart from select, delete-from, etc.

[2015-03-05 20:31] MichaelBlume commented on #39
Awesome, thanks =)

[2015-03-06 10:02] schmir commented on #32
Well, I do think this is all just an result of the current implementation (which IMHO is confusing).

Look at these:
<pre>
user> (merge-where [:= :foo 1])
{:where [:= :foo 1]}
user> (merge-where [:= :foo 1] nil)
{:where [:and [:= :foo 1] nil]}
user> (merge-where {} nil nil)
{:where [:and nil nil]}
user> (merge-where {} nil)
{}
user> (merge-where)
{:where [:and]}
user> (merge-where {})
{:where [:an

[2015-03-06 10:09] schmir commented on #32
I propose merge-where should require at least one argument (the map) and multiple optional arguments.
A nil map should be handled like an empty map. That would be much saner.

[2015-03-06 19:26] MichaelBlume opened #51 "Next release"
I'd like to cut a new release soonish. I'm guessing we want to merge #34 and #43 before we do that. Is there anything else we should try to get in?

[2015-03-06 21:39] #39 closed

[2015-03-07 04:03] ddellacosta commented on #32
My point is, you can do the same thing with every helper in the library:

[code]

Perhaps it is confusing that merge-where works the way you are highlighting, but it's not unique.  As it is now, *all* the helper functions assume you are feeding them valid data--garbage in, garbage out.  It doesn't make sense to me to simply change `merge-where`'s behavior without a more comprehensive discussion of

[2015-03-07 04:16] ddellacosta commented on #51
I'd like to get #50 in if no one objects.  Otherwise, I'll update #34 immediately after if you merge in #43 @MichaelBlume , assuming @jkk is on board with that plan.

[2015-03-09 03:55] ddellacosta commented on #51
Are we going to bump this to 0.5.0?  Seems like it fits the bill considering we're adding a fair bit of functionality vs. simply doing bug fixing.

[2015-03-09 04:31] MichaelBlume commented on #51
That sounds about right to me, yeah

On Sun, Mar 8, 2015, 8:56 PM Dave Della Costa <notifications@github.com>
wrote:

[2015-03-09 09:06] schmir commented on #32
I think part of the problem is that the documentation is rather sparse for those helpers. It's not even clear what is "valid data". I'm not even sure now if the first argument has to be a map. It looks like that is not required, but the documentation doesn't show an example of merge-where being called with anything other than a map as first argument.

[2015-03-09 13:57] jkk commented on #51
Thumbs up from me for everything. Thanks again for bringing this repo back to life.

[2015-03-09 17:21] MichaelBlume commented on #51
Glad to help, it's been fun =)

I think all the named pulls are in, I'm up to try pushing up a release if everything seems ready.

[2015-03-09 19:41] MichaelBlume commented on #51
Done =)

Clojars doesn't want to promote the new release, though, because the project.clj doesn't have an url. I've fixed that in master and I think I'd like to just push up 0.5.1 so we have a promoted package.

[2015-03-10 02:53] ddellacosta commented on #51
Awesome!  BTW folks, I wanted to bring up the fact that the packages haven't been signed up until now--I would push for that, although I recognize that it adds an extra layer of complexity and would require any of us who can push to clojars to have a set of keys. Thoughts?

Congrats to all on the new release!  Very exciting.  I've bumped the version # on README to 0.5.1--maybe we should merge in #

[2015-03-10 02:57] ddellacosta commented on #51
Also, seems like the release was pushed from your fork @MichaelBlume--probably better to push from the main repo.

[2015-03-10 03:57] ddellacosta commented on #33
This is resolved with #50, now merged in and released.

[2015-03-10 03:57] #33 closed

[2015-03-10 04:53] MichaelBlume commented on #51
Yeah, I can't quite figure out how to convince it that I am pushing from
the main repo

On Mon, Mar 9, 2015 at 7:57 PM Dave Della Costa <notifications@github.com>
wrote:

[2015-03-10 04:54] MichaelBlume commented on #51
Oh, hm, maybe the problem is that I have my repo marked as 'origin'

On Mon, Mar 9, 2015 at 9:53 PM Michael Blume <blume.mike@gmail.com> wrote:

[2015-03-10 06:34] #51 closed

[2015-03-13 18:44] MichaelBlume opened #54 "settings"
@jkk can you make @ddellacosta and I able to see the settings tab on the honeysql repo? I'd really really like to turn on automatic travis builds, and I think I can do that myself with access to settings, but I can't seem to see them right now.

[2015-03-13 18:59] jkk commented on #54
@MichaelBlume I don't see a way for me to give you guys access to settings. I added Travis CI as a service to settings, though I didn't add anything under username/password/domain fields that it shows

[2015-03-13 21:20] MichaelBlume commented on #54
Aha, sorry, looks like there's not actually any way to do that.

So what *should* work is if you go to https://travis-ci.org/recent , click "sign-in with github" in the top-right, accede to the permissions request (it's not that bad). Then click your icon which is now in the top-right corner, scroll down to honeysql, and flick the switch to on.

What this gives us is automated builds both of the m

[2015-03-14 00:40] jkk commented on #54
@MichaelBlume followed your instructions on Travis CI. I think we're all set

[2015-03-14 00:41] jkk commented on #54
@MichaelBlume Thanks for making it dead simple for me :)

[2015-03-14 00:42] MichaelBlume commented on #54
Awesome, thanks :D

On Fri, Mar 13, 2015, 5:40 PM Justin Kramer <notifications@github.com>
wrote:

[2015-03-16 16:12] smahood opened #58 "Support for Microsoft SQL Server paging queries"
Microsoft SQL Server requires a bit different syntax for paging queries. SQL Server 2005 and 2008 require a pretty ugly syntax that I don't know would be easy to add in to Honey SQL. SQL Server 2012, however, is pretty close to the format in PostgreSQL.

In Honey SQL, `:select ... :limit 50 :offset 10` results in `SELECT ... LIMIT 50 OFFSET 10`.

SQL Server 2012 requires queries in the form `SELEC

[2015-03-16 20:24] #54 closed

[2015-03-25 15:41] hlship opened #62 "Extensible predicates"
I'm doing some work with PostgreSQL and relative dates, so I'm creating some queries with clauses like:

[code]

I'd like to be able to replace those with something like:

[code]

and have that expand to:

[code]

I guess this could just be a function that emits a raw, but doesn't seem full in the idiom of HoneySQL.

[2015-03-26 22:24] emidln opened #63 "Opt of sub-queries for IPersistentMap in ToSql"
Right now, ToSql defines a method (-to-sql [x] ...) that is specified to IPersistentMap in such a way as to prevent passing JSON values with (honeysql.helpers/values [{:my-json-field {:foo "bar"}}]). This is a significant obstacle for me right now. Would a patch that adds an optional second parameter (meaningful to at least the IPersistentMap implementation) be considered?

[2015-03-26 22:43] MichaelBlume commented on #63
Yep, that sounds like an annoying problem, I'd be interested in seeing a patch to fix it.

[2015-03-26 22:45] MichaelBlume commented on #63
Actually I wonder if it makes sense for IPersistentMap to implement ToSql at all. Is the IPM implementation used recursively or only as an entry point? If it's only an entry point would it make sense to have it be its own function?

[2015-03-26 22:58] emidln commented on #63
It's unfortunately used recursively to process all of the clauses.

On Thu, Mar 26, 2015 at 5:45 PM, Michael Blume <notifications@github.com>
wrote:

[2015-03-26 23:50] emidln commented on #63
See https://github.com/jkk/honeysql/pull/64 for a pull request implementing this as an option to honeysql.format/format

[2015-03-31 17:45] MichaelBlume commented on #63
Done, and released in 0.5.2 =)

[2015-03-31 17:45] #63 closed

[2015-04-05 22:29] niquola opened #67 "DDL plans"
Hi, i'm interested in DDL support.

Do you have ideas or plans, how it should look like?

[code]

[2015-04-17 21:35] MichaelBlume commented on #67
I don't really have any ideas or plans, I'm curious how well this can be done without cluttering the interface with vendor-specific stuff. In my experience, my table definitions have a lot more vendor-specific syntax than my queries.

[2015-04-20 21:53] dball opened #73 "The IN infix operator does not work with named query parameters"
This form doesn't work as expected:

[code]

If this were to work, it would have to result in something of the form:

[code]

If there's any interest in making this work, I'd be happy to take a stab at it. It's unclear offhand if the current behavior is desirable for some reason though, so I thought I'd ask first.

[2015-04-20 22:24] MichaelBlume commented on #73
Thanks for the report!

Yeah, I'd be interested in seeing this work, please feel free to take a stab at it =)

[2015-04-20 22:26] ddellacosta commented on #73
I think some of this simply has to do with the fact that there are so many ways to do it--for example, here's a workaround for your example:

[code]

But yeah, seems like something that worked correctly using your example code would be nice.

[2015-04-21 00:14] dball commented on #73
Yeah, I just use inline values for the most part without issue, but I am in the process of experimenting with extracting some hsql queries into vars and the param version would be the most readable form. I'll see if I can come up with something.

[2015-04-24 02:53] cddr opened #75 "Support for exists keyword"
e.g.

[code]

or

[code]

[2015-05-06 03:37] timvisher opened #77 "Support for MySQL's `ON DUPLICATE KEY UPDATE` Syntax?"
I'm implementing `upsert!` and I would greatly benefit from access to this mysql feature. Is there any way to access it via honeysql?

[2015-05-08 23:46] MichaelBlume commented on #75
fixed in #76

[2015-05-08 23:46] #75 closed

[2015-05-08 23:46] MichaelBlume commented on #73
Fixed by #74

[2015-05-08 23:46] #73 closed

[2015-05-20 16:45] dball opened #79 "Parameterizable protocol introduced a regression with nil param values"
See #78

Since it's a new bug, it might be worth cutting 0.6.1 forthwith.

[2015-05-20 16:56] dball commented on #77
I myself implement it as follows:

[code]

But am also interested in supporting a logical upsert operation in honeysql. Perhaps we might consider supporting an :updates keyword taking a map of fields and values to upsert? It would be good to figure out a nice way to refer to the VALUES pseudo-function though. It would also be good to survey other databases' upsert syntaxes and make sure that whate

[2015-05-20 17:01] dball commented on #58
You could do that last bit yourself simply by making the helpers and registering them at the appropriate offsets in the query construction priority. Personally, I'd be slightly more interested in exploring including the database vendor as a hint to format; a generalization of what was done to support the postgresql parameterizer.

[2015-06-19 21:32] emidln commented on #1
`SELECT DISTINCT ON (bar), foo` isn't legal in PostgreSQL at least.

[2015-06-25 14:20] pjstadig opened #80 "Automatic dashification/underscorizing"
It might be worth calling out in the Readme the fact that honeysql will automatically dashify/underscorize. This caught me off guard, and I'm not sure what I need to do about it. I'm trying to start using honeysql in a project where I am programatically creating tables in Postgres, and to prevent problems with dashes I just quote the column names. Honeysql is underscoring my column names. Is there

[2015-06-25 14:25] pjstadig commented on #80
Probably some examples are in order:
[code]

What I'd like to be able to do is:
[code]

[2015-06-25 14:26] pjstadig commented on #80
This is HoneySQL 0.6.1.

[2015-08-06 08:34] azapps commented on #80
I have forked Honey SQL and fixed this bug/feature. I understand that this will break many existing HoneySQL installations so I did not submit a pull request.

Here is the repo: https://github.com/azapps/honeysql and the commit: https://github.com/azapps/honeysql/commit/e3c77e8b

[2015-08-11 17:47] ianmcorvidae opened #84 "Support for column names in WITH"
At least in PostgreSQL, when creating CTEs with `WITH`, column names can be passed in (to produce e.g. `WITH m (col1, col2) AS VALUES (2,3), (3,4) SELECT col1 FROM m` -- or more usefully to pass in multiple columns of data for an `UPDATE`, in my experience. If I'm understanding honeysql's code correctly this isn't supported, and it'd be useful for it to be!

[2015-08-19 01:46] icambron opened #85 "The #sql/array syntax"
It's easy to generate an update statement for a SQL array, using the syntax documented in the tests:

[code]

But that doesn't actually work if vector is in a var, which I expect is a common case:

[code]

I guess that's a reader macro, so maybe that can't be expected to work with anything but literals.

Anyway, I figured out that you can do this:

[code]

But then I sorta wonder what the the `#sq

[2015-08-23 02:35] dball commented on #77
I wrote some clause and helper support for them here:

https://github.com/jkk/honeysql/pull/86

which has the advantage of participating in honeysql's to-sql abstraction

[2015-08-25 15:18] ddellacosta commented on #84
Agreed...will add ASAP.

[2015-08-29 20:33] SevereOverfl0w opened #90 "Multiple Join's do not seem to work"
https://gist.github.com/SevereOverfl0w/da8298aaa20cd1855c20/acfa98704b7e2ab2f04981c0a46f2d2ed199dfd7 this base, produces incorrect looking SQL, I assume the codebase isn't handling multiple inner joins too well (result of running sql/format against base):
[code]

However, using the helper syntax does work: https://gist.github.com/SevereOverfl0w/da8298aaa20cd1855c20/3d3bb0ff5f32043284a474adf7e4a22d

[2015-08-30 10:57] ddellacosta commented on #90
The syntax is just not documented well.  All of these variations work fine (formatted for clarity):

[code]
...etc.

[2015-08-30 10:57] #90 closed

[2015-08-30 11:47] SevereOverfl0w commented on #90
ah, thanks!

[2015-09-02 19:21] ilyabe opened #91 "In a multi-column select, apply modifier to only one column"
I'd like to generate a query like this:

[code]

but doing this with honeysql:

[code]

Creates a query like `SELECT MAX s.id, s.last_modified...`

Is there a way to apply the modifier, in this case `max` to only one column, in this case `last_modified`?

[2015-09-03 06:07] piranha commented on #91
`(select :s.id, (sql/call :max :s.last_modified))` should work.

[2015-09-03 14:12] ilyabe commented on #91
Thank you, that's exactly what I was looking for!

[2015-09-03 14:12] #91 closed

[2015-09-17 22:00] dzhus commented on #80
+1 on this issue. The behaviour should be optional, most of databases can handle column names or aliases with dashes.

[2015-09-25 20:28] jrdoane commented on #80
+1 on this as well, when formatting as ```:ansi``` to be specific. Preserving hyphens would be nice if the database supports it (PostgreSQL does,) and I think keywords with hyphens over underscores looks much more like idiomatic Clojure, so it makes sense to support it whenever possible and changing functionality based on the formatting as opposed to simply catering to the lowest common denominato

[2015-09-27 20:02] jrdoane commented on #80
Just to bat out some ideas, so this in unobtrusive, could an overidable function be provided in cases when we want control over this? How about an option to override the renaming function for fields? I would invision such a thing to be similar to this:

[code]
To give us something like:
[code]

That way, old code isn't broken while adding extensibility and control over quoting should someone want

[2015-10-11 04:16] MichaelBlume commented on #80
I'm probably not going to author a change myself, but if someone wants to submit a pull request and it doesn't look like it's going to break loads of existing code, I'll be happy to review it.

[2015-10-11 14:59] jrdoane commented on #80
@MichaelBlume : Challenge accepted. :)
https://github.com/jkk/honeysql/pull/92

[2015-10-11 15:07] jrdoane commented on #80
Take 2: https://github.com/jkk/honeysql/pull/93

[2015-10-12 19:09] emidln commented on #84
Does this seem reasonable? (Let the cte be sequential, and if it is, the second memer is column names?

[code]

[2015-10-12 20:02] emidln commented on #84
For what it's worth, the second form almost works right now. If we just bind *subquery?* to false prior to calling to-sql on cte-name, we get the desired behavior.

[2015-10-18 18:07] #84 closed

[2015-10-18 22:05] jrdoane commented on #80
Now that this change is merged in, we probably can mark this as resolved. :+1:

[2015-10-19 16:48] avandras opened #97 "support for schema-qualified object names (for PostgreSQL)"
I've tried to find this functionality, without success.  It would be very nice to have the ability to build a query like

    SELECT interesting_column
    FROM other_schema.important_table;

[2015-10-19 17:08] ddellacosta commented on #97
It's totally do-able:

[code]

Is there another scenario where you're having trouble with this?

[2015-10-19 17:08] #97 closed

[2015-10-19 17:15] #79 closed

[2015-10-19 17:16] ddellacosta commented on #80
@pjstadig Look good from your perspective?

[2015-10-19 17:54] pjstadig commented on #80
:+1:

[2015-10-19 17:54] #80 closed

[2015-10-20 00:19] jrdoane opened #98 "Support for multiple vendor-specific features."
It seems to me that the issue of vendor specific support isn't going to go away. There are some developers that want to develop to the lowest common denominator for the best support across as many databases as possible, and others that want to utilize vendor specific functionality to take greater advantage of the tool you have available. The biggest issue is that both of these arguments are perfec

[2015-10-21 16:20] avandras commented on #97
Hm, that works, thanks.  What I could not figure out is the same for function calls, based on this:
[code]

[2015-10-21 18:07] piranha commented on #97
How about `(sql/call :other_schema.get_database_cluster_information)`?

[2015-10-21 19:53] ddellacosta commented on #97
Yeah, to follow on what @piranha is saying I'm not sure how to do it other than something like

[code]

If I think of a way to use the `%` shorthand I'll add it to this issue...

[2015-10-21 20:06] ddellacosta commented on #98
So I have to think about this some more, but @jrdoane, why do we need an "engine" parameter vs. simply a namespace that you would include, like `honeysql.format-postgresql` or the like?  Seems like all you need is a set of specific extensions which use built-ins like `honeysql.format/fn-handler`, `honeysql.format/format-clause` and the like.  But I could be wrong about that--are there any vendor-s

[2015-10-22 07:09] piranha commented on #97
I don't know, I prefer `sql/call` much more than `:%`, since then query starts to look like line noise, plus you can't pass more than one argument (and it needs to be a column!).

[2015-10-22 10:25] avandras commented on #97
@piranha that's neat!  I even agree that ```sql/call``` is a cleaner solution - I've just missed this in the readme.  Thanks, guys!

[2015-11-08 20:55] SevereOverfl0w opened #99 "Should (values) quote field names?"
Seeing something strange where that if the field names are strings, instead of keywords, they are quoted in the query, making the query invalid.

[2015-11-09 15:30] niquola opened #100 "Support for `returning` clause for insert & update"

[2015-11-10 18:00] ddellacosta commented on #99
Can you give us a concrete example of what you're talking about?

[2015-11-10 22:36] SevereOverfl0w commented on #99
Sure.

[code]

If I pass in:
[code]
the sql generated is different to that of
[code]

Is that expected behaviour?

[2015-11-22 21:53] bcambel commented on #10
+1 , 2 years and still valuable :)

[2015-11-22 23:53] jrdoane commented on #10
For what it's worth, I'm going to play devil's advocate here. They (sub-queries and aliasing,) don't really behave any differently separate than when you put them together. It just writes strangely which is why when I do this, I'm working with the map directly instead of using helper functions because it's not unrealistic that you'll want to re-use or alter certain stanzas.

I see the example abov

[2015-11-23 00:00] jrdoane commented on #99
I think I can clarify here, @ddellacosta. He's talking about using strings as indentifiers for fields not working properly, I have a more clear cut example:
[code]

Whereas, using keywords behaves as expected:
[code]

I'm not sure I would call this a bug though as I think there is an expectation that quoted field names will always be keywords or symbols in the query map.

[2015-11-25 21:14] bcambel opened #102 "Is there a way to generate intersect queries ?"
My assumption was that they would be very similar to union and union-all queries but I assume they're not implemented yet. Is that the case ?

Thanks, Bahadir

[2015-11-29 23:55] jakemcc commented on #102
@bcambel Just pulled out our extension to honeysql that adds intersect support and submitted a PR.

Pretty straight forward to extend in your own project though.

[code]

[2015-11-30 00:22] bcambel commented on #102
ah great, thanks @jakemcc!

[2015-11-30 00:22] #102 closed

[2015-12-05 17:13] icambron opened #104 "Array formatting error"
I'm having trouble creating an insert statement with an array and also other stuff.

[code]

Notice the extra `NULL` tacked onto the value list, which breaks things. I'll try to look into this a bit deeper when I have some time and see if I can suss out the issue.

[2015-12-05 18:14] MichaelBlume commented on #104
Strange, thanks for looking into it.

[2015-12-06 02:02] icambron commented on #104
User error. I shouldn't have been wrapping the array in brackets, which royally confuses the formatter. This works fine:

[code]

Sorry for the noise.

[2015-12-06 02:02] #104 closed

[2016-01-17 16:57] djwhitt opened #106 "Single, unaliased sql/raw seems to be broken in 0.6.2"
I looked through the commits between 0.6.1 and 0.6.2 and it wasn't obvious to me what would have broken it, but here's the behavior I'm seeing:

[code]

Adding another column or an alias fixes the problem:

[code]

[2016-01-25 17:34] ddellacosta commented on #100
Closing this since the corresponding PR is closed.

[2016-01-25 17:34] #100 closed

[2016-01-25 17:44] ddellacosta commented on #106
Looking into it.

[2016-01-25 22:43] tomconnors opened #107 "Invalid syntax for inserting from a union query"
Inserts that use a union end up with an extra pair of parenthesis (at least for mysql - unsure of how other dbs handle this).
[code]
The parens around the union are the problem. I'm not familiar enough with the codebase to know what the implications of this change would be, but a fix that worked for me is (in honeysql.format):

[code]
with that change, inserts w/ unions produce valid sql:
[code]
W

[2016-01-31 19:31] blinsay commented on #106
Also having this problem with `sql/call`.

[code]

thanks for looking into it!

[2016-02-09 16:42] MichaelBlume commented on #106
Found the offending commit, it's one of mine -- cb296e

On Sun, Jan 31, 2016, 11:31 AM Ben Linsay <notifications@github.com> wrote:

[2016-02-09 22:50] #106 closed

[2016-02-17 16:19] ddellacosta commented on #106
Thanks @MichaelBlume

[2016-02-24 02:14] csummers opened #109 "quoted identifiers should escape their quote character"
Quoted identifiers should allow the quoted character within identifier output.  This requires that the appropriate quote character be escaped per the type of `:quoting`.

So, this is what is currently happening:

[code]

and this is what should happen:

[code]

`:ansi` should replace `"` with `""`
`:mysql` should replace `backtick` with `double backtick` *
`:mssql` should replace `]` with `]]`

 \

[2016-02-24 13:26] csummers commented on #109
Created pull request #110 for this.

In the initial report I should have said `:sqlserver` instead of `:mssql`.  I also accounted for the `:oracle` quoting in the pull request.

This issue is potentially an SQL injection attack vector if identifiers are taken from user input and expect `quote-identifier` to do the right thing.

Thanks!

[2016-03-02 17:43] ddellacosta commented on #98
Ping @jkk and @MichaelBlume --this has been hanging out for a while and seems to impact a bunch of open PRs.  Any thoughts as to the various options discussed above?  I fundamentally would prefer to have vendor-specific libraries which you can include along with HoneySQL, vs. a vendor specific set of "engines" integrated into the main HoneySQL library.  Would like to hear some other ideas.

[2016-03-02 18:06] ddellacosta commented on #98
Related: https://github.com/jkk/honeysql/pull/86, https://github.com/jkk/honeysql/pull/96, https://github.com/jkk/honeysql/pull/81

[2016-03-13 01:34] MichaelBlume commented on #98
@ddellacosta I'm pretty much in agreement, and I think honeysql already has what it needs to support those libraries.

[2016-03-22 06:57] piranha opened #112 "Select distinct on is broken"
Issue #1 was closed because you can do `{:select [(sql/call :distinct-on :x) :y]}`, but that generates SQL which is not working in Postgres: `select distinct on (x), y`. Postgres complains that the comma is invalid syntax.

I wonder if it's still possible to do `DISTINCT ON` somehow.

[2016-04-14 17:56] jrdoane opened #115 "Unable to quote function calls"
In PostgreSQL, custom functions may be quoted and there are certain characters what require quoting in PostgreSQL (when there are hyphens, upper case letters, symbols, or spaces.) So it may not be unrealistic for me to want generate SQL that looks like this:
[code]

This is valid PostgreSQL SQL however, the quoting is required because of the existence of special characters (in this case, namely th

[2016-04-15 00:12] jrdoane commented on #98
While I do agree that third-party "plugin" libraries would be nice, my concern is more of a specific nature. It's really not hard to add vendor specific functionality to HoneySQL but, the question is, could you use multiple vendor specific features at the same time? That is, how do you handle the case where you might need to generate not just PostgreSQL but, TransactSQL or MySQL as well in the sam

[2016-04-25 09:22] niquola opened #117 "Any plans to add support for ClojureScript"

[2016-04-26 01:08] MichaelBlume commented on #117
I had a cljc fork working and passing tests in clojurescript at some point -- is there a need, do you think?

[2016-04-26 06:47] niquola commented on #117
:+1:

I need it in electron.io (nodejs) environment. Where could i find your fork? I could start from it.

[2016-04-26 08:19] MichaelBlume commented on #117
Good luck =)

https://github.com/MichaelBlume/honeysql/tree/cljc

On Mon, Apr 25, 2016 at 11:47 PM niquola <notifications@github.com> wrote:

[2016-04-26 21:38] MichaelBlume commented on #117
Do let me know how this goes =)

[2016-04-27 16:23] ddellacosta commented on #117
Also maybe relevant: https://github.com/jkk/honeysql/pull/105

I haven't commented on that one because I'm kind of stumped as to whether or not this should be supported or not.  Can see arguments going both ways, but in the end if enough people find it useful seems like it may be worth incorporating...?

[2016-04-29 12:49] niquola commented on #117
Thx, going to try :)

[2016-05-03 13:14] rachbowyer opened #118 "Lock support"
The main readme page gives an example of using locking as (lock {:mode :update}) but this does not work. Experimenting shows that (lock :mode :update) works instead. So it looks like there is a mistake in the documentation.

[2016-05-04 05:31] scottbessler opened #119 "issue with custom fn-handler"
using
[code]

I have built a custom fn-handler (mine is slightly different, but can repro with this):
[code]

But I am seeing odd behavior where my fn-handler appears to not get used when the function is part of an arithmetic operation, but works fine when part of a boolean operation. Am I missing something?

[code]

[2016-05-04 05:57] krish8664 commented on #119
You should be using the `honesql/call` method here,

[code]

This one works.

[2016-05-04 17:26] scottbessler commented on #119
Cool, that fixed it. Why does it sometimes work without the `honeysql/call` ?

[2016-05-04 17:26] #119 closed

[2016-05-04 18:37] krish8664 commented on #119
@scottbessler That is how `where` is implemented. In case of `or`,`and` & `xor` - it considers each of the argument to the operator as a predicate and formats these predicate, where as in the case of `+`, `-`, etc - it evaluates based on how the `fn-handler` has been defined for that operator.

Hope the explanation is clear, also check
- [`format-clause*`](https://github.com/jkk/honeysql/blob/mast

[2016-05-07 18:14] MichaelBlume commented on #118
Fixed, thanks =)

[2016-05-17 18:11] akhudek opened #121 "insert-into doesn't support NaN values (and other special values)"
The problem here is because numbers are simply converted with 'str' and thus the string 'NaN' is inserted verbatim into the insert value list. I'm still looking into this, but it appears that the jdbc insert! function handles NaN values just fine. My current guess is that 'insert!' just parameterizes everything.

Why does honeysql not parameterize numeric values? Are there performance consideratio

[2016-05-17 18:38] akhudek commented on #121
Ok, I've confirmed that switching to parameterized values for numbers fixes this class of error. For what it's worth, it also happens with Infinity and -Infinity.  I'll submit a PR.

[2016-05-19 20:59] camsaul commented on #58
You can just pass a `raw` argument as the `:offset`:

[code]

[2016-05-19 21:32] smahood commented on #58
Thanks @camsaul, that sounds perfect.

[2016-05-19 21:32] #58 closed

[2016-05-20 02:31] camsaul opened #123 "arglists metadata for helper functions is wrong"
This is not super-important but the `:arglists` for functions like `merge-left-join` are wrong, which causes linters like [Eastwood](https://github.com/jonase/eastwood) to fail because it assumes you're calling these functions with the wrong number of arguments.

The arglists make it seem like the functions can only be called with 2 args:

[code]

But in reality they can handle a variable number o

[2016-05-21 20:13] MichaelBlume commented on #123
Dang, that's no good, thanks for the report.

[2016-05-22 00:06] MichaelBlume commented on #123
@camsaul I've got a pull up, can you tell me if this works better for you?

[2016-05-26 20:26] mattly opened #125 "function call arguments and `if`"
so I'm trying to do `select sum(if(foo = 1, 1, 0)) as foo_count`, but it seems there's no sane way to represent this in honeysql without resorting to `sql/raw`: `(sql/call :sum (sql/call :if (sql/raw "foo = 1") 1 0))`. What I'd *like* to do (and what it seems like I should be able to do) for the `if` call is `(sql/call :if [:= :foo 1] 1 0)` but that formats into `if((=, :foo, 1), 1, 0)`. Is there

[2016-05-27 15:23] ddellacosta commented on #125
@mattly I'm having trouble figuring out if `if` or variations of are supported in ANSI SQL, so it may or may not be a candidate for inclusion as a patch.

Otherwise, this seems like a prime candidate for adding your own helper by adding (def)methods via fn-handler/format-clause.  You may want to take a look at the code in https://github.com/jkk/honeysql/blob/master/src/honeysql/format.clj for exam

[2016-05-27 15:26] ddellacosta commented on #58
FWIW if this is ANSI SQL don't think it's a bad idea to support it...any interest in providing a patch w/tests @smahood?

[2016-05-27 16:35] smahood commented on #58
@ddellacosta I don't have the time right now, I've moved away from honeysql in my production sites and the solution above solves the problem well enough for any of my other uses.

[2016-05-29 06:42] ddellacosta commented on #58
@smahood totally understood!

[2016-05-29 19:17] caleb opened #126 "`sset` with only one arg builds a value clause"
I'm not sure if this is correct, but I'm using honesql to generate SQL snippets and I noticed something strange.

When I call `sset` with one argument (my values map), I get a `:values` clause back instead of a `:set` clause.

[code]

Here is the code from the `sset` function:

[code]

Am I missing something?

-Caleb

[2016-06-15 15:33] theronic opened #127 "Prefix column names from joined tables to avoid ambiguity"
When you join two tables both with id columns, you'll get an "ambiguous column" error. But if you alias each table, the joined tables id column will be swallowed by any subsequent columns specified, which is quite unexpected and order-dependent.

How can HoneySQL return prefixed keywords for each aliased table, so that I don't manually have to specify each column I'm looking for?

E.g.

[code]

Wh

[2016-06-16 01:44] ebahsini opened #128 "implementing truncate http://dev.mysql.com/doc/refman/5.7/en/truncate-table.html"
Hey,

Just leaving myself @ebahsini a note to give this a shot when I have time:
http://dev.mysql.com/doc/refman/5.7/en/truncate-table.html

@jkk unless you see an obvious reason why that's a bad idea! 👍

[2016-06-17 12:07] jrdoane commented on #128
I wouldn't mind seeing this either. PostgreSQL is exactly the same. More functionality but, the lowest common denominator is merely ```TRUNCATE [TABLE] table_name```. It also appears that Oracle and MSSQL also support this same common denominator. I think that the widespread support is all the reason that should be needed to add it. :+1:

https://www.postgresql.org/docs/9.3/static/sql-truncate.htm

[2016-06-21 20:35] csummers commented on #109
Looks like this rolled with 0.7.0, so closing.  Thanks!

[2016-06-21 20:35] #109 closed

[2016-06-24 21:33] jrdoane commented on #127
This would need to handled with whatever you're using for a database connection, wouldn't it? HoneySQL doesn't know the names of the fields of the tables you're referencing when you do something like ```:l.*``` so, it's not realistic to expect HoneySQL to be able to figure that out. At least in PostgreSQL, if you have a SELECT with multiple fields with the same name, it will return multiple fields

[2016-06-29 18:26] ddellacosta commented on #128
The goal here is to standardize as much as possible on the ANSI standard, OR make sure you can add these kinds of things yourself without a ton of trouble.  In general HoneySQL makes it easy to add helpers so I don't think there's a super pressing need for this kind of stuff, but considering that this seems to be part of the (SQL:2008 standard)[https://en.wikipedia.org/wiki/Truncate_%28SQL%29] thi

[2016-07-07 10:34] pate opened #129 "How to compose joins?"
How can I compose a join without overriding the previous join?

[code]

[2016-07-07 10:50] pate commented on #129
Figured out I can do this:

[code]

Is this recommended practice?

[2016-07-08 19:15] rnewman commented on #117
Any news on this, @niquola or @MichaelBlume?

[2016-07-08 22:41] rnewman commented on #117
I rebased @MichaelBlume's work onto current master, and I'm taking a look at why `lein test` fails.

https://github.com/rnewman/honeysql/tree/rnewman/rebase

[2016-07-09 14:21] jrdoane opened #131 "Using fields with forward slashes chops off namespace."
Since we're living in the Clojure world, it might not be unrealistic that we would want fields in the database to look and feel like idiomatic names we might see in Clojure.

Lets say I had a database where I had a table called `system.tables` that contains keys that look like `schema/oid`, `table/oid`,  `tablespace/oid`, `user/oid`, `user/name`, `schema/name`, `table/name` and, `tablespace/name`.

[2016-07-09 15:57] jrdoane commented on #129
I don't tend to use the helper functions directly. The query itself really is only a map that looks something like this with what you're doing:
[code]

You can concat JOINs and SELECT together but, extra thought would need to be put into merging where conditions since you would need to know if the two statements need to logically reduced to a single boolean value with an "OR" or an "AND" if there

[2016-07-10 15:28] ddellacosta commented on #129
@pate I would have written something like what jrdoane wrote--basically, treating HoneySQL query maps as Clojure data structures gives you the ultimate flexibility and is probably the most idiomatic approach.

Going to close this one since I think your question was answered, but let me know if not.

[2016-07-10 15:28] #129 closed

[2016-07-10 15:30] ddellacosta commented on #127
@pate do you feel jrdoane addressed this? I agree that this is a pain point but also agree with jrdoane that it's not really HoneySQL's purview.

[2016-07-10 15:42] ddellacosta commented on #126
Don't think you're missing anything.  I'm guessing this is simply an oversight because of how infrequently one may use `sset` in the manner you are using it.  The generally assumption is that you'd be passing the helper your map as the first argument, like

[code]

I'm not sure there's a ton of value in fixing this--I'm more curious why there's a single arity version anyways...but I suppose a simp

[2016-07-10 15:42] #126 closed

[2016-07-10 15:44] #125 closed

[2016-07-10 15:44] #118 closed

[2016-07-10 15:44] #121 closed

[2016-07-19 02:14] emidln opened #134 "[feature request] set clause doesn't handle expressions as values"
`{:set {:total [:+ :total 1]}}` turns into `["SET count = + count"]` instead of `["SET count = (count + ?)" 1]`. As quick test, replacing the `to-sql` call on the value inside the `for` for the `:set` `format-clause` with the same `format-predicate*` that `:update` uses produces correct code on the sample, but probably has other unintended side effects.

A couple test cases:

[code]

It seems that

[2016-07-19 03:10] emidln opened #135 "where clause doesn't support nested expressions"
It seems llike this should work:

[code]

Except that we don't  really nest function calls (we use `to-sql`). In an effort to also address  #134 we could attempt to detect if arrays have more than 2 values, and if they do, treat them as function calls. As is, the best we seem to be able to do is something like:

[code]

which seems inconsistent with the brevity afford the top-level expressions in

[2016-08-01 08:19] TangJiong opened #136 "Unable to use SQL Arithmetic Operators in select component"
`(h/select :DataTime [(sql/call :round (/ (sql/call :sum :Hotavg) 1000)  0) :Hotavg])`
I have such a code segment to divide the result by 1000 and get the int part, but it doesn't work. I get error `honeysql.types.SqlCall cannot be cast to java.lang.Number`. Is there any way to  use SQL Arithmetic Operators in select component

[2016-08-05 02:55] #117 closed

[2016-08-05 18:07] MichaelBlume commented on #117
I'm going to release this as 0.8.0 -- HoneySQL now requires Clojure 1.7.0 or above.

[2016-08-18 01:25] MichaelBlume opened #137 "Typed Honeysql"
Would people find type annotations (with Typed Clojure) useful?

[2016-08-19 12:19] 7even commented on #136
@TangJiong seems like this is what you need:

[code]

[2016-08-24 10:58] madvas opened #138 "Unable to order by in UNION query"
Let's say we have honeysql query like this

[code]

It compiles into

[code]

But actually in order to ORDER BY working correctly by combining both queries it has to be out of parenthesis. Like:

[code]

How to achieve this in honeysql?

[2016-08-25 03:45] rnewman commented on #98
I think I just ran into another aspect. The code has:

[code]

Well, it seems like sqlite requires an `AS` where it isn't documented to require one: in a subquery `:from` with an alias. If I'm right (and I've sent an email to the sqlite mailing list to check), then this is a spot where Oracle requires one behavior and sqlite requires another, and there's no compromise.

That implies either hacking

[2016-08-25 15:29] rnewman commented on #98
Update: my bad; sqlite does not require `AS` unless the subquery alias is ambiguous. No conflict, then, just a preference!

[2016-09-02 09:30] mmower opened #139 "Possible bug generating SQL using the columns helper (lack of separator for MySQL)"
Hi

I had some code that looked like this:

[code]

which was generating a statement like:

`["INSERT INTO`customer-segments`(`name` `exemplars`) VALUES (?, ?)" "Foo" "Bar"]`

(note the lack of a "," between name and exemplars)

you might wonder why I'd done that but I only remembered about values taking a map after I started trying to figure out why this was generating invalid SQL. Switching to:

[2016-09-10 21:59] MichaelBlume commented on #139
It looks like the columns helper does the right thing if you pass the
columns as varargs rather than as a single seq argument. Wonder if we
should make it behave correctly when called with a list or if this would
break something else.

On Fri, Sep 2, 2016 at 2:30 AM Matt Mower <notifications@github.com> wrote:

[2016-09-14 02:25] seancorfield commented on #138
You'd need:
[code]
(because you want the `ORDER BY` on the whole query, not just the second subquery).

However, there seems to be a bug with `UNION` and `ORDER BY` that I just ran into where this generates the `ORDER BY` (and any `LIMIT` etc) at the start of the formatted query, rather than at the end.

[2016-09-14 03:05] seancorfield commented on #138
PR #140 submitted to address the bug I highlighted above.

[2016-10-12 02:08] rnewman opened #141 "UNION clauses are parenthesized, which is not supported by SQLite"
[code]

fails: instead, honeysql produces

[code]

This doesn't work with sqlite, and some opinions are that this is invalid SQL (though it works with MySQL) — I haven't read the standard myself.

See this bite others:

http://stackoverflow.com/questions/4653124/what-does-the-sql-standard-say-about-parentheses-in-sql-union-except-intersect-s#4653180
https://github.com/yiisoft/yii2/issues/9790
http

[2016-10-12 16:27] rnewman commented on #138
See also #142, which removes the non-standard parentheses from `UNION` and `INTERSECT`, which I suspect will also fix this problem!

For the benefit of folks ending up here through searches — the correct standard way of doing `ORDER BY` in the various parts of a `UNION` is through subqueries:

[code]

which in honeysql is:

[code]

There's a test for that in #142.

[2016-10-12 16:39] rnewman commented on #137
Personally, no.

[2016-11-06 07:57] #141 closed

[2016-11-24 22:15] snoe opened #144 ":values can be formatted out of order when using a vector of maps"
https://github.com/jkk/honeysql/blob/d07a1a376467c2a05266553d017ec09a97b83ee5/src/honeysql/format.cljc#L531-L534

there's an incorrect assumption in the code here that `(first (keys values))` will return keys in the same order for every call of `(for [x values] (vals x))`

I don't have time for a pr but the code I used to work around this is in my user code is something like:

[code]

[2016-12-02 22:09] johnmcconnell opened #145 "Support for Query Optimizer Hints"
This might be solvable with an extension.

A SQL query hint (for oracle looks something like).

[code]

[2016-12-05 22:36] MichaelBlume commented on #144
Sorry, can you give a simple reproducing test case?

[2016-12-09 17:49] snoe commented on #144
@MichaelBlume this probably differs based on machine/jvm but notice that the second set of values is backwards.

[code]

[2016-12-15 19:00] snoe opened #146 "2.0 Discuss support for clojure.spec"
I'm raising an issue to discuss the possibility of adding clojure.spec to the project; with a possible goal of a full specification for the input map to `honeysql.core/format`.

I haven't used spec myself yet but as I look at I see benefits to honeysql users and I see an implementation dividing into two parts (which I think is possible). I don't know if it should be part of this project itself or

[2016-12-15 22:24] MichaelBlume commented on #146
I think a separate project, or at least a separate namespace, would be ideal, since clojure.spec hasn't even landed in an official release yet, and even once it does we might not want to immediately make honeysql dependent on it.

[2016-12-16 05:32] acthp opened #147 "Could not locate honeysql/core__init.class or honeysql/core.clj on classpath"
Getting this error when trying to build, with 0.8, lein and clojure 1.6. Using 0.7 works.

[2016-12-17 07:56] MichaelBlume commented on #147
Yep, honeysql was made usable from both Clojure and Clojurescript, with the
loss of Clojure 1.6 support. you should either downgrade to honeysql 0.7 or
upgrade to Clojure 1.7/1.8

On Thu, Dec 15, 2016 at 9:32 PM acthp <notifications@github.com> wrote:

[2016-12-20 06:22] MichaelBlume commented on #145
I don't have the bandwidth to work on this, but will be happy to review a pull request (with tests)

[2016-12-20 06:53] johnmcconnell commented on #145
I understand. I'll see if I have bandwidth also!

[2016-12-24 16:28] jrdoane commented on #146
@MichaelBlume, how about just for the ```:dev``` profile in the project.clj for starters? I think there is a benefit to be had when defining specs for dev and testing without impacting the rest of the library. That lets you get started with it but, doesn't force the entire library to depend on it.

For testing purposes, spec'ing out that input map would be an excellent idea. It also opens the poss

[2017-01-20 18:23] WorldsEndless opened #148 "Readme missing actual connection to RDBMS"
Obviously a newbie problem here, but while the Readme discusses production of SQL statements, it doesn't have anything about actually using Honey with a running MySQL, PostGres, or other DB.

[2017-01-31 17:21] caleb commented on #126
Okay, I admit it is a bit strange, but the README says:

[code]

I actually forget why I was composing in this order before, but it seemed like it should work :) It's not a big deal, but I think it would be nice to fix this.

[2017-03-10 00:42] mikeThurmond opened #152 "join a table on multiple join conditions"
so in this query

what if I wanted to join draq on f.b = draq.x as well as f.s = draq.sid, how would I write that?

    {:select [:f.* :b.baz :c.quux [:b.bla "bla-bla"]]
        :modifiers [:distinct]
        :from [[:foo :f] [:baz :b]]
        :join [:draq [:= :f.b :draq.x]]
    }

I have tried

      :join [:draq (and [:= :f.b :draq.x] [:= :f.s :draq.sid])]

and

        :join [:draq [[:= :f.b :

[2017-03-10 00:57] #152 closed

[2017-03-10 00:58] mikeThurmond commented on #152
:join [:draq [:and [:= :f.b :draq.x] [:= :f.s :draq.sid]]]

[2017-03-21 17:18] psalaberria002 commented on #123
I still get the same error in Eastwood.

{:linter :wrong-arity,
 :msg
 "Function on var #'honeysql.helpers/join called with 3 args, but it is only known to take one of the following args: [clauses]  [m clauses]"}

This is how I am calling h/join:
(h/join :b [:= :a.b_id :b.id])

(:arglists (meta #'honeysql.helpers/join)) -> ([clauses] [m clauses])

[2017-03-22 18:45] tomconnors opened #153 "Array maps not supported?"
When maps are clojure.lang.PersistentArrayMaps instead of clojure.lang.PersistentHashMaps, the parameter list can come out in the wrong order. Here's an example:

[code]

[2017-03-24 07:18] #153 closed

[2017-03-24 19:49] RyanBertrand opened #155 "sset for JSON column [Postgres]"
Hey everyone,

I am trying to update a column which is of type json.

[code]

[code]

Returns:
["UPDATE \"my_table\" SET \"json_col_name\" = () WHERE \"id\" = ?" 1]

It seems that the JSON (hash-map) just gets wiped out.  Is this a bug or works as expected?

Thanks,
Ryan

[2017-03-24 23:26] jrdoane commented on #155
HoneySQL has no way of knowing which database the query is going to be executed against as most options relate to how certain things are done, like quoting and such. I've gone down this road before and I think it's safe to say that for things like this, using clojure.java.jdbc directly. I've successfully does this for the json field and for a custom "edn" data type that uses nippy to serialize and

[2017-03-24 23:58] RyanBertrand commented on #155
Ah okay makes sense - thanks for your response.

[2017-03-24 23:58] #155 closed

[2017-03-26 20:20] MichaelBlume commented on #123
I'm a little confused, it looks like you're calling join with two arguments, but eastwood thinks you're calling it with three -- the metadata actually does match the way you're calling it

[2017-03-30 19:03] psalaberria002 commented on #123
Sorry for the poor example. I was missing the detail about having the join inside a thread first.

(-> (h/select :*)
      (h/from :x)
      (h/join :y [:= :y.b :x.a]))

[2017-04-01 23:21] MichaelBlume commented on #123
aha

[2017-04-01 23:42] MichaelBlume commented on #123
I think that should fix it? I have

```(:arglists (meta #'honeysql.helpers/join)) -> ([& clauses] [m & clauses])```

[2017-04-01 23:50] MichaelBlume commented on #123
I suspect that running Eastwood over our test cases would have caught this, but the latest release of Eastwood still seems to ignore .cljc files, so it looks like we're not going to get any help there =(

[2017-04-06 04:15] MichaelBlume commented on #123
It does look like Eastwood's making progress on this issue: https://github.com/jonase/eastwood/issues/179

[2017-04-09 14:43] vincent-dm commented on #144
I also got bitten by this. I am trying to insert an array of maps, but their keys are not in the same order and get placed in the wrong order in the generated SQL bindings.

[2017-04-11 00:51] MichaelBlume commented on #144
This looks like it was fixed in #154

[2017-04-11 00:52] MichaelBlume commented on #144
(Which has not been released yet, but is in master)

[2017-04-11 00:52] #144 closed

[2017-04-12 17:14] molsder commented on #155
I got around this by setting the value using raw sql:

`(defn- jset [m field value]
  (if (some? value)
    (assoc-in m [:set field] (sql/raw "?::json"))
    m))`

After the sset call, I call jset for the json column, then providing a JSON string representation as a parameter.

[2017-04-15 12:08] matanster opened #157 "update already refers to: #'clojure.core/update"
Is it possible that following the readme's suggestion
[code]
might actually override clojure.core's `update`?

I use:
[code]

Inside my namespace definition.
I see this has already been addressed by #41, so I wonder what I might be missing.

[2017-04-15 12:12] matanster commented on #148
@WorldsEndless I think you are generally right.

The simple solution is to understand, or for the readme to say in case it does not, that the result of `sql/format` is just the query to supply on your jdbc api. Honey is really only the parallel of a query builder, but I agree the readme could avoid this being somewhat ambiguous.

[2017-04-15 12:24] matanster commented on #148
As an example, if you use clojure's hikari-cp wrapper, which entails these dependencies
[code]
then to execute against a database, you e.g. supply a single-element vector `sql-statement` built by honeysql, like so
[code]
after having initialized a hickari `datasource`.

[2017-04-15 12:40] matanster opened #158 "further clarifying the DSL"
It looks like we can omit `sqlmap` when threading clauses, which is nice but also confusing when reading the readme. Or at least it seems to work.

[2017-04-18 19:55] DanBurton opened #159 "Extending honeysql with json operators"
My team is developing an app that constructs queries somewhat dynamically. Honeysql seems like a great fit, but doesn't have out-of-the-box support for json operators.

https://www.postgresql.org/docs/9.6/static/functions-json.html

If we work on this, would you be interested in having us submit a PR to honeysql? Or do you think this might be better suited for honeysql-postgres? (cc @nilenso)

[2017-04-25 04:41] AlJohri commented on #159
This would be really helpful. I'm relying on the `->` operator quite a bit.

[2017-04-25 13:02] vincent-dm commented on #144
@MichaelBlume any idea when the fix will be released? Our workaround really messes up the codebase as-is... Thanks!

[2017-04-25 21:20] fdhenard opened #160 "Unable to do multiple inner joins"
or I'm just not figuring it out.  Here's what I tried

[code]
Here's the output:
`["SELECT qo.text AS qo_text, q.text AS q_text, qs.text AS qs_text FROM question_option qo INNER JOIN question q ON qo.question_id = q.id"]`

Notice it's only catching the first join.

[2017-04-26 04:06] AlJohri commented on #159
I'm currently using `sql/raw` to achieve this.

[code]

This resulting sql would be:
[code]

Would love to see native support.

[2017-05-10 16:46] #123 closed

[2017-05-10 20:24] MichaelBlume commented on #157
Yeah, you'll want to add ```(:refer-clojure :exclude [update])``` to your own ns declaration in order to prevent this. By default any Clojure namespace has a bunch of Clojure core functions imported into it, and update is one of them.

[2017-05-10 20:24] #157 closed

[2017-05-10 20:26] MichaelBlume commented on #144
I'll try to have a release out today or tomorrow

[2017-05-10 22:46] MichaelBlume opened #161 "CLJS tests do not run in Travis"
Right now we only automatically run tests in Clojure, not Clojurescript. It'd be nice to fix this. I'm not very familiar with the cljs ecosystem, so the Right Thing is not immediately obvious to me.

[2017-05-10 22:47] MichaelBlume commented on #161
@rnewman would you be willing to check and see if this is something you can get working? If not, no worries.

[2017-05-11 10:43] rnewman commented on #161
Sorry, @MichaelBlume; I'm not currently doing any ClojureScript work.

[2017-05-21 04:46] #148 closed

[2017-05-22 16:05] MichaelBlume commented on #123
I've now added an eastwood run to our travis build. Have checked, and it would have caught this.

[2017-05-23 22:26] cogwheel opened #162 "Support composite type values"
I'm using a postgresql composite type with a table like:

[code]
Inserting into this table would look like this in SQL:

[code]

I would like to be able to do something like this in honeysql:

[code]
or

[code]
Currently these format as
[code]
Desired output would be
[code]
Assuming parameters can nest... it may have to be something like this:
[code]

[2017-06-15 23:23] jeaye opened #164 "The new WITH helper doesn't work with multiple ctes"
Given:

[code]

HoneySQL formats:

[code]

Note that there's supposed to be a comma-separate list. It looks like [the source](https://github.com/jkk/honeysql/blob/master/src/honeysql/format.cljc#L573) is trying to do that, but I'm not sure why it's not working.

The expected SQL would be more like:

[code]

[2017-06-15 23:41] jeaye commented on #164
This is my fault, since I misread the source. `with` expects one or more pairs and implicitly wraps them in a vector. This works:

[code]

Since this is still in `0.9.0-beta2`, I'm sure it'll be more documented before the stable release. Sorry for the noise!

[2017-06-15 23:41] #164 closed

[2017-06-19 19:33] emidln commented on #155
The value is being interpreted as a sub-query since it's a map. To avoid this, wrap the dict `honeysql.format/value` and extend `clojure.java.jdbc/ISQLValue` for `clojure.lang.IPersistentMap`  ala:

[code]

[2017-06-21 00:59] emidln commented on #159
This seems like something better suited to honeysql-postgres. In my codebase, we have several `(defmethod honeysql.format/fn-handler ....)` implementations for things like json-eq and json-exists. We tend to use them like so:

`(sql/where [:json-eq :some-json-field :my-key some-value])`

[2017-06-27 20:09] emidln opened #165 "UNION/UNION-ALL priority too high compared to WITH"
https://github.com/jkk/honeysql/commit/6a0eacdd5fc301055b0e18be31a034c7304ea0a1 breaks a CTE used to feed data into queries that are UNION'd. This test case is a little nonsensical given that the UNIONs don't actually use the data provided by the CTE, but this is a simplified example of a query I have that now breaks having upgraded from 0.8.1 to 0.8.2.

[code]

I think if we prioritized WITH such

[2017-06-28 02:17] MichaelBlume commented on #165
I'm feeling a bit out of my depth. @seancorfield, care to weigh in?

[2017-06-28 02:20] seancorfield commented on #165
Yeah, I don't use CTE's myself but I follow @emidln's reasoning and since the associated PR #166 only affects the interaction of `with`/`union` I think it's the right thing to do.

[2017-06-28 02:25] seancorfield commented on #165
To expand on that a bit... I originally introduced the specific priorities for `union` in 0.8.1 via a PR since they mostly did the wrong thing. Then in 0.8.2 there was another PR to correct a bug I hadn't noticed (but, ironically, ran into later!) with parentheses and `union`. Those two changes weren't tested widely enough so the fix in 0.8.2 broke yet another case (above) that really only worked

[2017-06-28 03:01] MichaelBlume commented on #165
Thanks, I'll merge the PR =)

[2017-06-28 03:01] #165 closed

[2017-06-28 03:37] MichaelBlume commented on #165
This is now fixed in 0.9.0. Thanks =)

[2017-06-28 16:22] MichaelBlume opened #167 "Support bootstrapped ClojureScript environments"
Currently runtimes like Planck don't work. See https://github.com/nathanmarz/specter/issues/72

[2017-07-04 12:34] jetmind opened #168 "0.9.0 fails to format some queries which worked on 0.8.2"
Changes in `0.9.0` regarding sequences acting as function invocation in value position are breaking some queries which worked in `0.8.2`.

For example, you can write a query with tuples like this:

[code]

This works on `0.8.2` but fails on `0.9.0` with `java.lang.ClassCastException` (trying to evaluate `(name 1)`.

It would be great if backward compatibility was preserved.

[2017-07-04 23:13] MichaelBlume commented on #168
Looks like this was introduced in #149 -- @joodie could you help take a look at this?

[2017-07-05 00:18] MichaelBlume commented on #168
Ok, it looks a little like we're really overloading what vectors are doing within a query. I'm not really sure there's a way to fully accomodate both desired uses, and I'm worried that if we try we'll wind up with people spending too much time trying to guess what the system's going to do. Can we rethink this?

[2017-07-08 20:22] jetmind commented on #168
I'd say it should be at least reported as a breaking change in the changelog for now.

[2017-07-09 03:05] MichaelBlume commented on #168
I'm inclined to just revert #149 but I'll update the changelog first.

[2017-07-12 13:22] joodie commented on #168
Sorry for taking so long to respond - I was on holiday. @MichaelBlume I definitely agree that we're doing too much with plain vectors. I had a hard time coming up with a change in #149 that did not *appear* to break anything.

There should be a better (and probably more explicit) way of handling what vectors currently do, which would probably be a big breaking change. I'm not sure what it should l

[2017-07-18 18:10] seancorfield opened #171 "Indicate a value should be inlined, not lifted as a parameter"
There are times when you want to tell HoneySQL that a value should _not_ be turned into a parameter but should instead be inlined. Right now you can get around this by using a keyword value but `:80` is a hack at best. HoneySQL should have a well-defined way to indicate a value should be inlined.

[2017-07-18 19:50] #171 closed

[2017-07-18 20:51] MichaelBlume opened #173 "README examples should run as tests"
there's lots of code in the README and we don't actually know if it all produces the same results quoted there. It'd be nice to get it hooked into our testing process so if any of our README examples change, we know that.

[2017-07-18 20:53] MichaelBlume commented on #173
Like, I think we could literally, at runtime, extract the backtick-quoted segments from the README and eval them.

[2017-07-18 21:58] MichaelBlume commented on #168
This should've been fixed by #169 -- in fact I stole your test case

[2017-07-19 08:11] jetmind commented on #168
Any estimate on when it will be released?

[2017-07-19 17:24] MichaelBlume commented on #168
Probably today, will be 0.10.0

[2017-07-24 06:58] jetmind commented on #168
Is there anything I can do to speed this up? :)

[2017-08-01 15:54] MichaelBlume commented on #168
Hey, I'm really sorry for my silence on this issue. There was a discussion [on Slack](https://clojurians.slack.com/messages/C66EM8D5H)/[on the mailing list](https://groups.google.com/forum/#!forum/honeysql) and the upshot was that given the way the features are used/level of vendor support/etc. it may make sense to declare #149 to be a breaking change that we're keeping. If you think that's the wr

[2017-08-02 09:41] erez-rabih opened #176 "When using against PostgreSQL what is the best way to insert/update JSON columns?"

[2017-08-07 05:56] seancorfield commented on #173
midje-readme -- that's what we use on clj-time.

[2017-08-07 23:49] MichaelBlume commented on #173
@seancorfield Yep! I took your suggestion from Slack and ran with it =) https://github.com/jkk/honeysql/pull/175/files

[2017-08-07 23:49] #173 closed

[2017-08-09 21:54] seancorfield commented on #173
Very nice!

[2017-08-10 12:31] yatesco opened #177 "Passing in a custom `defrecord` as a param results in `()`"
I have a `defrecord MyCustomType` which returns a `java.sql.Timestamp` through extending `clojure.java.jdbc/ISQLValue`.

The following `(jdbc/query db ["select count(0) from some_table where some_column>?" (MyCustomType. ...)])` works but `(hsql/format {:where [:> :some_column (MyCustomType. ...)]})` returns `"WHERE some_column < ()"`

My assumption was that parameters were passed straight through

[2017-08-14 08:37] AndreaCrotti opened #178 "Documentation issue with execute!"
I believe this example in the README:

`(jdbc/execute! conn (sql/format sqlmap))`

is not actually correct, because execute! does not support selects apparently.
From the docs
`Given a database connection and a vector containing SQL (or PreparedStatement)
  followed by optional parameters, perform a general (non-select) SQL operation.`
And it gives an error anyway.

I believe `jdbc/query` would be

[2017-08-21 05:32] MichaelBlume commented on #177
So we could have honeysql check whether an object `satisfies?` that protocol, though we'd have to make that check conditional on whether the jdbc lib appears to be present at all

[2017-08-21 05:43] MichaelBlume commented on #178
Ha, the one statement in the README that isn't under test

[2017-08-21 05:44] #178 closed

[2017-08-21 08:08] yatesco commented on #177
I found implementing the [`honeysql.format/ToSql`](https://github.com/jkk/honeysql/blob/a707222d53ebe512ef47b6d771901cd9d75c4cc0/src/honeysql/format.cljc#L94) protocol works for now.

Is that protocol a stable extension point?

[2017-08-21 15:57] MichaelBlume commented on #177
Yes, definitely

On Mon, Aug 21, 2017, 1:08 AM Colin Yates <notifications@github.com> wrote:

[2017-08-22 18:00] yatesco commented on #177
Issued a PR which updates the front page.

[2017-08-22 18:00] #177 closed

[2017-08-25 08:52] jetmind commented on #168
After reading all the arguments I think keeping #149 is the way to go even though it means some additional work for me rewriting some queries. In my experience tuples use are much rarer than function application, so having consistent function application behavior makes more sense for the library.

[2017-08-25 08:52] #168 closed

[2017-08-26 18:56] MichaelBlume commented on #168
Cool, sorry for the flip-flopping

[2017-08-28 00:46] emidln commented on #177
I'm late here (as usual), but I was under the impression this was already solved more generically via `honeysql.format/Value` and its constructor `honeysql.format/value`.

```(hsql/format {:where [:> :some_column (honeysql.format/value (MyCustomType. ...)]})``` would then return ```"WHERE some_column < ?"``` and defer to the underlying (JDBC) implementation for converting MyCustomType. This is muc

[2017-08-28 07:52] yatesco commented on #177
Hi @emidln. I think I will always argue for extending a protocol once rather than calling `honeysql.format/value` everywhere. Same for extending `ISQLValue` for date/times rather than the more painful `(java.sql.Timestamp. (.getTime....))`.

If it was Christmas :-) then  `honeysql` should remove the need to do anything special and pass unrecognised things to `clojure.java.jdbc`, or at the very lea

[2017-08-28 14:47] emidln commented on #177
The issue is when our custom type is a record or something else map-like or array-like. The way HoneySQL handles maps is to treat them as an embedded HoneySQL map resulting in a subquery. I don't think it's reasonable to require that a HoneySQL query map be a certain type (perhaps spec/schema could help here by enforcing structure in the future) or not be a certain type.

Further, when we consider

[2017-08-28 15:04] emidln commented on #176
I do this:

[code]

This makes is so that when you send a map to the clojure.java.jdbc layer it is presented as a jsonb value to Postgres. Also, when you read a json/jsonb you get back the equivalent clojure map/array.

Armed with this you can insert some JSON into the database:

`(clojure.java.jdbc/execute! my-db ["insert into foo (json-col) values (?)" {:this :is :a "json" "object" 0}])`

Now fr

[2017-08-29 11:29] erez-rabih commented on #176
Thanks for the tips @emidln I appreciate it
I really think that this know-how should be a part of the library documentation taking into account that working with JSON object and PSQL is a pretty common use case.

[2017-09-04 08:39] yatesco commented on #177
Would it be reasonable then for HoneySQL to assume anything _other_ than
a non-record map should be passed through untouched?
How likely is it for people to wrap a 'HoneySQL' map in a defrecord? I
can't imagine it very likely...

--
  Colin Yates
  colin@colinyates.co.uk

On Mon, 28 Aug 2017, at 03:47 PM, Brandon Adams wrote:

Links:

  1. https://github.com/jkk/honeysql/issues/177#issuecomment-32

[2017-09-05 13:36] emidln commented on #177
I'm unsure how much this is actually used in the wild. I personally
wouldn't have a problem with requiring the clauses to be `(and (map? x)
(not (record? x))`, but this would be a breaking change (and further
considered by the community).

An alternate way to maintain compatibility would be documenting the way to
opt out of formatting for your custom types. The internal Value provides
the example:

[2017-09-07 20:04] MichaelBlume commented on #177
What do you think of doing something like this https://github.com/jkk/honeysql/compare/master...MichaelBlume:unwrap-jdbc?expand=1#diff-c131aed806e733e9b69514f8243ab824

so that ISQLValues Just Work?

[2017-09-07 20:11] yatesco commented on #177
That works for me.

[2017-09-07 20:12] MichaelBlume commented on #177
Unfortunately it would break ToSQL as an integration point when I just said that was fine, but we could bump the version and call it out in CHANGES

[2017-09-16 10:00] raspasov opened #182 "Question: Parse a SQL string into HoneySQL?"
First things first: This library is the best thing that ever happened to SQL! Great work! :)

Use case: Different software gives you SQL queries as a string after, let's say, you built up a filter in the UI - either join or a complex WHERE clause. Sometimes it's useful and time-saving to be able to turn that string into a HoneySQL data structure instead of re-typing it all! I believe "parsing" wou

[2017-09-22 19:14] cogwheel commented on #146
Adding some support for this. We're using spec throughout our entire stack (Clojure backend, ClojureScript app), especially at the transit level. We've got instrumentation checking arg & ret specs at pretty much every level using some custom defn-like macros to minimize boilerplate. The performance impact has been minimal and the instrumentation can be disabled on an as-needed basis (we're plannin

[2017-09-30 18:45] MichaelBlume commented on #182
This sounds pretty hard but also really useful. If people want to take it on, I'd be excited to merge it.

[2017-10-08 00:37] MichaelBlume commented on #146
I don't have the bandwidth to drive this, but I'd be happy to take pull requests. If you plan to work on this and want to run an approach by me before you get started, I'd also be happy to look at that.

[2017-10-10 14:39] thedavidmeister opened #183 "how to do IGNORE for insert-into?"

[2017-10-30 09:11] zerg000000 opened #184 "Subquery Aliasing"
The subquery table alias is wrongly identified as function. Could it be fixed?

[code]

[2017-10-31 04:07] arichiardi commented on #167
This would be awesome, any plan for having it in? I might actually see if I can do it myself soon.

[2017-10-31 21:30] arichiardi commented on #167
I am looking this with good results, PR coming :smile:

[2017-11-07 05:57] #167 closed

[2017-11-13 14:11] vincent-dm opened #188 "Add support for JOIN ... USING (...) syntax"
The [SQL '92 standard](https://www.contrib.andrew.cmu.edu/~shadow/sql/sql1992.txt) describes the succinct `USING`-syntax to express a join on one or more columns that are named identically in both tables.

The syntax is:
[code]
This syntax is supported by many databases, including [PostgreSQL](https://www.postgresql.org/docs/10/static/queries-table-expressions.html), [Oracle](https://docs.oracle.c

[2017-11-16 00:21] kenfehling opened #190 "ORDER BY appears before INTERSECT"
While UNION works properly, when using INTERSECT the ORDER BY appears at the very beginning of the query which makes it invalid.

[2017-11-16 00:22] kenfehling commented on #190
This pull request I submitted seems to resolve the issue: https://github.com/jkk/honeysql/pull/189

[2017-11-16 16:59] arichiardi opened #191 "Interest in deploying on npm?"
With the latest `lumo` a package could be now deployed and consumed from npm if self-host compatible.

There is only one change involved: add a package json with the right stuff in it.
Recently I have pushed the same thought to Macrovich and @cgrand kindly [agreed](https://www.npmjs.com/package/macrovich). So basically `honeysql`'s only dependency is already good to go.

I can put a PR together qu

[2017-11-20 12:05] AndreaCrotti opened #192 "SQL validation?"
It's possible even using the helper functions to actually generate invalid SQL with Honeysql.
I know it's not really possible to prevent that, but it would be great to be able to validate the generated SQL before actually having it fail in Postgres (or other dbs).

I think that's in theory possible if a definition of the Postgres grammar (for example) is available, anyone ever thought/tried that?

[2017-11-29 14:08] madvas opened #193 "Allow for custom name-transform-fn"
https://github.com/jkk/honeysql/blob/master/src/honeysql/format.cljc#L64
Users should be able to supply custom name-transform-fn, rather than having to stick with `undasherize`.

Thank you

[2017-11-29 15:37] pablobcb opened #194 "Retrieve create id after insert with mysql"
is it possible? in the same way `jdbc/insert!` does?

[2018-01-02 16:52] danielbraun commented on #176
Also take a look at https://github.com/nilenso/honeysql-postgres
It extends jdbc protocols for a variety of Clojure types.
Still have to use honeysql.format/value though.

[2018-01-10 05:21] xiongtx opened #198 "Nested `select`s are not formatted correctly"
In `0.9.1`, nested selects are not handled correctly.

This works:

[code]

But this isn't right:

[code]

Note that `foo` is directly inserted into the `SELECT ...` string.

[2018-01-15 14:02] ljosa opened #200 "SET ends up before JOIN in formatted SQL"
The `SET` clause [has priority 100](https://github.com/jkk/honeysql/blob/master/src/honeysql/format.cljc#L197), which is lower than the priority of the `JOIN` clauses. Hence, `SET` ends up up before `JOIN` in the formatted SQL statement, and MySQL does not accept that:

[code]

I found that I can change the priority with `honeysql.format/register-clause!`:

[code]

Is there any reason not to make

[2018-01-16 02:15] vincent-dm commented on #188
I made a pull request to add this functionality. Would you please consider accepting it?

Thanks!

[2018-01-18 23:02] arichiardi opened #202 "Publish to npm"
Hi folks it's me again :smile:

I have a branch in my fork that sets up things for publishing on `npm`. I have used it with an internal repository to build things with `lumo` and it works pretty well so I was wondering if this project would be interested.
As you can see, the project this project depends on - [macrovich](https://github.com/arichiardi/honeysql/blob/npm/package.json#L16) - it has [al

[2018-01-23 01:20] AdamNiederer commented on #160
I think you have too many braces. Try this:

[code]

[2018-01-29 17:25] arichiardi commented on #202
@MichaelBlume maybe we can release a `0.9.2` so that I can merge my self-host patch commit in `honeysql-postgres`? :wink:

[2018-01-29 21:00] arichiardi opened #203 "Where with :and should remove `nil` clauses"
Simple example and maybe I am doing something wrong:

[code]

Probably the last `null` should not be generated.

[2018-01-31 21:35] fdhenard commented on #160
Thanks @AdamNiederer, I will try that when I get a chance.

[2018-02-11 07:50] #193 closed

[2018-02-13 07:20] MichaelBlume commented on #203
I think I agree that it'd be better if the NULL wasn't generated

[2018-02-13 07:23] MichaelBlume commented on #191
Yeah, I think it'd be good to get one of these in, thanks =)

[2018-02-18 07:02] MichaelBlume commented on #194
Sorry, I'm not sure what this is asking.

Honeysql really isn't responsible for *doing* things to databases; it generates SQL. Once you have a SQL string in hand, honeysql's job is pretty much done.

[2018-02-18 07:04] MichaelBlume commented on #192
I think that'd be pretty cool. My inclination is to say that it's outside of honeysql's scope -- if someone wrote a library to do this, lots of people would find it useful, not just honeysql users.

[2018-02-22 07:43] MichaelBlume commented on #202
Yep, hoping to get 0.9.2 out soon, just need to write up the changelog.

...If someone wants to write the changelog up for me, that'd honestly speed me up a lot.

[2018-02-26 21:06] lambdahands commented on #112
I'm running into this issue as well. I thought I might be able to solve this by using the `:modifiers` key, but the current [behavior](https://github.com/jkk/honeysql/blob/36a40bc67cf021267f7a3cb01f57987bf193c93b/src/honeysql/format.cljc#L465) simply uppercases the keys within the value, which is embedded in the `format-clause` implementation of `:select`. I chose to create a new implementation `:

[2018-02-26 21:50] MageMasher commented on #176
@danielbraun Where in that project does it extend protocols for clojure types? There are three source files and none of them include jdbc protocols.

[2018-02-26 22:50] danielbraun commented on #176
Sorry, I probably meant https://github.com/remodoy/clj-postgresql

[2018-03-13 21:43] arichiardi commented on #202
@MichaelBlume I can honestly do that if you promise to push the release button right after :smile:

[2018-03-13 21:58] MichaelBlume commented on #202
Done =)

[2018-03-13 22:03] arichiardi commented on #202
Lol who did it first :smile:

Btw for publishing on `npm` you need an account, should be simple. After that:

[code]

should bring you there :+1:

[2018-03-14 00:12] MichaelBlume commented on #202
I'll release as soon as I get home and have access to my PGP key =)

[2018-03-14 00:15] MichaelBlume commented on #202
Oh, by "done" I meant "yes I'll agree to that"

I'll release as soon as I get home and have access to my PGP key =)

[2018-03-14 02:07] arichiardi commented on #203
Solved by #205.

[2018-03-14 02:08] #203 closed

[2018-03-14 16:07] arichiardi commented on #202
Thank you for releasing! The npm release is not that important but would be cool.

[2018-03-18 04:42] MichaelBlume commented on #202
Can you publish to NPM?

[2018-03-18 06:00] arichiardi commented on #202
I think I can :)

[2018-03-19 05:57] MichaelBlume commented on #202
Cool! I don't think you should need any, like, actual technical permissions, because we've never interacted with the NPM infrastructure before. If you feel you ethically need permission from a honeysql dev: go for it =)

Thanks!

[2018-03-19 05:57] #202 closed

[2018-03-19 17:24] arichiardi commented on #202
@MichaelBlume So I saw the repo's commits and I think that:

[code]

Is a good candidate for the release tag? What do you think? Shall I release against that?

[2018-03-20 05:32] MichaelBlume commented on #202
Yep, there should already be git tags in the repo =)

[2018-03-26 04:40] arichiardi commented on #202
I will do this asap :)

[2018-03-28 00:20] arichiardi commented on #202
The package has been published on `npm` and and `honeysql` org has been created:

https://www.npmjs.com/package/@honeysql/honeysql

[2018-03-28 05:25] MichaelBlume commented on #202
Awesome, thanks =)

[2018-03-29 09:48] AndreaCrotti opened #211 "Left excluding join"
Not sure as a name it make sense but I this is what I'm talking about:
http://www.urgenthomework.com/sql-left-excluding-join-homework-help

We have this scenario quite often, and I was wondering if it would make sense to add a helper which
- adds the left-join on the given key
- adds the where clause

So something like:
[code]

Having a look at the existing helpers I see that they only modify one

[2018-04-13 12:17] vincent-dm commented on #188
Thanks!

[2018-04-13 12:17] #188 closed

[2018-04-16 06:50] MichaelBlume commented on #200
Yep, this looks reasonable.

[2018-04-16 06:51] #200 closed

[2018-04-17 15:18] WorldsEndless opened #212 "How to SELECT function(DISTINCT rows)?"
I'm trying to figure out how to create the following SQL query with Honey; using the documented IFn and call-qualify-map functions I can customize `:from` statements, but I can't seem to get the SELECT to work. In particular, how do I render `SELECT json_agg(DISTINCT [table].*)` ? Using `%json_agg.table will get me close, but I can't get the DISTINCT in there. Any help would be appreciated.

    S

[2018-04-17 21:18] WorldsEndless commented on #212
I got it working, though I suspect there may be a more honeysql-y way. Here we are:

    (defn json-distinct
      "Format an sql string for the json distinct inclusion"
      [inclusions]
      (sql/call :json_agg (sql/raw (str "DISTINCT " (name inclusions)))))

    (defn get-full-ft
      "Get all Fairy Tale Retellings of one or all tales, with their genres and tale types"
      [& [id]] ;; TODO

[2018-04-17 21:18] #212 closed

[2018-04-19 21:40] vincent-dm opened #213 "How to use params in honeysql.core/raw"
Hi,

In some cases HoneySQL syntax is too cumbersome (or unable) to express a complex part of my query, so I have to use `honeysql.core/raw` to express it. However, I run into a problem when I need to use a parameter in these raw parts, because the string passed to `raw` does not seem to be parsed to extract params (or at least I can't find how to do it).

Can someone confirm whether or not it is

[2018-04-23 10:15] AndreaCrotti commented on #211
Yes in theory I think it's possible, however it involves adding the `left-join` key and updating the `where` key, adding another condition there.
So if `where` is not there is easy, if there is one condition already we have to wrap both in an `:and` for example.
Is this kind of manipulation done already somewhere else @MichaelBlume ?

[2018-05-16 13:04] jarcane opened #215 ""AS NULL" being added to query when using helpers"
Working on a simple query I ran into an odd issue with the helper functions.

Given the following query:
[code]
I get a surprising resulting string vector after passing that to `sql/format`:
`["SELECT * AS NULL FROM app.messages WHERE name = ?" "hello"]`

This of course fails because (in my case) PostgreSQL doesn't support the "AS NULL" clause it's inserting isn't supported on `SELECT *`. It *does

[2018-06-14 12:44] kronos commented on #213
Same problem here. Any suggestions?

[2018-06-24 05:07] seancorfield commented on #32
Would an optional library of specs help here?

[2018-06-24 05:09] seancorfield commented on #67
I'll second Michael's response here that DDL tends to be very vendor-specific so I'm not sure how a generic library like HoneySQL should handle this? It's also why the DDL support in `clojure.java.jdbc` is so minimal.

[2018-06-24 05:17] seancorfield commented on #67
We already have `honeysql-postgres` and I just suggested a `honeysql-mysql` companion so maybe this is a candidate for that sort of library?

[2018-06-24 05:19] seancorfield commented on #85
This sounds like a documentation / education issue (as well as a test update)?

[2018-06-24 05:31] seancorfield commented on #115
Enhancing the quoting feels reasonable to me but this definitely needs more analysis (the PR helps).

[2018-06-24 05:32] seancorfield commented on #127
`clojure.java.jdbc` handled this directly so I don't believe this is really a HoneySQL issue?

[2018-06-24 05:34] seancorfield commented on #128
If there's truly common DDL, especially if it's within the ANSI SQL standard, then I think it's reasonable for HoneySQL to support it (but most DDL is vendor-specific and out of scope for HoneySQL).

[2018-06-24 05:37] seancorfield commented on #131
PR #132 was merged so closing this.

[2018-06-24 05:37] #131 closed

[2018-06-24 05:46] seancorfield opened #216 "AS should not split and quote"
The `AS` alias should be accepted as-is, rather than being split and quoted. See PR #82 for more details.

[2018-06-25 00:48] seancorfield commented on #138
Given that #140 and #142 are both merged, it would seem this issue has been addressed and this issue should be closed? @madvas ?

[2018-06-25 00:49] seancorfield commented on #137
Having tried (several times) to use Typed Clojure on our code at work, no. Closing this out.

[2018-06-25 00:49] #137 closed

[2018-06-25 01:01] seancorfield commented on #136
@TangJiong Seems like this can be closed out since you have working code, yes?

[2018-06-25 01:01] #136 closed

[2018-06-25 02:30] seancorfield commented on #139
My initial reaction on stuff like this is "Nope, make folks use stuff properly", but if you are generating a collection of column names, you would need to `(apply columns m coll-of-cols)` and then you lose the ability to easily thread through with `->`. That made me think maybe this would be a good case for allowing a collection of column names and automatically unwrapping them. But then `values`

[2018-06-25 02:36] seancorfield commented on #135
@emidln I'm looking at this issue and #134 I'm a bit confused because I just tried the `WHERE` clause listed above and it *does* format correctly -- that equality holds. Adding `#sql/call` makes no difference so it looks like this case has been fixed. Can you confirm that whether this is still an issue for you?

[2018-06-25 02:43] seancorfield commented on #145
@johnmcconnell Any further thoughts on this?

[2018-06-25 02:57] seancorfield commented on #146
As a heavy user of spec, I can see value in adding `honeysql.specs` (for example) as an optional namespace that users can require to get access to specs for parts of HoneySQL. I think a spec for the SQL data structure would be valuable, especially for folks who are building data structures directly.

I think the goal of users providing specs for tables and having those integrated with HoneySQL's s

[2018-06-25 02:59] seancorfield commented on #147
Given the workaround options given -- and the general "state of the union" as far as Clojure version usage and support goes -- I'm going to close this out.

[2018-06-25 02:59] #147 closed

[2018-06-25 03:00] seancorfield commented on #158
@matanster I'm not sure what you mean or what you're suggesting needs to be done. Can you elaborate please?

[2018-06-25 03:48] seancorfield commented on #159
Agreed. This is vendor-specific and shouldn't be in the core HoneySQL library. I'm tagging it `vendor-specific` and would encourage folks to open feature request issues on `honeysql-postgres` instead (as I'm planning to close out all the vendor-specific stuff here soon).

[2018-06-25 03:49] seancorfield commented on #160
@fdhenard I'm closing this out on the assumption that the suggested code works. Let us know if you believe you still have an issue with HoneySQL and multiple inner joins.

[2018-06-25 03:49] #160 closed

[2018-06-25 04:03] seancorfield commented on #161
Do we have any sense of how many CLJS users of HoneySQL exist? I was actually surprised that CLJS was supported at all, given the target being JDBC on the JVM -- or so I thought?

I have the CLJS tests running locally (but it was guesswork because there's no *Developer Information* section in the README -- @MichaelBlume could you write something up so I can check I'm doing the right thing?). So fa

[2018-06-25 05:59] piranha commented on #112
I think so, it's just unclear if it's possible to make it work, because in our codebase we're doing this: `{:select [(sql/raw "distinct on (id) id") :other_field]}`.

[2018-06-25 06:57] emidln commented on #215
This is because the select helper expects varargs containing the fields. You're passing a single field with an alias. The alias, being unspecified, is nil which translates to as null. Compare:

[code]

This would make a helpful linter rule, but it's hard to blacklist since `SELECT foo as NULL` might be legal for some databases. Maybe the docs here could be more clear?

[2018-06-25 07:33] jarcane commented on #215
Ahh, then it seems I did misunderstand the docs, thanks for the clarification.

[2018-06-25 14:39] fdhenard commented on #160
Sorry about that.  I wanted to check it out, but never got to it.  I'm very happy with honeysql.  Thanks for your contribution!

[2018-06-25 15:43] emidln commented on #135
@seancorfield I can confirm this is fixed now. It looks like it was fixed as of *0.9.0-beta1* fwiw. Thanks for reminding me about this.

[2018-06-25 15:43] #135 closed

[2018-06-25 15:48] emidln commented on #134
In light of #135 being fixed, I retested this and found it is still an issue.

[2018-06-25 15:51] seancorfield commented on #213
`raw` is for an opaque SQL string -- no parsing, no logic at all, just a string that is rendered as-is into the final SQL.

`inline` is for a value that you want to keep as a literal in the final SQL string, overriding HoneySQL's default behavior (of lifting values out as parameters).

So the answer to your question is, no, you can't parameterize a `raw` string.

I'll tag this with `documentation`

[2018-06-25 15:53] seancorfield commented on #191
I have no experience with Node (and only very little with CLJS) so a PR for this would be great @arichiardi !

[2018-06-25 15:55] seancorfield commented on #192
Agreed that a SQL validator is out of scope -- especially since each DB has its own syntax above and beyond ANSI SQL. Closing this out due to scope. If you want a PostgreSQL-specific checker, maybe propose that to the `honeysql-postgres` project?

[2018-06-25 15:55] #192 closed

[2018-06-25 16:01] arichiardi commented on #191
Forgot to close this - done already :smile: https://github.com/jkk/honeysql/pull/208

[2018-06-25 16:01] #191 closed

[2018-06-25 16:22] seancorfield commented on #211
Given that the existing `left-join` accepts "clauses" which provide the table (and perhaps alias) and then one or more connecting conditions, I'm not sure how you could specify just a table and a key here? It seems that you'd need the current "clauses" and then identify the key that should be added to the "where" clause -- which would duplicate part of one or more "clauses". I'm not convinced this

[2018-06-25 16:32] seancorfield commented on #182
My biggest concern would be around vendor-specific SQL: that couldn't be parsed back down to HoneySQL data structures -- because HoneySQL tries hard to be vendor-neutral. I think it's an interesting idea but I don't think it belongs in HoneySQL itself. Perhaps a new companion library could be created that deals with this (and perhaps it would need to have a parser for each database dialect support

[2018-06-25 16:38] seancorfield commented on #183
As far as I can tell, this is vendor-specific (specific to MySQL)? @thedavidmeister HoneySQL tries hard to avoid vendor-specific SQL -- can you expand on your request?

[2018-06-25 16:43] seancorfield commented on #176
HoneySQL tries hard to avoid vendor-specific features so this feels like it belongs in a PostgreSQL-specific library instead.

I'm going to tag this `vendor-specific` for now but I'll probably close out all the vendor-specific issues in a while.

[2018-06-25 18:02] seancorfield commented on #215
We'll try to improve the docs around this!

[2018-06-25 18:49] seancorfield commented on #10
@jrdoane I'm looking over the README and don't see examples of either. Where are you seeing examples of these? (figuring out where best to add more examples)

[2018-06-25 18:55] seancorfield commented on #85
I just looked over the tests and they use the `honeysql.types/array` function (aliased as `sql/array`). There are no examples of using the raw data reader types, as far as I can see. Does that address your question, or do you think more needs to be done @icambron ?

[2018-06-25 19:30] #213 closed

[2018-06-25 19:32] seancorfield commented on #213
I updated the README to (hopefully) clarify this, as well as adding an example of `inline`.

[2018-06-25 19:59] vincent-dm commented on #213
Hi @seancorfield

Thanks for clarifying this. As far as you know: is it on purpose that there is no mechanism for using parameters in a raw part?

Currently, when I need to parametrize SQL syntax that is unsupported by HoneySQL, I have to choose between (a) dropping HoneySQL and using a plain sqlvec with params or (b) using a raw part and using string interpolation to concat the params in it (only

[2018-06-25 20:00] #215 closed

[2018-06-25 20:01] seancorfield commented on #215
I have added an explicit example of aliasing column and tables names, with an explanation that `select` is variadic and so `(select [:a :b])` means `SELECT a AS b` rather than being a collection of column names.

[2018-06-25 20:04] seancorfield commented on #10
I've just added an example of aliasing to the README. There are two examples of nested selects but neither lend themselves to adding aliasing. PRs welcome to improve the README in this area!

[2018-06-25 20:12] seancorfield commented on #32
Now that I've gone through all the issues and PRs and made the first pass over the README to address some of the low-hanging fruit (adding more examples/clarifications), I'd be happy to update the documentation to make this clearer but I'm not quite sure what is needed/expected here -- the examples show the natural way to use the helper DSL and I'm not sure where they are misleading.

For example,

[2018-06-25 20:42] seancorfield commented on #213
Well, it's "on purpose" in that it is a mechanism for inserting raw strings into the generated SQL with no processing performed on them. That's by design.

Do you have a specific example where you currently _need_ to use `raw` but still want parameters? (the above examples aren't helpful because they can be done without `raw`)

[2018-06-25 20:54] seancorfield commented on #62
@hlship In MySQL, I'd expect `DATE_SUB( NOW(), INTERVAL ? SECONDS )` so I was curious about the quote in the PostgreSQL version: can you write `now() - interval '? seconds'` and still have a parameter there?

(I'm considering a new reader literal that is halfway between `raw` and regular constructed SQL so parameters would work -- but I'm not sure how parameter lifting would work if you have them

[2018-06-25 20:58] seancorfield commented on #213
I'm looking at #62 which is a bit more compelling in terms of a use case but has the complication of seeming to need parameters inside a SQL string is a sticking point for me right now.

[2018-06-26 01:34] icambron commented on #85
@seancorfield Yeah, looks like this has been fixed. Thanks for looking into it.

[2018-06-26 01:34] #85 closed

[2018-06-26 07:16] kronos commented on #213
@seancorfield
Simple example:
[code]
Now I have to use sql/raw which can lead to security issues:
[code]

[2018-06-26 11:04] vincent-dm commented on #213
Indeed, expressions in the SELECT part were also a major use case for me.

Another one is having the ability to use vendor-specific syntax, without needing to extend HoneySQL. For example, we often use PostgreSQL range types and need to check whether a value is contained by a range. The PostgreSQL operator for that is `@>`, but unfortunately `:@>` is not a valid keyword in Clojure, so when definin

[2018-06-27 19:38] seancorfield commented on #213
Here's a suggestion -- see whether you think it would solve your issues (if implemented):

Extend `#sql/raw` to accept a vector argument (as well as a plain string) and the vector contains strings and parameters and the rendering will join all the strings together and lift the parameters out. If you need a string parameter, you could use `#sql/param` and provide a name (and the parameter in the `:

[2018-06-27 21:00] vincent-dm commented on #213
Hi @seancorfield

Yes, that would be very useful. Thanks for going the extra mile on this!

[2018-06-27 22:13] seancorfield opened #219 "Enhance sql/raw to accept a vector to allow parameters"
This supercedes #213 and will allow sql/raw to accept a vector of values: strings will be passed directly into the SQL, non-strings will become parameters. For a string parameter, you'll need to use sql/param and a name, then provide the value via the `:params` map argument to `format`.

[2018-06-27 22:13] seancorfield commented on #213
Follow-up to #219

[2018-06-27 22:16] seancorfield commented on #62
I think this might be partly addressed by #219 because once that's done you should be able to write:
[code]

[2018-06-27 22:28] vincent-dm commented on #219
Maybe it's worth to consider a more convenient way to provide string params before the API of the new feature is settled?

Calling a function or adding a reader macro before inline param would be more convenient than having to name the param and then keeping a map of `:params` in sync.

So something like `(select #sql/raw[#sql/raw-param "foo" " AS x"])`, but I have no idea whether this is possible

[2018-06-29 00:58] seancorfield commented on #219
Yeah, I must admit I've always found the `#sql/param` construct a bit weird... Open to suggestions. I think `#sql/raw-param` is a bit of a mouthful but I guess it would only be needed for strings inside a raw vector (although you'd have to be careful if you didn't know what types of expression you were dealing with).

I would if `#sql/?` would be more intuitive as a way to mark expressions as para

[2018-06-30 05:01] seancorfield commented on #62
This has been implemented as part of #219 and the README now includes this particular example.

I'm not convinced that named abstractions/functions should be supported in the DSL (yet) so I'm going to close this out. Feel free to add comments to #219 for other use cases that are not yet supported by this.

[2018-06-30 05:01] #62 closed

[2018-06-30 05:06] seancorfield commented on #219
I've implemented the basic concept behind this: `#sql/raw` can accept a vector strings and parameters. Non-string parameters are automatically lifted out as parameters. String parameters need to be explicitly lifted out with `#sql/param` and you can either provide a keyword name -- and then a matching keyword name in the params map to for `format` or position parameters.

At this point, I'm yet to

[2018-06-30 05:06] #219 closed

[2018-07-01 11:31] zelark commented on #176
For those who want only `json` and `jsonb` types to support, I wrote this tiny [snippet](https://gist.github.com/zelark/3b484e9b16ad55c97b4ed6f6ea13986b).

[2018-07-01 23:01] vincent-dm commented on #219
Alright. Thanks @seancorfield for the quick development.

Looking forward to when the next release is cut. (That should also finally release my [PR 201](https://github.com/jkk/honeysql/pull/201) which has been merged since April...)

[2018-07-02 03:50] seancorfield commented on #219
`[honeysql "0.9.3"]` is available for you to play with @vincent-dm !

[2018-07-02 08:39] vincent-dm commented on #219
Awesome. Thanks!!

[2018-07-18 11:45] iku000888 commented on #184
The problem seems with `honeysql.format/seq->sql`

Changing it to the following fixes the problem, but it obviously deletes the mentioned workaround for oracle.

[code]

[2018-07-19 05:01] seancorfield commented on #184
@iku000888 Aside from removing the Oracle-specific condition, I don't see what's different between the current code and what you posted -- so I can't see what *change* you're proposing or how it would fix this problem?

[2018-07-19 05:46] seancorfield commented on #184
I don't see how that change would affect `eee(b)` in the original problem statement.

That condition just causes the output to either be `eee AS b` or `eee b` so it's pretty clear that's **not** the path being executed to produce `eee(b)`.

Did you actually *try* the original code on a modified version of HoneySQL with just your proposed change?

[2018-07-19 05:56] iku000888 commented on #184
Yes I did test it out.
Let me prepare something minimal...

On Thu, Jul 19, 2018 at 2:46 PM, Sean Corfield <notifications@github.com>
wrote:

[2018-07-19 06:01] seancorfield commented on #184
Your insistence caused me to test @zerg000000 's original code in a REPL using the *current* version of HoneySQL _with no code changes_:
[code]
In other words, it **already does the right thing** so the original bug -- producing `eee(b)` -- has been fixed at some point along the way.

So I'm closing this out.

[2018-07-19 06:01] #184 closed

[2018-07-19 06:04] seancorfield commented on #176
Given HoneySQL's position of trying to be vendor-neutral and the presence of reasonable approaches to make this work (without changing HoneySQL), I'm closing this out.

[2018-07-19 06:04] #176 closed

[2018-07-19 06:04] seancorfield commented on #159
Given HoneySQL's position of trying to be vendor-neutral and the presence of reasonable approaches to make this work (without changing HoneySQL), I'm closing this out.

[2018-07-19 06:04] #159 closed

[2018-07-19 06:05] seancorfield commented on #112
Given HoneySQL's position of trying to be vendor-neutral and the presence of reasonable approaches to make this work (without changing HoneySQL), I'm closing this out.

[2018-07-19 06:05] #112 closed

[2018-07-19 06:08] seancorfield commented on #98
Given HoneySQL's position of trying to be vendor-neutral and the fact that the three PRs referenced were all rejected due to that position, I'm closing this out.

[2018-07-19 06:08] #98 closed

[2018-07-19 06:09] seancorfield commented on #77
Given HoneySQL's position of trying to be vendor-neutral and the fact that PR #86 was closed out years ago based on that position, I'm closing this out.

[2018-07-19 06:09] #77 closed

[2018-07-19 06:10] seancorfield commented on #67
Given HoneySQL's position of trying to be vendor-neutral and DDL being inherently vendor-specific, I'm closing this out.

[2018-07-19 06:10] #67 closed

[2018-07-19 11:52] iku000888 commented on #184
Thanks for checking and I appreciate your time.

So my specific issue:

[code]

Renders

`["SELECT a FROM (SELECT * FROM b) subq"]`

And this is problematic in mysql as it gives me a table alias required error.
With the mentioned fix it renders

`["SELECT a FROM (SELECT * FROM b) AS subq"]`

And runs as expected.

Would you call this a separate issue?

[2018-07-19 14:00] seancorfield commented on #184
Feel free to create a separate issue for that. Not sure how to solve it without breaking other databases but I'll give it some thought.

[2018-07-19 17:36] patrickds opened #220 "Question: Do we support sql transactions?"
I could not find anything related in the code. It would be very very useful :)

[2018-07-19 17:41] seancorfield commented on #220
Since HoneySQL is just about generating SQL (strings), I'm not sure what "transaction support" would look like -- that's something that JDBC libraries like `org.clojure/java.jdbc` provide.

Can you elaborate?

[2018-07-19 17:56] patrickds commented on #220
hummm I was thinking that we could send something like

[code]
and it would execute as a transaction. But thinking now I'm not sure if there is such a thing

[2018-07-19 18:19] seancorfield commented on #220
Are you comfortable with me closing this issue then?

[2018-07-19 18:21] patrickds commented on #220
Yep sure, thanks for the help :)

[2018-07-19 18:21] #220 closed

[2018-08-03 22:44] xiongtx opened #221 "Should "inline" mean "raw and unparameterized"?"
## Problem

Inline `nil` values are not turned into `NULL`, resulting in surprising behavior:

[code]

It seems that "inline" roughly means "raw and unparameterized", which complects two concepts. Often I want a single unparameterized string that can be concatenated with other strings to form a more complex (usually vendor-specific) command, but still treat values as non-raw.

While in this case `

[2018-08-03 23:42] seancorfield commented on #221
No, `#raw` means raw -- a string that is placed directly into the SQL. `#inline` means inline value -- a value that is not lifted out as a parameter. `#inline nil` should almost certainly produce `NULL` so that's definitely a bug.

[2018-08-04 00:13] #221 closed

[2018-08-04 00:14] seancorfield commented on #221
This will be in the 0.9.4 release.

[2018-08-04 04:45] seancorfield commented on #221
Yeah, strings are a bit of an issue for both `#inline` and `#raw` with parameters. Both of those were added to "work around" the normal machinery of building data structures with keywords and parameters and I don't think they were really analyzed for all the edge cases. You're right that there's no string escaping in HoneySQL (yet) and that's because it isn't needed for the parameterized cases --

[2018-08-04 20:51] xiongtx commented on #221
To _properly_ handle all inline values, we'd need all the conversions from Clojure values to string representations present in `clojure.java.jdbc` and use them in HoneySQL. I.e. whatever `clojure.java.jdbc` does to turn `["... ? ..." <param>]` into a single string, that'll need to be replicated here.

[2018-08-05 05:28] seancorfield commented on #221
That's not how `clojure.java.jdbc` works. It doesn't convert values to SQL strings -- it simply passes them as values into `PreparedStatement`s as `Object`s. It does no conversion at all really: JDBC handles it.

And if you let HoneySQL lift Clojure values out as parameters -- the default value -- then it's all just handled automatically by JDBC.

`#raw` takes Clojure strings and just drops them i

[2018-08-08 08:50] manuel-uberti commented on #155
Thanks @emidln, you saved my day :)

[2018-08-27 11:03] athiramukundan opened #223 "When using against PostgreSQL what is the best way to insert/update array columns?"
My table has the following schema:
[code]

[2018-08-29 16:01] jakemcc commented on #223
Hi @athiramukundan. The below works for me. This is using `[honeysql "0.9.2"]`. `db` is just a delay that is holding my database connection pool.

[code]

[2018-08-29 16:08] seancorfield commented on #223
Thanks @jakemcc Closing this out as "answered" (and Issues are not really mention for support questions -- asking questions in the #honeysql channel on the Clojurians Slack would be preferred).

[2018-08-29 16:08] #223 closed

[2018-08-29 17:47] arichiardi commented on #223
Thank you for the answer! I would add ClojureVerse to the list of support question places - answers are persisted and reusable :smile:

[2018-08-29 20:36] seancorfield commented on #223
I don't pay much attention to ClojureVerse (I don't like web forums) so #honeysql on Slack is the fastest place to get my attention. Just FYI.

[2018-08-30 16:55] vincent-dm opened #224 "An inline keyword should not retain its colon"
Keywords are often used to represent constants in Clojure code, and they often correspond to ENUM values in the DB.

E.g. we use the ENUM value `unit` in Postgres and represent it as `:unit` in our Clojure code. However, this where-clause would not work because HoneySQL tries to interpret the keyword as a column:
[code]

Our current solution is to first convert the keyword to a string and then inl

[2018-08-30 17:30] seancorfield commented on #224
This relates to #221 which I'm still thinking about. This has bigger implications than just how to stringify `inline` values.

[2018-08-30 17:33] #224 closed

[2018-09-02 16:17] AndreaCrotti opened #226 "Avoid `AS NULL`"
I do by mistake this quite often

[code]

[2018-09-02 22:55] seancorfield commented on #226
I've added an `assert` for the alias conversion to a SQL string, to check there are exactly two parts. It's on *master* now if you want to try a build, otherwise it'll be in 0.9.4 (but there are a few other issues I want to tackle before I release that).

[2018-09-02 22:55] #226 closed

[2018-09-03 10:09] danielcompton commented on #155
I went a different way around this by casting the JSON string to JSONB with `honeysql.core/call`:

[code]

This doesn't give you the easy coercion between Clojure maps to JSON datatypes but does give you more precision over casts and would prevent accidental casts. You'd probably want something else on the read side for reading back out.

[2018-09-24 18:52] antonmos opened #227 "sset helper does not lift params from sql/raw"
[code]

If i am reading the docs correctly, it should produce
[code]

[2018-09-25 00:42] arichiardi opened #228 "Merge-where produces an extra :and"
Hello folks!

I found that when I do `(sqlh/merge-where {} [])` I receive back a ` {:where [:and]}`.
It is probably a bug in the way `honeysql` handles the clauses.

Has anyone else experienced that?

Thank you :wave:

[2018-09-25 01:10] seancorfield commented on #228
I don't see that. Can you provide repro steps?
[code]

[2018-09-25 01:12] arichiardi commented on #228
Yep sure, this is what I see:

[code]

[2018-09-25 01:14] seancorfield commented on #228
How did you create that inner hashmap? It looks wrong to me.

[2018-09-25 01:15] arichiardi commented on #228
Ah, that can be...let me see, thanks good point!

[2018-09-25 01:16] seancorfield commented on #228
[code]
This is why the helpers are provided -- a lot of people find the raw maps hard to get right. Best not to mix'n'match.

Can this be closed?

[2018-09-25 01:17] arichiardi commented on #228
I think so, thanks!

[2018-09-25 01:28] arichiardi commented on #228
Well ok, but this is data transformation and I though the semantics of `merge-where`, given that `merge` is in the name, would allow `nil` or empty in input...that's mainly where my confusion comes from. That's good to know anyways :wink:

[2018-09-25 01:36] seancorfield commented on #228
Both `where` and `merge-where` assume at least one predicate. The `merge-*` functions in HoneySQL are designed to take one or more "things" and add them correctly into an existing structure, i.e., taking into account whether that clause already exists in the structure. Using `apply` with them looks like an anti-pattern to me, based on how they're meant to be used (typed in by people).

I'm not ave

[2018-09-25 01:40] arichiardi commented on #228
That's a tough one because while adding that would solve my problem if you really want to emphasize typing usage probably that should go there.

I (maybe wrongly) assumed that those helpers where data transformation helpers that "build up" the SQL map...

Not sure at this point how many folks think it that way though

[2018-09-25 01:43] #228 closed

[2018-09-25 01:44] arichiardi commented on #228
Awesome will try it out tomorrow!

[2018-09-25 01:58] arichiardi commented on #161
I am running both using lumo and vanilla cljs. Will try to have a look at well.

[2018-09-25 02:00] arichiardi commented on #161
Right, lumo tests are green, at least they were, so I guess it is just a matter of understanding the problem with vanilla then.

[2018-09-25 02:00] seancorfield commented on #227
There are a number of problems with the way both `raw` and `inline` are implemented that need to be revisited. For the example given above, I would consider this approach instead:
[code]

[2018-09-25 02:03] seancorfield commented on #161
I eventually figured out that the tests can/should be run like this: https://github.com/jkk/honeysql/blob/master/run-tests.sh

That's also what's in `.travis.yml` and the build is passing so I'm going to declare this fixed.

[2018-09-25 02:03] #161 closed

[2018-09-27 19:44] antonmos commented on #227
i see! May be a good thing to add to the docs, until the proper change is done.

[2018-09-27 19:52] seancorfield commented on #227
I was a bit surprised your original code didn't work, so in some ways that's just a bug, but overall I'm not sure yet what to do with `raw` and `inline` and the parameter-lifting that was added to `raw` recently was a workaround for a different problem. Hence, I'm not sure what the docs should be changed to say at this point. If I fix the bug with `sset`/`raw`, no doc change would be needed _yet_.

[2018-09-27 20:02] seancorfield commented on #227
I added a `sql/call` example into the README section for `sset`.

[2018-10-01 15:52] #216 closed

[2018-10-02 03:05] seancorfield commented on #211
Closing for lack of response.

[2018-10-02 03:05] #211 closed

[2018-10-02 03:05] seancorfield commented on #194
Closing for lack of response.

[2018-10-02 03:05] #194 closed

[2018-10-02 03:06] seancorfield commented on #182
Closing for lack of response (as out of scope).

[2018-10-02 03:06] #182 closed

[2018-10-02 03:07] seancorfield commented on #158
Closing for lack of response.

[2018-10-02 03:07] #158 closed

[2018-10-02 03:08] seancorfield commented on #145
Closing for lack of response.

[2018-10-02 03:08] #145 closed

[2018-10-02 03:11] seancorfield commented on #139
Since similar checks were added elsewhere for 0.9.4, I'm targeting this for 0.9.5.

[2018-10-02 03:12] seancorfield commented on #138
Closing for lack of response.

[2018-10-02 03:12] #138 closed

[2018-10-02 03:14] seancorfield commented on #134
The readme contains an example of `sset` that uses `sql/call` to indicate the appropriate evaluation of the RHS. My feeling is that's the correct way to handle this so I'd like to close this out -- unless you want to provide a PR to make the expression handling implicit here?

[2018-10-02 03:15] seancorfield commented on #146
I'm going to assume no one else has the bandwidth to communicate, but I still consider this a worthwhile enhancement but it will be a while before I can get to it.

[2018-10-02 03:18] seancorfield commented on #127
Closing for lack of a response.

[2018-10-02 03:18] #127 closed

[2018-10-02 03:30] seancorfield commented on #32
HoneySQL 0.9.4 improves this situation:
[code]
I'll take another look at this in 0.9.5.

[2018-10-02 03:32] seancorfield commented on #14
Given that #17 is closed out and there's been no additional discussion here for over three years, I'm going to close this out, asserting that `sql/call` is sufficiently convenient.

[2018-10-02 03:32] #14 closed

[2018-10-02 15:07] antonmos commented on #134
not likely that ill have the time to make PR any time soon. Thanks for addressing this!

[2018-10-07 18:07] AndreaCrotti commented on #211
Yeah I tried a few things but maybe it's not worth since it's relatively easy to do anyway, thanks for the responses though

[2018-12-04 16:00] vemv opened #232 "Infer sequences from keywords?"
Hi there!

Currently, `{:select :id :from :users :limit 1}` is not acceptable syntax, and one should use `{:select [:id] :from [:users] :limit 1}`. Else `IllegalArgumentException Don't know how to create ISeq from: clojure.lang.Keyword` happens.

However, it seems to me that the intent of the former attempt is clear, and possibly unmistakable (what else could a user have meant?).

Have you conside

[2018-12-04 16:53] seancorfield commented on #232
If you want the ability to use singular keywords (as well as pairs that define an alias), use the DSL. The underlying data structures will not be changed.

[2018-12-04 16:53] #232 closed

[2019-02-05 07:21] armed opened #235 "sset is misplaced in 0.9.4 in `update from select` queries"
Hi, thanks for awesome library.

Here is minimal example which works in 0.9.2, but produces wrong SQL in 0.9.4

[code]
In 0.9.2 all seems ok:
[code]

But in 0.9.4 `SET` is placed after `FROM`
[code]

Is this bug, or I'm doing something wrong?

[2019-02-05 17:43] seancorfield commented on #235
Looks like this got broken when we fixed https://github.com/jkk/honeysql/issues/200 and you can see the change here https://github.com/jkk/honeysql/commit/fcdf3269680a2b4f66c6864e60006a04edecf41d

At first glance I'm not sure how to solve both of these concerns at the same time -- will give it some thought.

[2019-02-05 22:32] seancorfield commented on #200
This breaks `update ... set ... from ...` -- see #200 -- but given that `from` must come before `join` and in one case we want `set` before `from` and in the other case we want `set` after `join`, I'm not quite sure how to resolve this. It seems like we need `set` to have different priorities based on usage which isn't something HoneySQL currently supports (right @MichaelBlume ?) or else we need m

[2019-02-07 07:13] armed commented on #235
@seancorfield thanks for clarification, rolled back to 0.9.2 for now.

[2019-02-07 07:22] armed commented on #235
https://stackoverflow.com/questions/1293330/how-can-i-do-an-update-statement-with-join-in-sql according to this answer different DBMS has their own `update` query format.
At first thought there have to be DB specific priority configurations (maybe by setting dialect globally or per `sql/format` call).

[2019-02-09 03:44] camsaul opened #236 "HoneySQL converts SQL keywords to uppercase using system Locale"
`String.toUpperCase()` or `string/upper-case` for that matter converts the string to uppercase for the default system locale (system property `user.language`). Normally this still does what you'd expect but things like `inner join` get converted to `İNNER JOIN` (dot over the I) when user locale is Turkish. This predictably has bad consequences for people who like their SQL queries to work. The fix

[2019-02-09 05:03] #236 closed

[2019-02-09 05:08] seancorfield commented on #32
In the absence of feedback, and given the improvements in the docs and the handling in 0.9.4, I'm closing this. Feel free to open new issues with more specific feedback and actionable responses.

[2019-02-09 05:08] #32 closed

[2019-03-27 15:11] swam92 opened #240 "Add support for multi-arity SQL functions"
Honeysql does not support the use of multi-arity functions via the ":%" operator.  This prohibits the use of functions, specifically 'coalesce' and 'nullif'.

Line 391 of format.cljc reads :
[code]

Because the call to clojure.string/split has a limit of 2, it is impossible to create a function of multiple arguments.

Adding support for this feature would be beneficial for the following reasons:
*

[2019-04-02 13:21] swam92 commented on #240
Thanks for fixing this

[2019-04-02 13:28] sumbach commented on #240
@seancorfield This change might be breaking for (many?) existing use cases -- I suspect this syntax is commonly used to call aggregate functions with qualified column names: `:%max.foo.qty`. Where multiple arguments are required, I think `sql/call` would suffice.

/cc @swam92

[2019-04-02 18:21] seancorfield commented on #240
@sumbach Ouch! I hadn't thought of qualified column names. I don't know how widespread that usage is, but you're right that it would be breaking. I will revert this change!

[2019-04-02 18:27] seancorfield commented on #240
Per @sumbach if you want to call functions with more than one argument, use `sql/call`.

[2019-04-02 18:27] #240 closed

[2019-04-02 21:54] b-ryan opened #241 "Don't uppercase modifiers?"
I wanted to use `modifiers` to implement `DISTINCT ON` functionality using the suggestion here: https://github.com/jkk/honeysql/issues/1#issue-12977128 but this doesn't work properly when you want to properly quote Postgres identifiers. For example:

[code]

Produces

[code]

Which doesn't work. The simple solution appears to be to not upper-case the modifiers, but I don't know what implications t

[2019-04-02 22:11] seancorfield commented on #241
`DISTINCT ON` is PostgreSQL-specific and will not be added to HoneySQL. It is however already raised as an issue on `honeysql-postgres` (which is where it belongs): https://github.com/nilenso/honeysql-postgres/issues/31

[2019-04-02 22:11] #241 closed

[2019-04-02 22:23] b-ryan commented on #241
Yes I'm aware of that issue but I wasn't asking for distinct on support. I'm pointing out that the modifiers functionality is broken, at least from my point of view, and am wondering if there's some reason to uppercase the modifiers other than having the generated sql read more consistently.

[2019-04-02 22:30] seancorfield commented on #241
You're trying to use `modifiers` for something other than its designed purpose -- it is not "broken".

[2019-04-02 22:38] b-ryan commented on #241
Could you help me understand what the designed purpose is? I understand not wanting to change the behavior since it could be seen as a breaking change. At this point I'm just trying to understand the context / what the designed purpose is. I had looked through to the original commit from 7 years ago where the code had been touched but it didn't look like I was going to get to the root of it.

At t

[2019-04-02 22:51] seancorfield commented on #241
It is intended to provide a SQL keyword as a modifier for SELECT. Very limited scope. I think it's actually a bad idea, even in its current form, so I'd really rather not extend its use to anything else -- and especially not as a workaround for lack of PostgreSQL-specific syntax in the core library.

[2019-04-02 22:53] b-ryan commented on #241
Alright thanks for the help

[2019-04-07 02:09] seancorfield opened #242 "Modifiers for select should be extensible"
Like the lock formatting, modifiers should handled by a multi-method.

I think the only documented example usage is `[:distinct]` so that will be the default implementation.

[2019-04-07 03:30] #242 closed

[2019-04-10 13:20] b-ryan opened #243 "Any way or suggestions for using infix conditionals?"
I have a scenario where we effectively allow users to generate their own WHERE clauses and our representation of that clause is an array like:

[code]

Thus far I have been handling this by converting to a raw SQL string because I couldn't find a way to use this within what honeysql provides unless I converted the expression to prefix and that seemed daunting / not worth it. But now I am having di

[2019-04-10 17:07] seancorfield commented on #243
I would look at mapping your DSL to HoneySQL's underlying data DSL, instead of converting to strings directly. Mapping to `[:and "A" "B" [:or "C" "D"]]` should be pretty easy. And this will scale in complexity easily too.

You might also consider changing the representation for your WHERE clauses to be more amenable to that. We use Instaparse at work to turn English-like search criteria into data

[2019-04-10 17:07] #243 closed

[2019-04-10 17:56] b-ryan commented on #243
I revisited mapping to the honeysql DSL and you're right, it's not that complicated. I was experimenting with it a few nights ago, but I think it was too late at night.

The main edge case that needs to be dealt with is the precedence of AND and OR. I just wrote out an algorithm that I think works though. If you or anyone who stumbles on this is interested, here's what I'm going with:

algorithm

[2019-04-10 18:25] b-ryan commented on #243
Have initial code and it works given the test scenario in my algorithm above:

[code]

[2019-08-08 05:58] sorsasampo opened #245 "NOT EXISTS"
`:exists` is supported, but there does not seem to be `:not-exists`.

What is the best way to construct `WHERE NOT EXISTS` queries? Should support for `:not-exists` be added?

[2019-08-08 06:08] sorsasampo commented on #245
Looks like creating the issue acted as rubber duck debugging, because I found the syntax:

[code]

I think this could be documented better somewhere. Either the README or `exists-test`. The only not mentioned in the README is `:not=`.

[2019-08-08 16:41] seancorfield commented on #245
I've never seen such syntax before! TIL. PR for the README and/or tests welcome!

[2019-08-21 14:35] p-himik commented on #32
I just stumbled upon this in regular `merge`. Using just one `nil` seems to be OK but two `nil`s break things.
So
[code]
works. And
[code]
doesn't because it produces `WHERE ()`.
By seeing examples with a single usage of `when` I assumed that using multiple such statements would be fine.

[2019-08-21 14:35] p-himik commented on #32
@seancorfield Should I create a separate issue for `where` and multiple `nil` arguments?

[2019-08-21 17:09] seancorfield commented on #32
Please create a new issue with the repro case.

[2019-08-21 18:43] p-himik opened #246 "`where` with multiple `nil` arguments result in `WHERE ()` SQL"
honeysql 0.9.5
Initially started in #32

Using just one `nil` works as expected:
[code]
Using more than one results in `WHERE ()`:
[code]

I think this is an important use-case to support because of the ability to do stuff like this:
[code]
Of course there are alternatives where you either filter `nil` args yourself or never add them in the first place. But to me the use-case seems to be rather se

[2019-08-21 23:03] #246 closed

[2019-08-21 23:05] seancorfield commented on #245
Since `:exists` isn't documented in the README, there's no obvious place to document "not exists" so I'm just going to close this out. A PR to add docs for exists/not exists would be well-received :)

[2019-08-21 23:05] #245 closed

[2019-08-21 23:11] seancorfield commented on #134
Closing due to lack of feedback. The readme contains an appropriate example.

[2019-08-21 23:11] #134 closed

[2019-08-22 02:37] p-himik commented on #246
@seancorfield Just in case the notification doesn't get through - I've left a comment in the commit because it doesn't really fix the issue.

[2019-08-22 02:42] p-himik commented on #246
It also doesn't help filtering `nil`s from the map at all because it's already done during `format`: https://github.com/jkk/honeysql/blob/master/src/honeysql/format.cljc#L465
I *think* a proper fix would to both filter it and remove any clauses in `format-predicate*`'s `("and" "or" "xor")` branch that don't contain any arguments.

[2019-08-22 05:03] seancorfield commented on #246
It worked when there were still some non-`nil` conditions. I've updated it to work when all are `nil` as well. See the tests here https://github.com/jkk/honeysql/blob/master/test/honeysql/core_test.cljc#L239-L255

I have no plans to handle `nil` values in `:and`/`:or` clauses -- only at the top-level and only in the helper.

[2019-08-22 08:23] p-himik commented on #246
Great, thank you!

[2019-09-04 18:16] fvides opened #247 "Optional expansion of namespaces in keywords"
Hello. I'm using honeysql for the first time and liking it a lot for now. Thank for this.

That said, I've encountered a problem that I'm not sure how to resolve. I'm trying to insert tuples as maps using fully qualified keywords, and I find that HoneySQL format expands them fully, so the resulting key is not valid anymore. For example:

[code]
I've found that the function quote-identifier in ns h

[2019-09-04 18:36] seancorfield commented on #247
That is explicitly done per https://github.com/jkk/honeysql/commit/5b197f975629e161c7099b177c775d2e7b5ff410 three years ago. See discussions in #131 and #132

I agree that it is weird behavior and I'd be surprised if anyone is relying on it in production. If you supply a quoting strategy, you get valid SQL (and it allows you to have `/` in your table and/or column names -- if your database allows

[2019-09-05 07:44] igrishaev opened #248 "Redundant parens in columns clause"
The following map

[code]

gives

[code]

which breaks PostgreSQL syntax rules because of double parens around `a, b, c`. How can I skip them having only single parens?

[2019-09-05 23:38] #248 closed

[2019-09-05 23:39] seancorfield commented on #248
Fixed on master. If you're using CLI/`deps.edn` you can test this via Git deps. Otherwise, feel free to clone and install locally to verify it does what you expect without breaking anything else.

[2019-09-06 02:01] seancorfield commented on #235
Having a dialect set in the `format` call would probably not play well with `register-clause!` which can add new clauses with different priorities or override default priorities (as shown in #200 -- the OP's workaround was to use `register-clause!` to modify the priority of `:set`).

Much as I dislike it, I think the most pragmatic approach would be to have multiple `SET` helpers at different prio

[2019-09-07 20:09] seancorfield commented on #10
Closing this in the absence of a PR or further feedback. FWIW, I agree with @jrdoane that these things don't behave any differently together than they do separately: `(-> ... (from [sql-expression the-alias]) ...)` so I'm not sure what could be clearer in the README (but I'll certainly accept PRs for improvements -- just bear in mind that the README can't include _every_ combination of features in

[2019-09-07 20:09] #10 closed

[2019-09-07 20:14] #99 closed

[2019-09-07 20:24] #128 closed

[2019-09-07 21:02] #139 closed

[2019-09-07 21:55] #235 closed

[2019-09-07 22:18] #247 closed

[2019-09-07 22:36] seancorfield commented on #227
Given that I updated the README ages ago to show how to set expressions and I still don't have a good path forward with `raw`/`inline`, I'm just going to close this out and take no action for now.

[2019-09-07 22:36] #227 closed

[2019-09-07 22:56] #162 closed

[2019-09-08 06:05] seancorfield opened #249 "Option to treat namespace-qualified keywords as table.column"
Now that the default behavior of namespace-qualified keywords has been restored to the pre-0.9.0 behavior, it would probably make sense to introduce a new option to treat such keywords as `:table.column` which would be a better map for dealing with `next.jdbc` and libraries like [seql](https://github.com/exoscale/seql).

So there would be **three** behaviors:
* default: turn `:table/column` into j

[2019-09-08 06:42] #249 closed

[2019-09-10 16:39] fvides commented on #247
Many thanks for closing this issue.

[2019-09-10 16:51] seancorfield commented on #247
Thanks for bringing it up -- the change of behavior in 0.9.0 predates my role as maintainer so I hadn't noticed it (other than in cleaning up the PR/issue associated with the change).

[2020-01-17 02:12] razum2um commented on #182
Huge thanks for the lib as well! I just love to handle "draft/base" sql queries like `assoc sql :where` because `String`s suck.

Just briefly ensured that there's no pure clj sql parser, (obviously, heh). There're lots of stuff like https://github.com/JSQLParser/JSqlParser pushing us back to nice-old-hated-java-class-per-node approach and separate pure-js parser like https://github.com/JavaScripto

[2020-01-17 04:49] seancorfield commented on #182
Yeah, as noted in #192 one of the big problems is that every DB has extensions to ANSI SQL so there's no standard way to parse SQL strings. In addition, as I found out with `update`/`set`, different DBs actually have different syntax for the same statement :(

Even if it was feasible in general, it would be outside the scope of HoneySQL.

[2020-01-19 05:53] razum2um commented on #182
It's clear about dialects, but I expected compatibility at least on SQL-2003 standard, basic things, because e.g. `with recurcive` or postgres' jsonb syntax are out of scope of `assoc`-ing, for me at least. FWIW, personally me 90% `assoc`-ing the `where` part

Btw, note that at least [postgresql json syntax got into last standard](https://www.postgresql.org/docs/12/biblio.html#SQLTR-19075-6) 🎉

Al

[2020-01-19 21:53] seancorfield commented on #182
Given how prevalent the use of non-ANSI-standard syntax seems to be -- based on all the issues and support I've had to deal with in nearly nine years of maintaining `clojure.java.jdbc` -- a parser for just the ANSI subset of that wouldn't be very useful and any such parser project would face constant requests for enhancements. Anyone is welcome to try to create such a project but it is out of scop

[2020-03-02 22:35] ted-coakley-otm opened #253 "`format-join` no longer supports a boolean predicate"
Before version 0.9.4, and this commit that adds support for join `USING` https://github.com/jkk/honeysql/pull/201/commits/8a6ecd94aad4de06993883b9265a15cf73881f54
It was possible to join a table `ON TRUE`
e.g
[code]

This is useful in particular when using lateral joins in postgresql, but I think this is valid for other use cases also.

Offending code is in `honeysql.format/format-join`
[code]
Whi

[2020-03-02 23:46] seancorfield commented on #253
Looks like this last worked in HoneySQL 0.9.2. It was broken in 0.9.3. Confirmed still broken in 0.9.8.

[2020-03-03 09:33] ted-coakley-otm commented on #253
@seancorfield Thanks for the quick fix and release

[2020-03-06 12:04] ted-coakley-otm commented on #253
@seancorfield

Sorry to come back to this, but I think that one more change is necessary that I didn't spot at the time. This doesn't support the case when predicate is `false` i.e `JOIN table ON FALSE` , which is also valid SQL. Use `(when (some? pred) ...)` instead.

[2020-03-06 16:31] seancorfield commented on #253
Ouch! Yes, good catch. Will try to get to that today (and release 0.9.9.1 I think).

[2020-03-06 17:15] ted-coakley-otm opened #254 "Add support for `except` set operation"
The library currently supports `UNION`, `UNION ALL` & `INTERSECT`, would be good to also support `EXCEPT`

[2020-03-06 17:32] seancorfield commented on #254
Seems to be part of ANSI SQL so, yup, I'll add that.

[2020-03-06 17:37] tcoakley1 commented on #254
Added a PR https://github.com/jkk/honeysql/pull/255

[2020-03-06 17:39] seancorfield commented on #254
Fixed by #255

[2020-03-06 17:39] #254 closed

[2020-03-06 17:42] #253 closed

[2020-03-06 17:43] seancorfield commented on #253
It'll be in 0.9.10 (given the addition of `except` as well).

[2020-03-06 23:15] seancorfield opened #256 "Aim for a 1.0.x release"
Strip all the complicated Leiningen/cljsbuild/project.clj/Midje/macrovich stuff out.

Add Eastwood to deps.edn testing. Compile check too?

[2020-03-06 23:22] seancorfield commented on #253
0.9.10 is on clojars.

[2020-03-06 23:23] seancorfield commented on #254
0.9.10 is on clojars. Thank you!

[2020-03-08 22:41] seancorfield commented on #256
This is mostly complete. The only remaining piece of the puzzle is enabling builds on CircleCI. I've sent a message to @jkk about this since it needs his input on CircleCI (or to transfer this repo to an organization I control).

[2020-05-07 01:24] seancorfield opened #257 "Add support for CROSS JOIN"
https://en.wikipedia.org/wiki/Join_(SQL)#Cross_join

Requested by @dcj on Slack.

[2020-05-18 15:29] jrdoane opened #259 "`namespace-as-table?` option is being applied on INSERT INTO field list when it shouldn't."
When using the `namespace-as-table?` option to format SQL, fully qualified names are being put in places where fully qualified names are not valid. For example, using a fully qualified name in an `INSERT INTO` statement for the field names is not valid and the SQL-92 spec specifically calls out that these column names should be unqualified. The real-world implication of this is that without workin

[2020-05-18 17:06] seancorfield commented on #259
Interesting. Some databases allow dotted names there so I haven't tripped over this issue with the databases I use. I'll add some tests around this, across multiple databases, and then figure out how best to solve the problem.

[2020-05-18 18:05] jrdoane commented on #259
I encountered this with a new project I started and part of my plan was to use `next.jdbc` instead of `clojure.java.jdbc` and I wanted to maintain the namespaced keywords across the board so I could write consistent specs in the future. That's how I encountered this bug.

[2020-05-18 18:21] seancorfield commented on #259
I updated the tests in `next.jdbc` to see which DBs accepted it and which didn't -- it's not an exhaustive list:

- H2, HSQLDB, SQLite, PostgreSQL -- do not accept it
- MySQL, MS SQL Server -- accept dotted names

So it's pretty clear that HoneySQL needs to ensure the identifiers clause of `insert` is not namespaced.

[2020-05-18 19:10] seancorfield commented on #259
Fixed on **master** in d86150784bd81c7b881727e89eaa5b10904022e3

[2020-05-18 19:10] #259 closed

[2020-05-29 22:10] seancorfield commented on #256
This is unblocked. The repo is under @seancorfield now and both GitHub Actions and CircleCI are set up to run the full suite of tests (readme checking, Eastwood linting, ClojureScript testing, and multi-version Clojure testing). GitHub Actions is running on a matrix of OpenJDKs 8, 11, and 14.

[2020-05-29 23:02] #257 closed

[2020-05-30 16:55] seancorfield commented on #256
https://github.com/seancorfield/honeysql/releases/tag/v1.0.444

[2020-05-30 16:55] #256 closed

[2020-05-30 17:05] seancorfield opened #260 "2.0: revisit merge vs non-merge helpers"
The non-merging nature of helper functions seems to catch a lot of people out. In my experience, I pretty much always want merging behavior, rather than overwriting behavior. Should 2.0 have that behavior as the default (and perhaps deprecate all the `merge-` variants or just drop them altogether)?

The overwriting behavior could be opted into by threading the query through `(dissoc :join)` etc.

[2020-05-30 17:31] seancorfield opened #261 "2.0: rethink "raw""
Originally, `raw` just accepted a string and that was the SQL result. Then it was extended to support a vector of mixed SQL and values and the behavior is that strings are left alone but other types are "converted to SQL". This is both limited and surprising since the code cannot tell the difference between a literal string and an expression that yields a string. It also doesn't perform any useful

[2020-05-30 17:47] seancorfield opened #262 "2.0: simplify extension machinery"
Currently, in order to add a new clause, you must:
* Decide a priority for it and register that
* Extend `format-clause` and/or `format-modifiers`
* Potentially add helpers and perhaps extend `build-clause`

The priority list is crowded in places so finding a new, unique priority may be hard. This could be automated and registration could just specify two existing clauses to slot in between?

The

[2020-05-30 18:49] jrdoane commented on #262
Is the first point an active issue? Crowding can be solved by adding enough space between clause priorities, but the problem might be that priority is a little more complicated than just being a discrete position and that the clauses that another is paired with could influence its position. Just food for thought. I don't have a good solution to that, but it seems to me that if someone wants to ext

[2020-05-30 19:07] seancorfield commented on #262
Currently, changing any of the built-in priorities (to accommodate a new clause) _could_ break anyone's code that assumes a particular priority. There's also the issue that different SQL dialects actually do have different priorities (`SET` is different between MySQL and PostgreSQL, for example, leading to the nasty `:set0` and `:set1` stuff in the current list.

By changing to an ordered list (wi

[2020-05-30 19:20] jrdoane commented on #262
SELECT TOP and LIMIT were the first that came to my mind, to be honest.

[2020-06-26 19:47] jpmonettas opened #263 "Subquery alias error in postgres"
Hi, I'm running into the `subquery in FROM must have an alias` error when generating a sub query and attempting to run it in postgres.

[code]

Postgres instead of :

[code]

seems to need :

[code]

I think this issue has been already reported in https://github.com/seancorfield/honeysql/issues/184

Is there a way of getting that correctly formatted for postgres?

Thanks!!

[2020-06-26 19:58] seancorfield commented on #263
It looks like all the databases I test `next.jdbc` against will accept `AS` for the alias in that situation so it seems a safe change to make unconditionally.

[2020-06-28 18:59] seancorfield commented on #263
Confirmed that Oracle does **not** allow `AS` there: https://clojurians.slack.com/archives/C66EM8D5H/p1593369615166200?thread_ts=1593318708.165500&cid=C66EM8D5H

[2020-06-28 23:44] seancorfield commented on #263
I'll have to give this some careful thought. In order to support PostgreSQL fully here, I'd have to break Oracle support. The goal of HoneySQL has long been to remain as database-neutral as possible and focus on the common subset of ANSI SQL that "all" databases support, but it seems increasingly likely that having `format` behave differently based on some dialect selection is going to be required

[2020-06-29 00:47] jpmonettas commented on #263
Thanks Sean! In the meantime I'll fork it and move on with a quick hack.

[2020-06-30 22:22] WorldsEndless opened #264 "How to increment a field in one transaction?"
Many (most?) SQL have functions to increment a field, such as a views counter for a video table.

Here it is in Postgres https://stackoverflow.com/questions/10233298/increment-a-value-in-postgres

And  identical in MySQL: https://www.tech-recipes.com/rx/2139/mysql_increment_an_exisitng_value/

Is there a way to do this in Honey without writing a custom function?

[code]

[2020-06-30 22:26] WorldsEndless commented on #264
Apologies. As Honey is for queries, not updates, this issue clearly doesn't belong here.

[2020-06-30 22:26] #264 closed, assigned to nobody

[2020-06-30 22:31] WorldsEndless commented on #264
For any future investigators, one approach is here: http://clojure-doc.org/articles/ecosystem/java_jdbc/using_sql.html#updating-rows

[2020-06-30 22:48] jrdoane commented on #264
FWIW, I highly suggest looking into using `next.jdbc` instead, but you can use `execute!` with any query you want, including updates.
https://github.com/seancorfield/next-jdbc

[code]

[2020-06-30 23:25] seancorfield commented on #264
The readme has an example of this: https://github.com/seancorfield/honeysql#updates

[2020-07-01 11:14] stathissideris commented on #260
You mention `(dissoc :join)` but from reading the documentation I got the impression that the underlying map representation is undocumented and as such, it can change without warning. Because of that, I generally avoid touching the maps and try to do everything via the functions (as much as possible). Am I right in following this strategy? If so, the `dissoc` semantics should probably be "official

[2020-07-01 11:20] stathissideris commented on #260
More to the point of the ticket, I was never confused about merging and non-merging. I've seen developers who were unaware about the `merge-` variants and would end up reimplementing some version of them to manipulate the map representation. If the map representation was to become "official" (with a spec and everything!) maybe it would make sense to drop the "constructor" variants of the functions

[2020-07-01 18:16] mmower opened #265 "Missing variadic arguments causes hard to track down error"
In a query I am building I missed that `merge-where` is variadic and passed a collection instead of arguments. This lead to:

    Execution error (ClassCastException) at honeysql.format/format-predicate* (format.cljc:481).
    clojure.lang.PersistentVector cannot be cast to clojure.lang.Named

which was a little hard to track down as the query itself (using the helpers) was being generated fine.

[2020-07-01 18:57] seancorfield commented on #265
@mmower Can you provide a concrete repro case so I can take a look?

[2020-07-01 23:19] seancorfield commented on #260
I think you're right that the underlying map representation is undocumented but I know a _lot_ of people rely on it and actively _dislike_ the helper functions.

I'm beginning to come around to the idea of a ground-up rewrite of HoneySQL (in new namespaces) such that the map representation will become standard -- documented and fully covered by Spec -- and the format function will be dialect-aware

[2020-07-04 02:09] green-coder opened #266 "2.0 A `pretty-format` functionality"
While using HoneySQL, I found myself often having to insert new lines in the SQL statements generated by the `format` function in order to read them and see if the SQL is what I wanted to obtain.

It would be nice for the user to have a programmatic way to make the generated SQL string readable on multiple lines.

I imagine multiple approaches:
1. Having the `format` function take a `:pretty true`

[2020-07-04 11:15] niquola commented on #260
Take a look at https://github.com/niquola/dsql - probably you can merge some ideas. If you like the approach - I can help you with implementation.

[2020-07-19 21:03] frankiechz opened #267 "Assert failed: Alias should have two parts"
Hi, @seancorfield, thanks for honeysql. I'm really enjoying it.

I have an issue with version 1.0.444.

I have a table with multiple text array columns. When I try to insert to any of these columns **with one string in a vector**, I get the following assertion failture:

[code]

An example map being inserted:

[code]

The insert function:

[code]

The run function:

[code]

Has anyone seen this? A

[2020-07-19 21:27] seancorfield commented on #267
Can you try using `{:identifier 123 :genres #sql/array ["Genre"]}`, which should generate:
[code]
I don't know if PG will accept that in the SQL (I don't use PostgreSQL) and I realize it isn't a true solution to this.

[2020-07-19 22:03] frankiechz commented on #267
Thanks for the response, Sean.

Pardon me, I'm beginning Clojure development, how do you suggest I use `#sql/array` in the map like this?

[2020-07-19 22:05] frankiechz commented on #267
Thanks for the response, Sean.

[code]

Yes, this works without the assertion failure! :D Thank you.

Pardon me, I'm beginning Clojure development, how do you suggest I use #sql/array in the map via the example `insert!` function above? For example, if I already have the map all together being sent to the function -- how do I automatically insert #sql/array at every vector in the map?

[2020-07-19 22:26] seancorfield commented on #267
GitHub issues aren't a good place for that sort of interactive discussion. If you're just getting started with Clojure I'd strongly recommend joining the Clojurians Slack and ask that sort of question in the #beginners channel -- folks there have opted in to help new developers get up to speed on the basics. You can sign up for that Slack at http://clojurians.net -- the Slack itself is at https://

[2020-07-19 22:30] frankiechz commented on #267
Great. Thanks, Sean, and thanks again for an awesome library.

[2020-07-26 22:35] seancorfield commented on #265
_bump_ @mmower Any chance of a concrete example of this?

[2020-08-03 21:24] p-himik opened #268 "Check that the value passed to `sql/param` is actually present in the parameters map"
Every unspecified parameter becomes `nil`.
I would expect `sql/format` to fail here because I explicitly specify the need for the parameter, but don't pass any parameters at all.

[code]

[2020-08-03 21:30] p-himik opened #269 "Automatically dedupe parameter values with `identical?`"
If the very same value is reused in an sqlmap, it will be sent multiple times.
I think it's possible to dedupe such parameters, but it would require switching from `?` to positional parameters like `$1`. I have no idea if that's possible with JDBC.

[code]

[2020-08-04 01:42] seancorfield commented on #269
I don't think those `$N` parameters are portable across all databases so this feels like quite a bit of additional complexity for a relatively small gain. I'll do some testing and see how widely supported that is.

[2020-08-04 01:43] seancorfield commented on #265
Closing this out for lack of response.

[2020-08-04 01:43] #265 closed, assigned to nobody

[2020-08-04 01:56] seancorfield commented on #268
This seems to be the culprit:
[code]
Both arms should check `*input-params*` further:
* The `map?` clause should check `contains?`
* The else clause should check `seq`

[2020-08-04 09:14] p-himik commented on #269
Thanks! Perhaps, if the implementation is not that complicated, it could be put behind an extra flag to `sql/format`, similar to how `:quoting` works.

[2020-08-07 16:23] seancorfield opened #270 "2.0: General discussion about pain points and wish lists"
This ClojureVerse thread is a good place to list your pain points and your wish lists for 2.0: https://clojureverse.org/t/honeysql-what-do-you-want-from-2-0/6360

[2020-09-03 09:59] stathissideris opened #272 "UPDATE ... SET ... FROM ... WHERE rendered in incorrect order - regression"
The PG manual shows a form of updates which does an implicit join by using `FROM`. See https://www.postgresql.org/docs/12/sql-update.html and search for "A similar result could be accomplished with a join:"

[code]

HoneySQL (v1.0.444) renders this as UPDATE ... FROM ... SET ... WHERE ... - the order is wrong:

[code]
produces:
[code]

This used to work correctly in version 0.8.0.

[2020-09-03 16:04] seancorfield commented on #272
Use `:set0` instead of `:set` (or the `set0` helper instead of the `sset` helper) to get the "early" `SET`.

See #235 and #200 for the history on this. This is explained in the README: https://github.com/seancorfield/honeysql#updates

[2020-09-03 16:04] #272 closed, assigned to nobody

[2020-09-03 22:08] stathissideris commented on #272
OK, sorry about the false positive, thanks for the explanation!

[2020-09-24 04:31] quanticle opened #273 "Add dependency on org.clojure/java.jdbc"
I just brought in HoneySQL as a dependency on a new Clojure project and I received the following error when I started my REPL:

[code]

Adding `[org.clojure/java.jdbc "0.7.11"]` to the dependencies section in my `project.clj` fixed the issue. It looks like the JDBC classes were moved out of Clojure core and into `org.clojure/java.jdbc`. It would be nice if HoneySQL added this dependency itself to

[2020-09-24 04:37] seancorfield commented on #273
The JDBC classes have never been part of Clojure core. I took over maintenance of `clojure.contrib.sql` when the monolithic Contrib was broken up for the Clojure 1.3 release and renamed it `clojure.java.jdbc` -- it has always been a Contrib project. `clojure.java.jdbc` is no longer maintained -- `next.jdbc` is the 1.0 release that `clojure.java.jdbc` never got (because it required breaking compati

[2020-09-24 04:37] #273 closed, assigned to nobody

[2020-09-24 17:03] seancorfield opened #274 "2.0 group, artifact, and namespaces"
The 1.x (and earlier) versions of HoneySQL used the shorthand group/artifact name of just `honeysql` which the Clojure CLI is trying to discourage (in favor of org/user name group IDs).

Since the group/artifact is not tied to the namespaces, this is probably a good opportunity to adopt a proper group ID and, in keeping with `next.jdbc` and several other projects I maintain, I'm considering `seanc

[2020-09-24 17:23] seancorfield commented on #146
I'm developing HoneySQL 2.x at this point and planning to have some level of (optional) Spec support in it. I'm considering writing Specs for every "built-in" piece of syntax but it's made somewhat more difficult by the lack of documentation around the current data DSL so I pivoted from writing specs to writing a new formatting engine (that produces near-identical output for the existing formattin

[2020-09-24 17:30] seancorfield opened #275 "2.0 Minimum Clojure version support?"
HoneySQL 1.x supports Clojure 1.7 and later, as well as ClojureScript (I'm not sure which versions -- it's tested against whatever version `olical/cljs-test-runner` uses).

HoneySQL 2.x currently requires Clojure 1.9 because of the use of `boolean?` but that could easily be changed (and with that change it does still run on Clojure 1.7).

However, #146 (Spec support) is affected by this support: i

[2020-09-24 17:45] seancorfield commented on #269
There is a built-in "parameterizer" for PostgreSQL syntax -- I discovered it once I started writing HoneySQL 2.x -- it's an extensible system and it relies on dynamic variables and side-effects (via atoms) so it's a bunch of complexity I don't want to replicate in the 2.x version.

I'm going to close this out, but I would consider a PR against the 1.x version if you're still sufficiently intereste

[2020-09-24 17:45] #269 closed, assigned to nobody

[2020-09-24 17:56] seancorfield commented on #260
Now that I have broken ground on the 2.x rewrite it has solidified my thinking that documenting and possibly Spec'ing the data DSL will be a core focus and my (current) plan is to figure out a way to auto-generate a helper function for every known piece of syntax (including auto-generating helpers for any new clauses that users register). That would mean every piece of syntax would have a simple,

[2020-09-24 18:01] seancorfield commented on #261
As I'm working on 2.x, I ran across a related bit of functionality: in 1.x, `inline` effectively has the same "problem" as `raw`. In 1.x, if you `inline` a string, it becomes literal SQL syntax because there's no coercion to SQL types. I'm planning to side-step the whole `honeysql.types` stuff in 2.x and use "special syntax" (in an extensible way) so that what is currently `(sql/inline x)` will be

[2020-09-24 18:03] dharrigan commented on #274
I like your second approach. It promotes a cleaner upgrade path and those with the ability to jump to `honey.sql` easily could do that, by removing the old dependency and using the new one. Second approach gets my vote!

[2020-09-24 18:05] dcj commented on #275
I am totally fine wih 1.9 being minimum required version.
Suggest others with nothing more to add "thumbs up" this comment.

[2020-09-24 19:08] dharrigan commented on #275
I concur. There's a time when one has to draw a line and move forward. 1.9 and above gets my vote too!

[2020-09-25 17:11] seancorfield opened #276 "2.0 Gungnir currently hooks into fn-handler multimethod -- how will that work in V2?"
See https://github.com/kwrooijen/gungnir/blob/8815a230fd439a97e1db970ad89b08a323b625db/src/clj/gungnir/query.clj#L295-L363

The high-level need is to be able to apply before read/before save transformations to column values as part of the SQL building code -- essentially spotting column names that line up with parameter values and invoking the transformations as part of that.

[2020-09-26 06:48] seancorfield commented on #267
In HoneySQL 2.0, the `#sql/array` syntax will go away and `[:array ["Genre"]]` will be standard function syntax. This will also work in a `select` statement (although it will need an extra `[`...`]` wrapped around it to avoid confusion with an alias pair) so this should be simpler to use -- and it will also all be properly documented.

[2020-09-26 06:48] #267 closed, assigned to nobody

[2020-09-26 06:59] seancorfield commented on #266
In 2.0, `format` will accept a `:pretty? true` option that will add newlines into the generated SQL.

[2020-09-26 06:59] #266 closed, assigned to seancorfield

[2020-09-26 07:18] seancorfield commented on #263
I believe this will be fixed in V2 based on dialect support (which V1 does not have).

[2020-09-26 07:18] #263 closed, assigned to nobody

[2020-09-26 07:19] seancorfield commented on #272
Note: 2.0 will support multiple SQL dialects and explicitly handles this `set` priority issue.

[2020-09-29 09:02] pounard commented on #261
I wrote a similar query builder using another techno (PHP) and I solved this problem using two different solutions:

 - first trick is by creating types for values, allowing the user to disambiguate what is given to the raw query: so I ended up with types such as `expression(string, expression[])`, `value(<any value dynamically typed>, string type)` (which extends expression), and a few others. Fi

[2020-10-02 14:24] p-himik opened #277 "Need a way to order different JOIN clauses"
[code]
Notice how the formatted SQL string mentions t2 before it's defined because the LEFT JOIN clause ended up after the INNER JOIN clause.
The issue would be even more pronounced if you wanted to have interleaving INNER/OUTER joins.

My current workaround:
[code]

[2020-10-02 17:07] seancorfield opened #278 "2.0 Consider an EDN file to declare extensions for auto-registration"
See https://clojurians.zulipchat.com/#narrow/stream/180378-slack-archive/topic/honeysql/near/212097157 for the discussion.

Since we rely on side-effects for adding extensions, consider loading an EDN file on demand that could identify namespaces or functions to load/call that would register all the extensions, making it easier for libraries to extend HoneySQL and for users to add that initializat

[2020-10-02 19:22] camsaul commented on #107
just ran into this with HoneySQL 0.9.5

[2020-10-02 19:29] camsaul opened #279 ":union/:union-all should wrap args in parentheses"
Related: #107

Using HoneySQL 0.9.5. I ran into a SQL syntax issue with Postgres.

### Broken:

[code]

SQL:
[code]

### Fixed:

[code]

SQL:

[code]

[2020-10-02 19:54] seancorfield commented on #279
It's because of `limit` -- if you remove the `:limit 1` in both `:select` queries, then it would be valid syntax (and you can `limit` the whole thing if `:limit n` is at the same level as `:union`).

Given the complexities here -- different SQL dialects having different rules about how parentheses around `union` clauses and their sub-clauses behave -- I think adding a way to explicitly wrap parens

[2020-10-02 20:27] seancorfield commented on #279
In v2, there will be `{:nest ...}` syntax for statements and `[:nest ...]` syntax for expression to introduce a level of parentheses when the default generation of code doesn't have the nesting you need in any particular situation.

[2020-10-03 02:36] camsaul commented on #279
I mentioned this on the Clojurians Slack as well, but I think it would be a nicer experience for everyone if we just wrap things in parens by default in cases where we might need them. It doesn't hurt to have extra parens, but it does hurt not to have them. I think it's a nicer and easier API to have it work without having to remember (or know) to use `:nest`. If people need to opt-in to parenthes

[2020-10-03 03:09] seancorfield commented on #279
Well, you can't just wrap things in parentheses arbitrarily in SQL -- that was the original problem in #107 because there was an extra set of parens. And you don't need the parens in the vast majority of cases with union. I believe I've also run into a case, in MySQL, where if you add the parens, in some situations you also need to add an alias, even if nothing else in the query actually uses it.

[2020-10-07 18:19] camsaul commented on #279
It sounds like the issue in #107 was caused by wrapping the entire `UNION` expression in parentheses, e.g.

[code]
In #107 @tomconnors mentioned that

[code]
is ok. Is there any situation where wrapping only the subqueries (but not the entire `UNION` expression) would not be ok? If not, I think having this be the default behavior would make sense -- it would address this issue without causing a re

[2020-10-10 04:32] seancorfield commented on #279
This won't get fixed in 1.0, but in 2.0 I am not treating the `UNION` sub-expressions as nested (so they get parenthesized). We'll see whether that breaks anything as people do more testing of 2.0.

[2020-10-14 07:54] dharrigan opened #280 "Consider "SIMILAR TO" (in addition with ilike clause)"
Hi,

In addition to `ilike`, would it be possible to also add `similar to` which is part of `SQL:1999` (and `SQL:2003`). It would allow for better pattern matching (for example, supporting `%(a|b)%`)

Here is a linked PostgreSQL explaination:

https://www.postgresql.org/docs/11/functions-matching.html#FUNCTIONS-SIMILARTO-REGEXP

Thank you.

-=david=-

[2020-10-14 18:01] seancorfield commented on #280
Adding `:similar-to` and `:not-similar-to` as infix ops is trivial (done & pushed to v2).

Supporting the `ESCAPE` clause variant is a bit harder so I'll have to give them some thought.

[2020-10-14 18:53] dharrigan commented on #280
Thanks Sean! If i had known it was so easy, I would have done a PR myself! :-)

[2020-10-14 19:36] seancorfield commented on #280
I may have to implement `:similar-to-escape` as "special syntax" for the full version, but adding new infix ops is easy for end users in v2: https://github.com/seancorfield/honeysql/tree/v2#extensibility

[2020-10-15 23:13] littleli opened #281 "Improve Google BigQuery SQL compatibility"
BigQuery dialect of SQL includes an additional properties
- SELECT * EXCEPT
- SELECT * REPLACE
- WITH queries (like in Postgres)
- VALUE tables
- Literals for TIME, DATE, DATETIME, ARRAYs, STRUCTs

It would be nice to know how far we can get with current HoneySQL capabilities and improve in situations where capabilities are lacking and understand limits.

References
- [Query Syntax](https://cloud.

[2020-10-28 21:46] camsaul opened #282 "merge-where should merge new WHERE clause(s) into the existing clause -- otherwise repeated calls can cause Stack Overflows when compiling to SQL"
I'm actually running into a Stack Overflow error because the query that gets produced is nested too deeply.

Consider this example:

[code]

[code]

produces SQL like

[code]

It creates a separate `AND` conjunction for each clause (every time the function is called) instead of combining them into a single `AND` clause.

That's fine, but if you merge anywhere from a few hundred to a few thousand c

[2020-10-28 23:20] seancorfield commented on #282
Using the `merge` helper in HoneySQL v2 produces this:
[code]
There are no `merge-*` helpers in v2 because the basic helper already does the right thing.

Feel free to send a PR against v1, with tests, but, at this point, I'm not really planning any more 1.x releases. I'll leave this open until v2 is available.

[2020-10-29 00:20] camsaul commented on #282
Hi @seancorfield, PR is here: #283

I did a lot of other optimizations in there as well, such as automatically merging clauses together if they use the same conjunction, e.g.

[code]

maybe some of that stuff (or test cases) could be useful for v2.

[2020-10-29 00:20] #282 closed, assigned to nobody

[2020-11-12 08:51] SevereOverfl0w opened #284 "Lateral derived table support"
Docs for various vendors:

https://www.postgresql.org/docs/9.3/queries-table-expressions.html#QUERIES-LATERAL
https://www.ibm.com/support/knowledgecenter/en/SSGU8G_11.70.0/com.ibm.sqls.doc/ids_sqs_0254.htm
https://dev.mysql.com/doc/refman/8.0/en/lateral-derived-tables.html

My understanding is that a sub-query in `FROM` can be prefixed with `LATERAL` in order to make it lateral to derive from earl

[2020-12-04 10:11] aneilbaboo opened #285 "How to write an ORDER BY {EXPR} clause?"
I'm trying to write query where rows which match a clause appear first:

[code]
I'm trying the following:

[code]

And have tried variations, but I receive an error about the order-by expression.

[code]

What is the right way to pass an expression to ORDER BY in HoneySQL?

[2020-12-04 18:20] seancorfield commented on #285
This is a case where you have to be explicit about the "call" of the operator:
[code]
Questions like this are probably best asked either in the #honeysql channel of the Clojurians Slack (http://clojurians.net to sign up; https://clojurians.slack.com to chat) or in the #honeysql stream of the Clojurians Zulip Chat (https://clojurians.zulipchat.com).

[2020-12-04 18:20] #285 closed, assigned to nobody

[2020-12-04 18:29] seancorfield commented on #285
In HoneySQL 2.0, this will work as you originally wrote it, without needing the `call` invocation.

[2020-12-04 18:32] aneilbaboo commented on #285
Got it, thanks! I signed up for the Clojurians Slack.

[2020-12-08 16:46] seancorfield opened #286 "Support alternatives to NOWAIT"
For example, PostgreSQL has SKIP LOCKED.

[2020-12-08 16:50] SevereOverfl0w commented on #286
https://falseisnotnull.wordpress.com/2018/04/23/mysql-vs-mariadb-wait-nowait-skip-locked/ mariadb also seems to have wait

[2020-12-17 22:05] jgallinari opened #288 "How to use honeysql.core/call with array param ?"
Hi,
I need to call a Postgres stored procedure that expects a text[] parameter, but can't get it to work.
Maybe you can enlighten me?

If I try the following, here's what I get:

[code]

Any chance I could get something like:
[code]
?

NB: I've seen [The #sql/array syntax](https://github.com/seancorfield/honeysql/issues/85), but still no luck.
Thanks.

[2020-12-17 22:46] seancorfield commented on #288
I don't use PostgreSQL (and GitHub Issues aren't the best place to ask usage questions). Your best bet is to ask folks in the `#honeysql` channel on either the Clojurians Slack or the Clojurians ZulipChat (the former has more users, so a better chance of a PostgreSQL user being able to help you).

[2020-12-17 22:46] #288 closed, assigned to nobody

[2021-01-14 13:23] dharrigan opened #289 "Support USING for Delete for PostgreSQL (for HoneySQL v2)"
PostgreSQL uses the keyword `using` in order to perform joins when executing a [delete](https://www.postgresql.org/docs/11/sql-delete.html). Whilst it is entirely possible, with HoneySQL v1 to use the extensibility feature to add this into the mix, it would be good to allow this automagically for HoneySQL v2.

Here is an example using v1:

[code]

[2021-01-16 00:32] seancorfield opened #290 "Switch from readme to test-doc-blocks"
https://github.com/lread/honeysql/commit/dd0fa854c0e06ace40f5ecc269da3cc043eccb6f

Do this for both v1 and v2

[2021-01-20 22:15] markaddleman commented on #281
fwiw, we use BigQuery and it is not difficult to extend HoneySQL to support BQ SQL constructs.  I have implemented support for WITH, SELECT AS STRUCT, STRUCT.  A couple of examples:

Select as struct:
`(defmethod fmt/format-modifiers :struct [_] "AS STRUCT")`

The struct "function call" requires a bit of cribbing Honey's context to get the "AS" alias capability:
`(defmethod fmt/fn-handler "STRUCT"

[2021-01-31 05:50] seancorfield commented on #289
Supported in v2

[2021-01-31 05:50] #289 closed, assigned to nobody

[2021-01-31 05:58] seancorfield commented on #286
Fixed in v2

[2021-01-31 05:59] #286 closed, assigned to nobody

[2021-01-31 06:05] seancorfield commented on #275
v2 now requires 1.9 or later.

[2021-01-31 06:05] #275 closed, assigned to seancorfield

[2021-01-31 06:14] seancorfield commented on #274
The namespaces will be `honey.sql` and `honey.sql.helpers` and the group/artifact will be `seancorfield/honeysql` for v2

[2021-01-31 06:14] #274 closed, assigned to seancorfield

[2021-01-31 06:17] seancorfield commented on #260
v2 helpers are all "merge" by default. Anyone wanting the overwrite behavior will need to explicitly `dissoc` a key.

The v1 data structure is almost entirely preserved for v2 and will be documented and specified before release.

[2021-01-31 06:17] #260 closed, assigned to seancorfield

[2021-01-31 06:18] seancorfield commented on #146
Per #275 Clojure 1.9 will be the minimum version supported and I plan to document/spec the core data structure supported by v2.

[2021-01-31 06:57] seancorfield commented on #261
The v2 behavior:
* `[:raw "string"]` produces the literal `string` as SQL
* `[:raw ["vector" "of" "strings"]]` produces the literal `vectorofstrings` as SQL

Vector subexpressions are formatted as SQL & params so you can have `[:inline "string"]` which will produce `'string'` as SQL and `[:param :foo]` which will produce `?` as SQL and will use the value of the `:foo` parameter value in the format

[2021-01-31 06:57] #261 closed, assigned to seancorfield

[2021-01-31 20:57] seancorfield commented on #268
This check is performed in v2. Both `:?foo` and `[:param :foo]` are supported in v2 and they both check that the named parameter is passed to `format` (as part of a consolidated options hash map, under the `:params` key).

I'll leave this open for now: I'm not sure whether I'll fix this in v1 at this point.

[2021-02-01 17:06] codonnell-reify opened #291 ":values behavior confusing with heterogeneous maps"
The current behavior for formatting `:values` clauses determines the columns by using the keys from the first map. If a user provides maps with extra keys on subsequent maps, those values will be silently omitted. This behavior can be somewhat confusing if you're not aware of it.

[2021-02-01 18:45] seancorfield commented on #291
Fixed in v2: pads missing columns with `NULL` values; both vectors and maps have been updated to be consistent lengths.

[2021-02-01 18:45] #291 closed, assigned to nobody

[2021-02-01 23:26] seancorfield opened #292 "Add top, fetch, offset"
Move limit/offset to MySQL. Add fetch/offset to ANSI. Add top to SQL Server.

I think there are examples in the `next.jdbc` test suite?

[2021-02-02 00:27] seancorfield commented on #262
@jrdoane TOP/LIMIT etc will be handled in #292 and I'm declaring the rest of this issue "done" based on the current state of the v2 branch.

[2021-02-02 00:27] #262 closed, assigned to seancorfield

[2021-02-02 00:30] seancorfield opened #293 "Review honeysql-postgres and ensure all features can be done in v2"
https://github.com/nilenso/honeysql-postgres

Some of the features from that library are already supported in v2, even in its pre-alpha state, but others will need some work.

In particular, it will be worth noting in the documentation that you cannot use honeysql-postgres with v2 because the extension mechanism is different!

[2021-02-02 00:39] seancorfield opened #294 "Global inline mode doesn't cover all cases"
Currently, `format-var`, `:lift`, and `:param` side-step the check on `*inline*.

[2021-02-02 00:42] seancorfield opened #295 "Add docstrings to all the helper functions!"
Argh!

[2021-02-02 01:04] seancorfield opened #296 "Consider 0-arity fns with no parens"
Seen in the nilenso-postgres library, things like `[:primary-key]` producing just `PRIMARY KEY`. This would allow for `[:default]` to be treated as a function that had no `()`.

[2021-02-02 01:15] seancorfield commented on #296
This may be easier to do via special syntax and have a generic function and then `swap!` entries into that syntax for all the relevant parameterized keyword style things.

[2021-02-08 00:54] seancorfield opened #297 "Add support for SELECT .. INTO"
SELECT cols INTO var

also

SELECT cols BULK COLLECT INTO array_var

This will benefit RETURNING as well.

[2021-02-08 18:04] seancorfield opened #298 "CTE can have multiple definitions"
I had thought that CTE could only have one definition and changed the logic so `:with` could take a single pair instead of a sequence of pairs, but https://www.postgresql.org/docs/9.1/queries-with.html makes it clear that it _can_ have multiple pairs so I need to revert that "optimization" and update the docs and tests accordingly.

[2021-02-09 16:06] Karkunow opened #299 "SQL Injection in insert statements"
Hello!

I've been using HoneySQL for a few years on a project. And yesterday I've found this error:
1. Assume you have some insertion like this, where `name` and `enabled` variables come directly from the user HTTP-request:
[code]
2. Now, if someone will try and pass through HTTP-request non-boolean value into the `enabled` field like this:
`[true, "); SELECT case when (SELECT current_setting('is_

[2021-02-09 18:48] seancorfield commented on #299
I'm working on v2 at the moment and that is not an injection problem there:
[code]
Note the `(TRUE, ?)` so the attempted injection goes into a parameter so it is safe (and the insert will fail).

However, on 1.0, you are correct that it a bug:
[code]
Since this is a security issue, I will take a look and fix it on the 1.0 branch in the next few days. Thanks for the report!

[2021-02-09 19:15] Karkunow commented on #299
@seancorfield thank you! appreciate your help!

[2021-02-10 20:05] #298 closed, assigned to seancorfield

[2021-02-13 05:54] seancorfield commented on #296
This has been done in the special syntax form. Everything from the nilenso library works out of the box.

[2021-02-13 05:54] #296 closed, assigned to nobody

[2021-02-13 05:58] seancorfield commented on #279
I think this is correct in v2 so I'm going to close this out now.

[2021-02-13 05:58] #279 closed, assigned to nobody

[2021-02-13 06:01] seancorfield commented on #268
This is not going to get fixed in v1 unless someone sends a PR so I'm going to close this out.

[2021-02-13 06:01] #268 closed, assigned to nobody

[2021-02-13 06:07] seancorfield commented on #293
I think I have everything now. The last two pieces to do:
* add a test namespace with the equivalent versions of the tests from the nilenso library
* add a section to the docs that shows the equivalent to everything in the nilenso readme

[2021-02-14 05:30] #294 closed, assigned to nobody

[2021-02-14 05:31] seancorfield commented on #293
The test namespace is added. The original tests need to be inlined as comments. And we need a PostgreSQL section in the docs.

[2021-02-14 05:49] seancorfield commented on #270
Everything in that thread is either already addressed in v2 or is covered by a specific issue in GitHub.

[2021-02-14 05:49] #270 closed, assigned to seancorfield

[2021-02-16 00:28] seancorfield commented on #293
The original tests are all inlined as comments now.

[2021-02-17 22:45] seancorfield opened #300 "Q: should you be able to combine columns with hash maps for insert?"
Per @borkdude on Slack, this currently generates invalid SQL rather than giving an error.

Possible behaviors:
* have `columns` do a `select-keys` on the union of keys from the hash maps?
* have `columns` do a `select-keys` on the union of keys from the hash maps -- and complain if it is looking for a column that isn't present in at least one hash map?
* disallow `columns` if hash maps provided in

[2021-02-19 15:50] dharrigan opened #301 "Please consider adding support for Create/Refresh/Drop Materialized Views in HoneySQL v2"
Hi,

Now that the Nilenso extensions have been brought into HoneySQL v2, it would be great if it could additionally support materialized views.

https://www.postgresql.org/docs/13/sql-creatematerializedview.html

In several of my projects, using HoneySQL v1, I currently do this:

`(-> (sql/raw (str "refresh materialized view " view " with data"))`

and in my migration scripts, I have this:

[code]

[2021-02-22 12:15] Karkunow commented on #299
@seancorfield could you please tell me when this bug is expected to be resolved? thank you!

[2021-02-22 18:07] seancorfield commented on #299
@Karkunow I was sick last week (horrible reaction to a shingles vaccination!) but I'm working on it today, sanctioned by my employer.

[2021-02-22 19:05] #299 closed, assigned to seancorfield

[2021-02-23 02:40] seancorfield opened #303 "MySQL ON DUPLICATE KEY"
Because it does upserts differently...

[2021-02-23 21:05] JoppeSchwartz opened #304 "Returning inserted values from multiple insert"
We're struggling a bit trying to return inserted values from a multiple insert using `clojure.java.jdbc/execute!`.
Without the jdbc `:multi?` option, `execute!` only returns one of the inserted rows.

So, we tried to set the `:multi?` option as in the following:
[code]

When the `:multi?` option is set, `execute!` expects a vector of parameters to follow the SQL; however, the generated argument lo

[2021-02-23 23:00] seancorfield commented on #304
Both `clojure.java.jdbc`'s `:multi?` option and `next.jdbc`'s `execute-batch!` are incompatible with the raw output of HoneySQL's `format` function. For both libraries, you will need to use a `let` binding to destructure the output of `format` and then pass the transformed data to the JDBC library.

However, you probably _can_ use HoneySQL's `format` function directly with `next.jdbc`'s regular `e

[2021-02-23 23:00] #304 closed, assigned to nobody

[2021-02-24 10:16] Karkunow commented on #299
@seancorfield sorry to hear that! hope you're feeling good now!
Thank you for the fix! It is really on time for my project :)

[2021-02-24 15:11] JoppeSchwartz commented on #304
Thanks for the quick and informative response @seancorfield ! We started taking a look at format function, and will continue that work as we migrate to `next.jdbc`. What's the best place to continue this discussion?

[2021-02-24 20:09] seancorfield commented on #304
Probably either the `#honeysql` or `#sql` channels on Slack or on Zulip (Clojurians for both).

[2021-02-27 13:43] brjann opened #305 "Can't use :raw to specify join table"
I am working with camel cased named tables and columns and I don't want to pollute my editor's keyword autocompletion with `:MyTable` etc. So I use `:raw` a lot to give table and column names in strings instead.

The following works in HoneySQL 1
[code]
However, the corresponding does not work in HoneySQL 2

[code]

Works fine without the `:join` clause
[code]

[2021-02-27 15:34] quan-nh opened #306 "Add support for CREATE TABLE .. AS"
CREATE TABLE AS — define a new table from the results of a query https://www.postgresql.org/docs/current/sql-createtableas.html

[2021-02-27 17:17] seancorfield commented on #306
Lots of additional syntax options there. I'll have to think about how much of `:create-view` this could share with. https://www.postgresql.org/docs/13/sql-createview.html and whether it might be worth treating `:as` as a clause in its own right to make certain things easier. Also maybe `:with-data true/false` as a clause might be worthwhile.

[2021-02-27 17:21] seancorfield commented on #305
Thanks for the report. I can confirm that just formatting the `:join` on its own triggers the CCE. Almost certainly a bug (probably caused by a conflict with other aspects of `:join`'s syntax).

[2021-02-27 18:12] brjann commented on #305
Great, thanks!

[2021-03-02 17:41] seancorfield opened #307 "Make README clearer about helper functions"
Per feedback on Slack from @borkdude :

[2021-03-02 18:27] seancorfield commented on #307
In particular, make it clear that every SQL clause supported by HoneySQL is available both in data structures (as a keyword or symbol) and in helpers (as a function name).

In addition, note that most special syntax and operators do **not** have helper functions!

[2021-03-02 18:29] borkdude commented on #307
The main README emphasizes the `insert-into` function while `:insert-into` is also possible. Maybe change the examples and add more links to "read more here" docs.

[2021-03-07 06:13] seancorfield commented on #305
Fixed in next v2 release.

[2021-03-07 06:13] #305 closed, assigned to seancorfield

[2021-03-07 06:25] #293 closed, assigned to seancorfield

[2021-03-08 01:08] #307 closed, assigned to nobody

[2021-03-08 03:32] seancorfield commented on #277
This has been implemented in v2 as `:join-by` or `join-by` (helper). See the docs because the syntax is a little different: the join clauses should be exactly the same format as the regular join format.

I am considering allowing the `join-by` helper to also support using the various join helpers to build individual sequences, maybe later.

[2021-03-08 03:32] #277 closed, assigned to nobody

[2021-03-08 03:34] seancorfield opened #308 "Consider join-by using various join helpers"
Currently ,the `join-by` helper just expects a sequence of alternating join types and clauses but it might be nice to allow join helpers to build those, so `join-by` would have to accept hash maps (of single key/value) and expand them into the sequence.

[2021-03-08 19:58] seancorfield opened #309 "Make sure new where/having helper docs are up to date"
I believe `where` now accepts `(where := :a 42)` -- it certainly accepts `(where :or [:= :a 42])` -- so we probably need a few more tests and some updates to the documentation (only on the helper functions, I think).

[2021-03-10 20:14] samrose commented on #304
@seancorfield would you mind leaving an example here of

using next.jdbc? Thanks!

[2021-03-10 20:37] seancorfield commented on #304
Off the top of my head:
[code]
Where `n` is however many columns you are inserting.

[2021-03-11 17:16] seancorfield opened #310 "Track new honeysql-postgres changes"
FILTER/WITHIN, updates to OVER/WINDOW functions etc: https://github.com/nilenso/honeysql-postgres/compare/7adf21b507bca1d22e4acd6c94e57fe3a5fa7e8b..master

[2021-03-12 02:06] seancorfield commented on #301
I'm looking to consolidate several create* things at this point so I'm looking at somehow implementing a generate syntactic patterns that allows me to map onto:

[code]

So far I have a generic `format-create` function that takes `:the-thing` followed by `entity` or a collection where `entity` is the "last" element, optionally followed by `:if-not-exists`, and any elements prior to the `entity` be

[2021-03-12 19:40] seancorfield commented on #301
[code]
(and there are helpers for all of that)
[code]
and
[code]

[2021-03-12 19:43] seancorfield commented on #306
Will be in next v2 alpha.

[2021-03-12 19:43] #306 closed, assigned to seancorfield

[2021-03-12 19:44] seancorfield commented on #301
Will be in next v2 alpha.

[2021-03-12 19:44] #301 closed, assigned to nobody

[2021-03-12 23:42] seancorfield commented on #280
Since you can have `ESCAPE` on all of the regex patterns, I added a special syntax so you can have a pattern with its escape characters for any op, e.g.,
[code]

[2021-03-12 23:42] #280 closed, assigned to nobody

[2021-03-13 00:13] #303 closed, assigned to nobody

[2021-03-13 20:38] #292 closed, assigned to nobody

[2021-03-13 21:13] #284 closed, assigned to nobody

[2021-03-13 21:46] #297 closed, assigned to nobody

[2021-03-13 23:36] #295 closed, assigned to nobody

[2021-03-15 20:23] brjann opened #311 "Can't use :raw as key in set clause"
Works in Honeysql 1

[code]

Does not work in Honeysql 2
[code]

[2021-03-15 21:22] seancorfield opened #312 "Consider :raw as a pseudo-clause"
In the same way that `:nest` exists both as special syntax (function-like) and a clause, `:raw` probably should have a clause equivalent as well, to allow for arbitrary syntax that HoneySQL doesn't support at the top level.

@dcj in case you have thoughts on this since this idea came out of a discussion we just had on Slack.

[2021-03-15 21:50] seancorfield commented on #161
Oops, wrong issue.

[2021-03-15 21:51] seancorfield commented on #312
Closed via https://github.com/seancorfield/honeysql/commit/fd84864279e9d2c3eb040ffd8893d106d28b3ffd

[2021-03-15 21:51] #312 closed, assigned to nobody

[2021-03-15 22:09] seancorfield commented on #311
I'm actually shocked that worked in V1 -- it certainly wasn't intentional to allow that: a column name in a `SET` clause is not an expression context, it's an entity context.

If your goal is simply to quote an awkward column name, I'd recommend just telling HoneySQL to quote all symbols which happens via the `{:quoted true}` option argument to `sql/format` -- in V1 it was `:quoting :<dialect>` an

[2021-03-15 22:15] brjann commented on #311
This is actually related to the same goal of not bloating my IDE's autocompletion with `:CamelCased` keywords that I explained in #305. I'm working with a legacy database with lots of column names like `UserID`, `OrderCount` and I would prefer to not have `:UserId` and `:OrderCount` invade my autocompletion...

Is there a way I can get Honey SQL 2 to produce `"UPDATE table SET OrderCount = OrderCo

[2021-03-15 22:50] seancorfield commented on #311
So you're making your code much harder to read, just to avoid your editor trying to auto-complete based on keyword usage?

#305 was a bug: (certain) expressions should have been allowed in that context. Looking at the ANSI SQL docs, it's much harder to justify allowing an expression where a column name should go!

[2021-03-15 22:53] brjann commented on #311
@seancorfield:  I'm just trying to keep that old database structure from creeping into my codebase. But you're quite right, the code is harder to read. Maybe silly, yes.

[2021-03-15 23:06] brjann commented on #311
It would be awesome though if it was possible to just write a string in that entity context

[code]

[2021-03-15 23:12] brjann commented on #311
And this actually works, but I guess that it should not since OrderCount is also in entity position here?

[code]

[2021-03-15 23:15] seancorfield commented on #311
`select` allows arbitrary expressions in that context, e.g., `select year(somedate) as yy from ...`

[2021-03-15 23:16] brjann commented on #311
@seancorfield, yes of course! Sorry

[2021-03-15 23:17] seancorfield commented on #311
[code]

[2021-03-15 23:18] seancorfield commented on #311
Note: that's not going to work for MySQL-style quoted names -- it's sort of by accident that it works for ANSI-quoted names.

[2021-03-15 23:22] brjann commented on #311
Yes, I'm using MySQL so I couldn't use string keys. But in this case it is actually easy to solve - I'll simply keywordize the keys in a `:set` clause before sending them to `format`.

(and I have implemented a function `$` such that `($ "OrderCount")` returns ``[:raw "`OrderCount`"]``, so the code is not quite as horrible as my examples here)

[2021-03-15 23:33] seancorfield commented on #311
If you call `(sql/set-dialect! :mysql)` at the start of your program, you could use strings in `set` and it would "do the right thing":

[code]
That would seem to be an elegant solution for your needs?

I happen to be using the latest from GitHub there but 2.0.0-alpha3 should also work like this. In fact, even Alpha 1 works like that:

[code]

Going to close this since using a string is the approp

[2021-03-15 23:33] #311 closed, assigned to nobody

[2021-03-15 23:51] seancorfield opened #313 "Document entity formatting in more detail"
While keywords and symbols are treating identically, strings are treated literally and automatically quoted to match the current dialect.

That means, for example, that `:set {"col" 1}` will produce `SET "col" = 1` for ANSI (default) and `SET [col] = 1` for MS SQL Server (and with backticks for MySQL).

[2021-03-16 07:57] brjann commented on #311
Thanks @seancorfield. I hadn't actually tried using a string as key since it doesn't work anywhere else. Thank you for all your work on Honey SQL!

[2021-03-16 14:51] brjann opened #314 "Document that tuples require :composite in V2"
I'm not sure if this is a bug. I can't remember where I located the syntax that made this work in HoneySQL 1, so maybe it should not have worked there.

Honey SQL 1
[code]
The matching of tuples in the `IN` clause is correctly identified .

Honey SQL 2
[code]
`[:col1 :col2]` is identified as a function call `COL1(col2)`

I hope that I am not bothering you with a non-bug again!

[2021-03-16 16:28] seancorfield commented on #314
This is an interesting one. V1 was pretty inconsistent about whether it treated `[:kw ...]` as a function call or not whereas V2 is very consistent: `[:kw ...]` is _always_ a function call. I suspect this "worked by accident" in V1 but it is certainly a useful construct so I'll see whether there's already a way to do this in V2 or whether I'll need to add some additional syntax.

[2021-03-16 16:32] seancorfield commented on #314
Confirmed that it works in 1.0 and 0.9 releases so it's been supported for quite a while. It will definitely need a slightly different syntax in V2 since `[:kw ...]` has to resolve to a function call "everywhere".

[2021-03-16 16:36] seancorfield commented on #314
Ah, yes. `:composite` is what's needed here:
[code]
There's also a helper so `(composite :col1 :col2)` would work as well.

I'll make this a documentation issue and close it once I've updated the docs.

[2021-03-16 16:48] brjann commented on #314
Thanks!

[2021-03-19 21:43] brjann opened #315 "Could :in support NULL?"
SQL handles `NULL` in a special way, so you cannot write `WHERE col = NULL`. HoneySQL helps you out by parsing `[:= col NULL]` as `col IS NULL`.

`IN` has the same problem. `col IN (1,2,NULL)` does not work as expected, it does not return true if `col` is `NULL`

Would it be too much magic if HoneySQL did something similar with `IN` as it does with `=`?

I.e. instead of `[:in col [1 2 nil]]` => `[

[2021-03-19 22:17] seancorfield commented on #315
That feels like "too much magic" to me but I'll give it some thought.

[2021-03-31 16:05] rbobrowicz opened #316 "SQL Injection in dynamic columns created with the keyword function"
I was playing around with honeysql yesterday and noticed that if you create a keyword from a string using `keyword` you can inject sql into column/table names. Minimal example:

[code]

This could easily happen if situations where, for example, you have user defined sorts being passed in as strings. Is this something that honeysql should be trying to catch? Or is it more of a "user beware" situati

[2021-03-31 17:54] seancorfield commented on #316
For some database drivers, that will fail to execute -- some (most?) drivers default to only allowing one SQL statement per `execute()` call and with MySQL at least you have to explicitly enable multi-statement execution (and there are caveats in the MySQL docs about not doing that precisely because of the risk of SQL injection!).

That said, HoneySQL certainly could check anything that is intende

[2021-04-01 07:03] aratare-jp opened #317 "Setting new values does not work with fully qualified keywords in PostgreSQL"
# Context
I'm trying to update a row in a PostgreSQL table with the following code:

[code]

# Problem
The above query will fail because:

- HoneySQL will translate such query into `... SET "foo"."bar" = 1 ...`, and
- PostgreSQL does not accept table name in `SET` clause.

# Expected behaviour
There should be a way to disable inclusion of table name in `SET` clause for PostgreSQL, or this should b

[2021-04-01 19:51] seancorfield commented on #317
You can either use a `:git/url` dep with `:sha "06f25ed2e3f96abce4920feca6034f954e138277"` or wait for the next alpha build.

[2021-04-01 19:51] #317 closed, assigned to seancorfield

[2021-04-02 01:26] aratare-jp commented on #317
Will do. Thanks :)

[2021-04-09 22:00] yenda opened #318 "Support for EXISTS"
It looks like this was supported in the v1: https://github.com/seancorfield/honeysql/pull/76/files

[2021-04-09 22:03] yenda opened #319 "Clause seems to register multiple time with register-clause!"
I have been trying to implement the exists clause, and despite using a `defonce`, it seems like I'm getting it registered multiple time:

[code]
It seems like it is happening when I do a refresh of the namespace with cider.

[code]

[2021-04-09 22:39] seancorfield commented on #319
Even though that sounds like a bug/problem in your tooling somewhere, I should ensure that if you somehow register the same clause twice, it should not end up as two separate renderings like that!

[2021-04-09 23:00] seancorfield commented on #318
See https://cljdoc.org/d/seancorfield/honeysql/2.0.0-alpha3/doc/differences-from-1-x#exists

It was implemented incorrectly in V1. In V2 it's "just" a function.